<div class="col-md-4 col-md-offset-4">
    <h1 class="centered">ThesauRex</h1>
    <div class="well">
        <form ng-submit="loginUser(user.email, user.pw)">
            <div class="form-group">
                <label for="email">Email Address</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-fw fa-envelope"></i>
                    </div>
                    <input id="email" class="form-control" type="text" placeholder="Email Address" ng-model="user.email" />
                </div>
            </div>
            <div class="form-group">
                <label for="pw">Password</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-fw fa-unlock-alt"></i>
                    </div>
                    <input id="pw" class="form-control" type="password" placeholder="Password" ng-model="user.pw" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <button type="button" class="btn btn-default" ng-click="guestLogin()">Login as Guest</button>
        </form>
    </div>
    <div ng-if="loginError.message.length > 0" style="padding-top: 10px;">
        <p class="alert alert-info unpadded-alert">
            {{ loginError.message }}
        </p>
    </div>
</div>
