.logo {
    height: 24px;
    width: 24px;
    display: inline-block !important;
    vertical-align: middle;
}

#literature-table thead {
    background: white;
}

#langSwitch {
    text-align: right;
}

li .angular-ui-tree-placeholder {
    background-color: rgba(0, 50, 120, 0.25);
}

.activeLang > span.f16 {
    filter: grayscale(0.75);
}

a.activeLang {
    color: gray !important;
}

/* override flag settings */
.flag {
    vertical-align: middle !important;
}

.hovered-row {
    background-color: rgba(225, 225, 225, 0.25);
}

#navigation {
    padding-bottom: 20px;
}

.login-header {
    text-align: center;
    margin-bottom: 15px;
}

.unpadded-alert {
    margin-bottom: 0;
}

.link-icon {
    color: #333;
    margin-right: 10px;
}

.navbar-inverse .link-icon {
    color: #9d9d9d;
}

.marker-point {
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.5);
}

.ui-select-bootstrap > .ui-select-choices, .ui-select-bootstrap > .ui-select-no-choice {
    min-width: 100%;
    width: auto;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.nav-undecorated, .nav-undecorated > li {
    border: none !important;
}

.nav-inline {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px 10px 10px;
}

.uib-datepicker-popup.dropdown-menu {
    padding: 10px;
}

.list-group-item {
    word-wrap: break-word;
}

.list-item-edit {
    width: 60%;
}

.item-edit-tab {
    display: inline;
}

textarea {
    resize: vertical;
}

.form-group-unpadded {
    margin: 0 !important;
    padding-bottom: 0 !important;
}

.inline-edit {
    border: none;
    border-bottom: 1px solid gray;
    font-style: italic;
}

.inline-list {
    margin-bottom: 0;
    margin-top: 8px;
}

ol li.list-group-item {
    list-style: decimal inside;
    display: list-item;
}

.clickable {
    cursor: pointer;
}

.nowrap {
    white-space: nowrap;
    overflow-x: hidden;
}

.unlinked-item.ng-enter {
    animation: zoomIn 0.75s;
}

.unlinked-item.ng-leave {
    animation: zoomOut 0.5s;
}

.hideable-list.ng-hide-add {
    animation: fadeOut 0.5s;
}

.hideable-list.ng-hide-remove {
    animation: fadeIn 0.5s;
}

.animated-item.ng-enter {
    animation: fadeInDown 0.5s;
}

.animated-item.ng-leave {
    animation: fadeOutUp 0.5s;
}

.spinner-container {
    width: 25px;
    height: 25px; /*added*/
}

.spinner-container::before {
    content: '';
    display: block;
    /*padding-top: 100%;*/
}

.circle-img-path {
    animation: rotate 2s infinite linear;
    height: 25px;
    width: 25px;
    transform-origin: center center;
}

.circle-path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes color {
    100%,
    0% {
        stroke: red;
    }
    40% {
        stroke: blue;
    }
    66% {
        stroke: green;
    }
    80%,
    90% {
        stroke: orange;
    }
}

.wide-modal .modal-dialog {
    width: 70%;
}

.shrinked-modal {
    width: 80%;
    margin-left: 10%; /* (100%-width)/2 */
}

.left {
    text-align: left;
}

.width-90 {
    width: 90%;
}

.modal-list {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    /*text-align: left;*/
}

.scrollable-modal {
    max-height: calc(100vh - 20vh);
    overflow-x: auto;
}

.thumb-wrapper {
    position: relative;
    height: 225px;
}

.thumb {
    display: block;
}

.overlay {
  background: rgba(51, 123, 184, 0.5);
  bottom: 0;
  font-size: 1.5em;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding-top: 3em;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  cursor: pointer;
}

.overlay:hover {
    opacity: 1;
    animation: fadeIn 0.5s;
}

.overlay-icon {
    color: #FFFFFF;
    font-size: 2em;
}

.padded-content {
    padding-top: 10px;
}

.progress {
    height: 20px !important;}
}

.external-container {
    position: relative;
}

.external-container .external-content {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    width: 100%;
    text-align: right;
    padding: 10px 20px 0 0;
    display: none;
}

.external-container:hover .external-content {
    display: inline-block;
}

#modalImage {
    max-width: 100%;
    max-height: 100%;
}

.delete-icon {
    color: gray;
    font-size: 0.75em;
    cursor: pointer;
    float: right;
    padding-top: 2px;
    margin-left: -12px;
}

.hidden-del {
    display: none;
}

.deletable {
    padding-right: 15px;
}

.pages {
    float: right;
    margin-right: 20px;
}

.navbar {
    border-radius: 0;
}

.thumb-wrapper {
    max-height: 225px;
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
}

.source-link {
    cursor: pointer;
    /*color: #337ab7;*/
    /*color: rgba(255, 0, 0, 0.75);*/
}

.td-50 {
    width: 50%;
}

.word-break {
    word-wrap: break-word;
}

.legend {
    padding: 6px 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.9);
    line-height: 20px;
    border-radius: 3px;
    color: #555;
    width: 115%;
}

.legend i {
    color: #777;
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* use the 'Open Sans' font */
/*h1, h2, h3, h4, h5, h6, p, divbody, .leaflet-container, text {
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}*/

/* use mozilla's 'Fira Sans' font */
/*h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans';
    text-transform: uppercase;
    font-weight: 400;
}
p, div {
    font-family: 'Fira Sans';
}*/

.is-right {
    float: right;
}

/* right-side nav */
.tabs-right > .nav-tabs {
  border-bottom: 0;
}

.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

/* modal */
.modal-header {
    text-align: center;
    padding: 0;
}

.modal-body {
    padding: 5px;
    text-align: center;
}

.modal-footer {
    border: none;
}

.selected-leaf, .selected-leaf-child {
    /*color: red !important;*/
    font-weight: bold;
}
.selected-leaf {
    font-weight: normal;
}

#tree-container, #attribute-container, #addon-container, #literature-container, .attribute-editor-column {
    overflow: auto;
}

.angular-ui-tree-handle {
    cursor: pointer;
    font-weight: normal;
}

.expandable-toggle {
    cursor: zoom-in;
}

.disabled {
    cursor: not-allowed;
}

@media(max-width:767px){
    ul.nav li a span.tab-desc {
        display: inline;
    }
}
@media(min-width:768px){
    ul.nav li a span.tab-desc {
        display: inline;
    }
}
@media(min-width:992px){
    ul.nav li a span.tab-desc {
        display: none;
    }
}
@media(min-width:1200px){
    ul.nav li a span.tab-desc {
        display: inline;
    }
}

.floating-tab-md-11 {
    position: absolute;
    background-color: white;
    height: 100%;
    margin-left: 6.78%; /* hacky */
    box-shadow: -15px 0 15px -10px rgba(50, 50, 50, 0.5);
}

.centered {
    text-align: center;
}

.centered-full {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.contextPrefix {
    color: gray;
}
/*.contextPrefix::before {
    content: '['
}
.contextPrefix::after {
    content: ']'
}*/

.type-desc {
    color: gray;
}
.type-desc::before {
    content: ' ['
}
.type-desc::after {
    content: ']'
}

/* contextMenu */
body > .angular-bootstrap-contextmenu.dropdown {
    background-color: rgba(0, 0, 0, 0.05);
}

/* font awesome styles */
.fa-light {
    /*color: rgba(0, 0, 0, 0.6);*/
    opacity: 0.6;
}

.fa-small {
    font-size: 0.9em;
}

.fa-limegreen {
    color: limegreen;
}

.fa-green {
    color: green;
}

.fa-red {
    color: red;
}

.fa-cyan {
    color: DarkTurquoise;
}

.fa-addon {
    cursor: pointer;
    font-size: 0.8em;
    position: absolute;
    left: 6px;
    top: 7px;
}

g.leaf > rect {
  stroke: #ff0000;
  stroke-width: 0.25px;
  fill: green;
  opacity: .5;
}

g.leaf > text {
  fill: #000;
}

g.compound > rect {
  opacity: 0.5;
  fill: transparent;
}

.node {
}

.link {
  stroke: #000;
  stroke-width: 0.5px;
  stroke-opacity: 1;
  fill: none;
}

/* Material Icons (should be part of the bower component) */
ul.nav .material-icons, button .material-icons, ul.dropdown-menu .material-icons, span.snackbar-content .material-icons {
    vertical-align: bottom;
}

.btn-fab-minime {
    height: 24px !important;
    min-width: 24px !important;
    width: 24px !important;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-96 {
    font-size: 96px;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.material-icons.placeholder {
    width: 24px;
    height: 24px;
}

.material-icons.placeholder.md-18 {
    width: 18px;
    height: 18px;
}

.material-addon {
    cursor: pointer;
    font-size: 12px !important;
    position: absolute;
    right: -2px;
    top: 8px;
}

.list-group-item {
    margin: 5px 0 5px 0;
}

.hg-100 {
    height: 100%;
}

/* three.js */
#threejs-container > canvas {
    width: 100% !important;
    height: 100% !important;
}

/* MATERIAL DESIGN PATCHES >> */
/* input controls */
span.btn {
    text-transform: none !important;
}
/* static text in form */
.form-control-static {
    font-size: 16px !important;
    padding-bottom: 0 !important;
}
.modal-dialog .control-label {
    margin-top: 2px !important;
}
/* form control label */
.control-label {
    font-size: 16px !important;
    color: rgb(119, 119, 119) !important;
    padding-bottom: 7px !important;
    margin-top: -3px !important;
}
/* multi-select selected items */
.ui-select-match-item span + span {
    font-size: 14px !important;
}
/* dropdown box */
.ui-select-toggle {
    margin-top: 0 !important;
}
/* btn-xs is barely legible at 10px */
.btn.btn-xs, .btn.btn-sm {
    font-size: 13px !important;
}
/* << MATERIAL DESIGN PATCHES */

/* Leaflet popups have fixed width, and buttons have nowrap, so buttons with longer text cross the popup border. This should fix that */
.leaflet-popup .btn {
    white-space: normal !important;
}
