<div ui-tree-handle style="display: table;">
    <div style="display: table-cell;">
        <a ng-click="toggle(this)" ng-if="parent.children.length > 0" class="expandable-toggle">
            <span class="fa fa-fw" ng-class="{ 'fa-plus-square-o': parent.collapsed, 'fa-minus-square-o': !parent.collapsed}" aria-hidden="true">
            </span>
        </a>
        <span class="fa fa-fw" ng-if="!parent.children || parent.children.length == 0"></span>
    </div>
    <span style="display: table-cell; padding-left: 4px;">
        <a ng-click="setSelectedElement(parent, treeName)" class="tree-level-{{ this.depth() }}" ng-class="{ 'tree-level-leaf': !parent.children || parent.children.length == 0, 'selected': parent.id == selectedElement.properties.id && treeName == selectedElement.treeName && parent.broader_id == selectedElement.properties.broader_id };">
            {{ parent.label }}
        </a>
    </span>
    <!--<span ng-class="{ 'selected-leaf': currentContext.id == parent.id }">-->
</div>
<ul ui-tree-nodes="" ng-model="parent.children" ng-if="!parent.collapsed" ng-class="{ hidden: parent.collapsed }">
    <li ng-repeat="parent in parent.children" ui-tree-node data-expand-on-hover="500" ng-include="'includes/subTree.html'" data-collapsed="parent.collapsed" context-menu="getContextMenu(parent, treeName)">
    </li>
</ul>
