<div class="modal-header">
    <h4>Delete confirmation</h4>
</div>
<div class="modal-body">
    <div class="col-md-12">
        <p>Do you really want to delete <i>{{ mc.name }}</i></p>
        <div class="alert alert-danger" ng-if="mc.warning">
            <p>
                {{ mc.warning }}
            </p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="mc.deleteConfirmed()">Delete</button>
    <button type="button" class="btn btn-default"
      ng-click="mc.cancel()">Cancel</button>
</div>
