# Created by https://www.gitignore.io

### NPM ###
node_modules
package-lock.json

### Plugins ###
thesaurex
/db

## Created by PHPUnit/Coveralls
/build

## Created by Laravel
composer.lock
/node_modules
/public
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
.env
.env.testing
