<div ng-controller="editorCtrl" resize-watcher>
    <h2>Attribute-Editor</h2>
    <div class="col-md-12">
        <div class="col-md-5">
            <h4>Available Attributes</h4>
            <form class="form-horizontal" role="form">
                <form-field fields="existingAttributes" output="temp" label-width="3" input-width="9" offset="0">
                </form-field>
            </form>
        </div>
        <div class="col-md-2">
            <h4>Available Context-Types</h4>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="ct in existingContextTypes">
                    <a href="" ng-click="setSelectedContext(ct)">{{ ct.title }} (Kontext)</a>
                </li>
                <li class="list-group-item" ng-repeat="at in existingArtifactTypes">
                    <a href="" ng-click="setSelectedContext(at)">{{ at.title }} (Fund)</a>
                </li>
            </ul>
        </div>
        <div class="col-md-5">
            <div ng-if="selectedCt">
                <h4>Attributes of {{ selectedCt.title }}</h4>
                <form class="form-horizontal" role="form">
                    <form-field fields="ctAttributes" output="tempx" label-width="3" input-width="9" offset="0">
                    </form-field>
                    <div class="col-md-offset-3">
                        <button type="button" class="btn btn-success">
                            <i class="fa fa-fw fa-plus"></i> Add Attribute To Context-Type
                        </button>
                    </div>
                </form>
            </div>
            <div ng-if="!selectedCt">
                <p>
                    Please select an element from the list on the left.
                </p>
            </div>
        </div>
    </div>
</div>
