<div ng-controller="dataEditorCtrl" resize-watcher id="attribute-editor">
    <h2 id="editor-heading" translate="data-model-editor.heading"></h2>
    <div class="col-md-12">
        <div class="col-md-5 attribute-editor-column">
            <h4 translate="data-model-editor.available-attributes.heading"></h4>
            <p class="alert alert-info">
                Die Label der Eltern-Elemente (relevant für Dropdown-Elemente) können angezeigt werden, indem man mit der Maus über das Label des entsprechenden Attributs fährt.
            </p>
            <form class="form-horizontal" role="form">
                <form-field fields="existingAttributes" output="temp" label-width="3" input-width="9" offset="0" editable deletable on-delete="onDeleteAttribute">
                </form-field>
            </form>
            <button type="button" class="btn btn-success" ng-click="addNewAttribute()">
                <i class="material-icons">add</i> {{ 'attribute.add-button' | translate }}
            </button>
        </div>
        <div class="col-md-2 attribute-editor-column">
            <h4 translate="data-model-editor.available-ct.heading"></h4>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="ct in existingContextTypes" ng-mouseenter="hovered=true;" ng-mouseleave="hovered=false;">
                    <a href="" ng-click="setSelectedContext(ct)"><i class="material-icons">account_balance</i> {{ ct.title }} ({{'context-type.type.context'|translate}})</a>
                    <span ng-show="hovered" class="is-right">
                        <a class="btn btn-default btn-fab btn-fab-minime" href="" ng-click="editElementType(ct)">
                            <i class="material-icons md-18 fa-green">edit</i>
                        </a>
                        <a class="btn btn-default btn-fab btn-fab-minime" href="" ng-click="deleteElementType(ct)">
                            <i class="material-icons md-18 fa-red">delete</i>
                        </a>
                    </span>
                </li>
                <li class="list-group-item" ng-repeat="at in existingArtifactTypes" ng-mouseenter="hovered=true;" ng-mouseleave="hovered=false;">
                    <a href="" ng-click="setSelectedContext(at)"><i class="material-icons">spa</i> {{ at.title }} ({{'context-type.type.find'|translate}})</a>
                    <span ng-show="hovered" class="is-right">
                        <a class="btn btn-default btn-fab btn-fab-minime" href="" ng-click="editElementType(at)">
                            <i class="material-icons md-18 fa-green">edit</i>
                        </a>
                        <a class="btn btn-default btn-fab btn-fab-minime" href="" ng-click="deleteElementType(at)">
                            <i class="material-icons md-18 fa-red">delete</i>
                        </a>
                    </span>
                </li>
                <li class="list-group-item">
                    <a href="" ng-click="addNewContextType()"><i class="material-icons">add</i> {{ 'context-type.add.new' | translate }}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-5 attribute-editor-column">
            <div ng-if="ct.selected">
                <h4 translate="data-model-editor.attr-of.heading" translate-values="{ name: ct.selected.title }"></h4>
                <form class="form-horizontal" role="form">
                    <form-field fields="ct.attributes" output="tempx" label-width="3" input-width="9" offset="0" deletable orderable on-delete="onRemoveAttrFromCt" on-order="onOrderAttrOfCt">
                    </form-field>
                    <div class="col-md-offset-3">
                        <button type="button" class="btn btn-success" ng-click="addAttributeToContextType(ct.selected)" ng-if="ct.selected.context_type_id">
                            <i class="material-icons">add</i> <span translate="data-model-editor.add-attr-button" translate-values="{ name: ct.selected.title }"></span>
                        </button>
                    </div>
                </form>
            </div>
            <div ng-if="!ct.selected">
                <p class="alert alert-info" translate="data-model-editor.please-select-element">
                    Please select an element from the list on the left.
                </p>
            </div>
        </div>
    </div>
</div>
