<div ng-controller="editorCtrl" resize-watcher id="attribute-editor">
    <h2 id="editor-heading">Attribute-Editor</h2>
    <div class="col-md-12">
        <div class="col-md-5 attribute-editor-column">
            <h4>Available Attributes</h4>
            <form class="form-horizontal" role="form">
                <form-field fields="existingAttributes" output="temp" label-width="3" input-width="9" offset="0" editable deletable on-delete="foo">
                </form-field>
            </form>
        </div>
        <div class="col-md-2 attribute-editor-column">
            <h4>Available Context-Types</h4>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="ct in existingContextTypes">
                    <a href="" ng-click="setSelectedContext(ct)">{{ ct.title }} ({{'context-type.type.context'|translate}})</a>
                </li>
                <li class="list-group-item" ng-repeat="at in existingArtifactTypes">
                    <a href="" ng-click="setSelectedContext(at)">{{ at.title }} ({{'context-type.type.find'|translate}})</a>
                </li>
                <li class="list-group-item">
                    <a href="" ng-click="addNewContextType()"><i class="fa fa-fw fa-plus"></i> {{ 'context-type.add.new' | translate }}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-5 attribute-editor-column">
            <div ng-if="ct.selected">
                <h4>Attributes of {{ ct.selected.title }}</h4>
                <form class="form-horizontal" role="form">
                    <form-field fields="ct.attributes" output="tempx" label-width="3" input-width="9" offset="0" deletable orderable on-delete="onRemoveAttrFromCt" on-order="onOrderAttrOfCt">
                    </form-field>
                    <div class="col-md-offset-3">
                        <button type="button" class="btn btn-success">
                            <i class="fa fa-fw fa-plus"></i> Add Attribute To <i>{{ ct.selected.title }}</i>
                        </button>
                    </div>
                </form>
            </div>
            <div ng-if="!ct.selected">
                <p>
                    Please select an element from the list on the left.
                </p>
            </div>
        </div>
    </div>
</div>
