<div resize-watcher id="layer-editor">
    <h2 id="editor-heading" translate="layer-editor.heading"></h2>
    <div class="col-md-12">
        <div class="col-md-3 layer-editor-column">
            <h4 translate="layer-editor.available-layers.heading"></h4>
            <h5 translate="layer-editor.baselayers.heading"></h5>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="l in $ctrl.avLayers | filter:{is_overlay: false}" ng-mouseenter="hovered=true;" ng-mouseleave="hovered=false;" ng-class="{'hovered-row': hovered}">
                    <a ui-sref="root.editor.layer.edit({id: l.id})" style="float: left;"><i class="material-icons">map</i> {{ l.name }}</a>
                    <div ng-if="hovered">
                        <div style="float: left; padding-left: 5px;">
                            <a class="btn btn-default btn-fab btn-fab-minime" href="" ng-click="onDelete(l)">
                                <i class="material-icons md-18 fa-red">delete</i>
                            </a>
                        </div>
                        <!-- <div style="float: left; padding-left: 5px;">
                            <a class="btn btn-default btn-fab btn-fab-minime" href="" ng-if="!$first" ng-click="onOrder.up(l)">
                                <i class="material-icons md-18">arrow_drop_up</i>
                            </a>
                            <a class="btn btn-default btn-fab btn-fab-minime" href="" ng-if="!$last" ng-click="onOrder.down(l)">
                                <i class="material-icons md-18">arrow_drop_down</i>
                            </a>
                        </div> -->
                    </div>
                </li>
            </ul>
            <button type="button" class="btn btn-success" ng-click="addNewBaselayer()">
                <i class="material-icons">add</i> {{ 'layer-editor.add-new.baselayer' | translate }}
            </button>
            <h5 translate="layer-editor.overlays.heading"></h5>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="l in $ctrl.avLayers | filter:{is_overlay: true}" ng-mouseenter="hovered=true;" ng-mouseleave="hovered=false;" ng-class="{'hovered-row': hovered}">
                    <a ui-sref="root.editor.layer.edit({id: l.id})" style="float: left;">
                        <i class="material-icons">map</i> <span ng-if="l.name">{{ l.name }}</span><span ng-if="l.thesaurus_url">{{ $ctrl.concepts[l.thesaurus_url].label }}</span>
                    </a>
                    <div ng-if="hovered">
                        <div ng-if="!l.layerOptions.context_type_id && l.layerOptions.layer_id != 'unlinked'" style="float: left; padding-left: 5px;">
                            <a class="btn btn-default btn-fab btn-fab-minime" href="" ng-click="onDelete(l)">
                                <i class="material-icons md-18 fa-red">delete</i>
                            </a>
                        </div>
                        <!--<div style="float: left; padding-left: 5px;">
                            <a class="btn btn-default btn-fab btn-fab-minime" href="" ng-if="!$first" ng-click="onOrder.up(l)">
                                <i class="material-icons md-18">arrow_drop_up</i>
                            </a>
                            <a class="btn btn-default btn-fab btn-fab-minime" href="" ng-if="!$last" ng-click="onOrder.down(l)">
                                <i class="material-icons md-18">arrow_drop_down</i>
                            </a>
                        </div>-->
                    </div>
                </li>
            </ul>
            <button type="button" class="btn btn-success" ng-click="addNewOverlay()">
                <i class="material-icons">add</i> {{ 'layer-editor.add-new.overlay' | translate }}
            </button>
        </div>
        <div class="col-md-9 layer-editor-column" ui-view>
            <!-- ui-view for layer edit template -->
            <p class="alert alert-info" translate="layer-editor.please-select-element">
            </p>
        </div>
    </div>
</div>
