<div ng-controller="userCtrl" resize-watcher>
    <table class="table table-striped table-hover" ng-init="getRoles()">
        <tr>
            <th>
                {{ 'role.name' | translate }}
            </th>
            <th>
                {{ 'role.display_name' | translate }}
            </th>
            <th>
                {{ 'role.description' | translate }}
            </th>
            <th>
                {{ 'role.permissions' | translate }}
            </th>
            <th>
                {{ 'role.options' | translate }}
            </th>
            <th>
                {{'user.created-at'|translate}}
            </th>
            <th>
                {{'user.updated-at'|translate}}
            </th>
        </tr>
        <tr ng-repeat="role in roles">
            <td>
                {{ role.name }}
            </td>
            <td>
                {{ role.display_name }}
            </td>
            <td>
                {{ role.description }}
            </td>
            <td ng-init="getRolePermissions(role)">
                <ui-select multiple ng-model="role.permissions" close-on-select="false" name="role_permissions_{{ role.id }}" id="role_permissions_{{ role.id }}" on-select="addRolePermission($item, role)" on-remove="removeRolePermission($item, role)">
                    <ui-select-match><span uib-tooltip="{{ $item.description }}">{{ $item.display_name }}</span></ui-select-match>
                    <ui-select-choices repeat="permission in permissions | filter:$select.search">
                        {{ permission.display_name }}
                    </ui-select-choices>
                </ui-select>
            </td>
            <th>
                <button type="button" class="btn btn-info" ng-click="openEditRoleDialog(role)">
                    <i class="fa fa-fw fa-pencil"></i>
                </button> <button type="button" class="btn btn-danger" ng-click="deleteRole(role)">
                    <i class="fa fa-fw fa-trash-o"></i>
                </button>
            </th>
            <td>
                {{ role.created_at }}
            </td>
            <td>
                {{ role.updated_at }}
            </td>
        </tr>
    </table>
    <button type="button" class="btn btn-success" ng-click="openAddRoleDialog()">
        <i class="fa fa-fw fa-plus"></i> {{ 'role.add' | translate }}
    </button>
</div>
