<div ng-controller="userCtrl" resize-watcher>
    <table class="table table-striped table-hover" ng-init="getUserList()">
        <tr>
            <th>
                Name
            </th>
            <th>
                E-Mail-Adresse
            </th>
            <th ng-if="can('change_password')">
                Passwort
            </th>
            <th ng-if="can('add_remove_role')" ng-init="getRoles()">
                Rollen
            </th>
            <th ng-if="can('delete_users')">
                Löschen
            </th>
            <th>
                Erstellt
            </th>
            <th>
                Zuletzt aktualisiert
            </th>
        </tr>
        <tr ng-repeat="user in users">
            <td>
                {{ user.name }}
            </td>
            <td>
                {{ user.email }}
            </td>
            <td ng-if="can('change_password')">
                <button type="button" class="btn btn-info">
                    <i class="fa fa-fw fa-pencil"></i> Passwort ändern
                </button>
            </td>
            <td ng-if="can('add_remove_role')" ng-init="getUserRoles(user.id, $index)">
                <ui-select multiple ng-model="user.roles" close-on-select="false" name="userroles" id="userroles" on-select="addUserRole($item, user.id)" on-remove="removeUserRole($item, user.id)">
                    <ui-select-match>{{ $item.display_name }}</ui-select-match>
                    <ui-select-choices repeat="role in roles | filter:$select.search">
                        {{ role.display_name }}
                    </ui-select-choices>
                </ui-select>
            </td>
            <td ng-if="can('delete_users')">
                <button type="button" class="btn btn-danger" ng-click="deleteUser(user.id, $index)">
                    <i class="fa fa-fw fa-trash-o"></i>
                </button>
            </td>
            <td>
                {{ user.created_at }}
            </td>
            <td>
                {{ user.updated_at }}
            </td>
        </tr>
    </table>
    <button type="button" class="btn btn-success" ng-click="openAddUserDialog()" ng-if="can('create_users')">
        <i class="fa fa-fw fa-plus"></i> Benutzer hinzufügen
    </button>
</div>
