<div resize-watcher>
    <table class="table table-striped table-hover">
        <tr>
            <th>
                {{'user.name'|translate}}
            </th>
            <th>
                {{'user.email'|translate}}
            </th>
            <th ng-if="$ctrl.user.permissions.change_password">
                {{'user.password'|translate}}
            </th>
            <th ng-if="$ctrl.user.permissions.add_remove_role" ng-init="getRoles()">
                {{'user.roles'|translate}}
            </th>
            <th ng-if="$ctrl.user.permissions.delete_users">
                {{'user.delete'|translate}}
            </th>
            <th>
                {{'user.created-at'|translate}}
            </th>
            <th>
                {{'user.updated-at'|translate}}
            </th>
        </tr>
        <tr ng-repeat="user in $ctrl.users">
            <td>
                {{ user.name }}
            </td>
            <td>
                {{ user.email }}
            </td>
            <td ng-if="$ctrl.user.permissions.change_password">
                <button type="button" class="btn btn-info" ui-sref="root.user.edit({id: user.id})">
                    <i class="material-icons">edit</i> {{'user.change-password'|translate}}
                </button>
            </td>
            <td ng-if="$ctrl.user.permissions.add_remove_role">
                <ui-select multiple ng-model="user.roles" close-on-select="false" name="user_roles_{{ user.id }}" id="user_roles_{{ user.id }}" on-select="addUserRole($item, user)" on-remove="removeUserRole($item, user)">
                    <ui-select-match>{{ $item.display_name }}</ui-select-match>
                    <ui-select-choices repeat="role in $ctrl.roles | filter:$select.search">
                        {{ role.display_name }}
                    </ui-select-choices>
                </ui-select>
            </td>
            <td ng-if="$ctrl.user.permissions.delete_users">
                <button type="button" class="btn btn-danger" ng-click="deleteUser(user)">
                    <i class="material-icons">delete</i>
                </button>
            </td>
            <td>
                {{ user.created_at }}
            </td>
            <td>
                {{ user.updated_at }}
            </td>
        </tr>
    </table>
    <button type="button" class="btn btn-success" ng-click="openAddUserDialog()" ng-if="$ctrl.user.permissions.create_users">
        <i class="material-icons">add</i> {{'user.add'|translate}}
    </button>
</div>
