<div ng-controller="mainCtrl" resize-watcher>
    <div class="col-md-2" id="tree-container" ng-hide="activeAnalysis.isActive" resizeable="editMode.enabled">
        <div ng-if="currentUser.permissions.view_concepts">
            <h3>{{'context-tree.heading'|translate}}</h3>
            <div class="col-md-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">search</i>
                            </span>
                            <input class="form-control" type="text" ng-change="filterTree(contexts, treeSearchTerm)" ng-model="treeSearchTerm" placeholder="{{ 'search_val' | translate }}" />
                        </div>
                    </div>
                </form>
            </div>
            <my-tree class="col-md-12" on-click-callback="setCurrentElement(target, elem)" contexts="contexts" element="currentElement.element" display-attribute="'name'" type-attribute="'typename'" prefix-attribute="'typelabel'" set-context-menu="newElementContextMenu"></my-tree>
        </div>
        <div ng-if="!currentUser.permissions.view_concepts">
            <div ng-include="'layouts/restricted-access.html'"></div>
        </div>
    </div>
    <div class="col-md-5" style="border-right: 1px solid #ddd; border-left: 1px solid #ddd;" id="attribute-container" ng-hide="activeAnalysis.isActive" resizeable="editMode.enabled">
        <div ng-if="currentUser.permissions.view_concept_props">
            <div ng-show="currentElement.element.id">
                <h3>{{ currentElement.element.name }}<br>
                    <small><span ng-if="currentElement.element.typelabel">{{ currentElement.element.typelabel }} &mdash; </span>{{'context-form.heading'|translate}}</small>
                </h3>
                <p class="btn-group-sm nav-inline">
                    <a class="btn btn-success btn-fab btn-fab-mini" href="" ng-click="storeElement(currentElement.element, currentElement.data)">
                        <i class="material-icons">save</i>
                    </a>
                    <a class="btn btn-danger btn-fab btn-fab-mini" href="" ng-click="deleteElement(currentElement.element)">
                        <i class="material-icons">delete</i>
                    </a>
                </p>
                <form class="form-horizontal" role="form" ng-if="currentElement.fields" name="currentElement.form">
                    <div class="form-group form-group-unpadded">
                        <label class="control-label col-md-3" for="name">
                            {{'context-form.name'|translate}}:
                        </label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="name" ng-model="currentElement.element.name" ng-readonly="!currentUser.permissions.duplicate_edit_concepts" />
                        </div>
                    </div>
                    <form-field fields="currentElement.fields" output="currentElement.data" sources="currentElement.sources" label-width="3" input-width="9" offset="0" sp-readonly="{{ !currentUser.permissions.duplicate_edit_concepts }}">
                    </form-field>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="lasteditor">{{ 'context-form.last-modified' | translate }}:</label>
                        <div class="col-md-9">
                            <p class="form-control-static">
                                {{ currentElement.element.lastmodified }} (<strong>{{ currentElement.element.lasteditor }}</strong>)
                            </p>
                        </div>
                    </div>
                    <div class="col-md-offset-3" ng-if="currentUser.permissions.duplicate_edit_concepts">
                        <button type="button" class="btn btn-success" ng-click="storeElement(currentElement.element, currentElement.data)">
                            <span class="material-icons">save</span> {{ 'context-form.save-button' | translate }}
                        </button>
                        <button type="button" class="btn btn-danger" ng-click="deleteElement(currentElement.element)">
                            <span class="material-icons">delete</span> {{ 'context-form.delete-button' | translate }}
                        </button>
                    </div>
                </form>
            </div>
            <div ng-hide="currentElement.element.id">
                <h3>{{'context-form.heading'|translate}}</h3>
                <div class="alert alert-info">
                    <p>{{ 'context-form.no-selection' | translate }}</p>
                    <p>{{ 'context-form.no-selection-info' | translate }}</p>
                </div>
            </div>
        </div>
        <div ng-if="!currentUser.permissions.view_concept_props">
            <div ng-include="'layouts/restricted-access.html'"></div>
        </div>
    </div>
    <div class="col-md-5" id="addon-container" ng-hide="activeAnalysis.isActive" resizeable="editMode.enabled">
        <ul class="nav nav-tabs" id="addon-nav">
            <li role="presentation" ng-class="{ active: layerTwo.activeTab == 'map'}" ng-if="moduleExists('mapCtrl')">
                <a href="" ng-click="setActiveTab('map')"><i class="material-icons">place</i><span class="tab-desc"> {{'context-form.tabs.map'|translate}}</span></a>
            </li>
            <li role="presentation" ng-class="{ active: layerTwo.activeTab == 'properties'}" ng-if="currentElement.element.furtherProperties">
                <a href="" ng-click="setActiveTab('properties')"><i class="material-icons">tune</i><span class="tab-desc"> {{'context-form.tabs.further-properties'|translate}}</span></a>
            </li>
            <li role="presentation" ng-class="{ active: layerTwo.activeTab == 'harris'}" ng-if="moduleExists('harrisCtrl')">
                <a href="" ng-click="setActiveTab('harris')"><i class="material-icons">format_shapes</i><span class="tab-desc"> {{'context-form.tabs.harris-matrix'|translate}}</span></a>
            </li>
            <li role="presentation" ng-class="{ active: layerTwo.activeTab == 'images'}" ng-if="moduleExists('imageCtrl')">
                <a href="" ng-click="setActiveTab('images')"><i class="material-icons">folder</i><span class="tab-desc"> {{'context-form.tabs.photos'|translate}}</span></a>
            </li>
            <li role="presentation" ng-class="{ active: layerTwo.activeTab == 'bibliography'}" ng-if="moduleExists('literatureCtrl') && currentElement.element.id">
                <a href="" ng-click="setActiveTab('bibliography')"><i class="material-icons">book</i><span class="tab-desc"> {{'context-form.tabs.sources'|translate}}</span></a>
            </li>
        </ul>
        <div ng-show="layerTwo.activeTab == 'map'">
            <div ng-if="currentUser.permissions.view_geodata" ng-controller="mapCtrl">
                <div id="map-container" ng-if="map">
                    <leaflet id="mainmap" layers="map.layers" lf-center="map.center" bounds="map.bounds" defaults="map.defaults" lf-draw="map.drawOptions" controls="map.controls" geojson="map.geojson" height="{{addonContainerHeight}}px" width="100%">
                    </leaflet><!-- legend="map.legend" -->
                </div>
            </div>
            <div ng-if="!currentUser.permissions.view_geodata">
                <div ng-include="'layouts/restricted-access.html'"></div>
            </div>
        </div>
        <div ng-if="layerTwo.activeTab == 'properties'" class="padded-content">
            <h5>Properties active</h5>
        </div>
        <div ng-if="layerTwo.activeTab == 'harris'" class="padded-content">
            <h5>Harris active</h5>
        </div>
        <div ng-if="layerTwo.activeTab == 'images'" ng-controller="imageCtrl" ng-init="initImageTab()" class="padded-content" style="max-height: 100%;">
            <div ng-if="currentUser.permissions.view_photos">
                <div class="container col-md-12" ng-init="filter_collapsed=true">
                    <div ng-click="filter_collapsed=!filter_collapsed" style="cursor: pointer;">
                        <h4 translate="photos.filter.heading" style="float:left;"></h4>
                        <div style="padding-top: 8px;">
                            <i class="material-icons" ng-if="filter_collapsed">expand_more</i>
                            <i class="material-icons" ng-if="!filter_collapsed">expand_less</i>
                        </div>
                    </div>
                    <div class="well" ng-if="!filter_collapsed">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" ng-model="tags.visible" ng-disabled="readonlyInput" /> {{ 'tags.show-tags' | translate }}
                                </label>
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label" translate="tags.name"></label>
                                <ui-select multiple ng-disabled="readonlyInput" ng-model="search.terms.tags" close-on-select="false">
                                    <ui-select-match>{{$item.label}}</ui-select-match>
                                    <ui-select-choices repeat="choice in availableSearchTerms.tags | filter:$select.search">
                                        {{choice.label}}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label" translate="photos.properties.image.created"></label>
                                <ui-select multiple ng-disabled="readonlyInput" ng-model="search.terms.dates" close-on-select="false">
                                    <ui-select-match>{{$item}}</ui-select-match>
                                    <ui-select-choices repeat="choice in availableSearchTerms.dates | filter:$select.search">
                                        {{choice}}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label" translate="photos.properties.image.cameraname"></label>
                                <ui-select multiple ng-disabled="readonlyInput" ng-model="search.terms.cameras" close-on-select="false">
                                    <ui-select-match>{{$item}}</ui-select-match>
                                    <ui-select-choices repeat="choice in availableSearchTerms.cameras | filter:$select.search">
                                        {{choice}}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </form>
                    </div>
                </div>
                <uib-accordion close-others="true" class="col-md-12">
                    <div uib-accordion-group class="panel-default" is-open="layerTwo.imageTab.linkedOpen" is-disabled="!currentElement.element">
                        <uib-accordion-heading>
                            <span ng-click="!currentElement.element || updateLinkedImages(layerTwo.imageTab.linkedOpen)">
                                {{'context-form.tabs.photos.linked'|translate}}
                            </span>
                        </uib-accordion-heading>
                        <image-list on-scroll-load="loadImages(len, type)" image-data="images.linked" show-tags="tags.visible" search-terms="search.terms" image-type="'linked'" scroll-container="'#addon-container'"></image-list>
                    </div>
                    <div uib-accordion-group class="panel-default" is-open="layerTwo.imageTab.newOpen">
                        <uib-accordion-heading>
                            {{ 'context-form.tabs.photos.upload' | translate }}
                        </uib-accordion-heading>
                        <div class="col-md-12">
                            <div class="alert alert-info drop-box" ngf-drop ngf-select ng-model="dropFiles" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" ngf-accept="'*'" ngf-pattern="'*'">
                                {{'context-form.tabs.photos.drag+drop'|translate}}
                            </div>
                            <button type="button" class="btn btn-default" ngf-select="uploadImages($files, $invalidFiles)" multiple ngf-allow-dir="true" ngf-accept="'*'">{{'context-form.tabs.photos.upload-button'|translate}}</button>
                            <ul>
                                <li ng-repeat="f in upload.files">
                                    {{ f.name }} {{ f.$errorParam }}
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ f.progress }}%">
                                            <span ng-hide="f.progress < 100">
                                                {{'context-form.tabs.photos.upload-finished'|translate}}
                                            </span>
                                            <span ng-show="f.progress < 100">
                                                {{ f.progress }}%
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li ng-repeat="f in upload.errFiles">{{f.name}} {{f.$error}} {{f.$errorParam}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div uib-accordion-group class="panel-default" is-open="layerTwo.imageTab.allOpen">
                        <uib-accordion-heading>
                            <span ng-click="updateAllImages(layerTwo.imageTab.allOpen)">
                                {{'context-form.tabs.photos.all'|translate}}
                            </span>
                        </uib-accordion-heading>
                        <image-list on-scroll-load="loadImages(len, type)" image-data="images.all" show-tags="tags.visible" search-terms="search.terms" image-type="'all'" scroll-container="'#addon-container'"></image-list>
                    </div>
                </uib-accordion>
            </div>
            <div ng-if="!currentUser.permissions.view_photos">
                <div ng-include="'layouts/restricted-access.html'"></div>
            </div>
        </div>
        <div ng-if="layerTwo.activeTab == 'bibliography'" class="padded-content">
            <div ng-if="currentUser.permissions.duplicate_edit_concepts">
                <p class="alert alert-warning" ng-if="!hasSources(currentElement)" ng-bind-html="'context-form.tabs.sources.empty'|translate"></p>
                <div ng-repeat="(key, attr) in currentElement.sources">
                    <h4><a href="" ng-click="openSourceModal(attr[0].attribute_name, attr[0].attribute_id, currentElement.data[attr[0].attribute_id+'_pos'])">{{ attr[0].attribute_name }}</a></h4>
                    <table class="table table-striped table-bordered table-hover">
                        <tr ng-repeat="entry in attr" ng-mouseenter="hovered=true;" ng-mouseleave="hovered=false;">
                            <td class="td-50 word-break">
                                {{ entry.literature.title }}<span ng-if="entry.literature.year"> - <i>{{ entry.literature.year}}</i></span>
                                <br/>
                                <strong>{{ entry.literature.author }}</strong>
                            </td>
                            <td class="td-50 word-break">
                                <span class="delete-icon" ng-class="{'hidden-del': !hovered}" ng-click="deleteSourceEntry($index, key)">
                                    &times;
                                </span>
                                <span class="deletable" ng-bind-html="entry.description | urlify">
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div ng-if="!currentUser.permissions.duplicate_edit_concepts">
                <div ng-include="'layouts/restricted-access.html'"></div>
            </div>
        </div>
    </div>
    <div ng-show="activeAnalysis.isActive">
        <iframe id="analysis-frame" ng-src="{{ activeAnalysis.url }}" style="border: none; width: 100%;"></iframe>
    </div>
</div>
