<div resize-watcher>
    <div class="col-md-{{$ctrl.userConfig['prefs.columns'].value.left}}" id="tree-container" ng-hide="activeAnalysis.isActive" resizeable="$ctrl.editMode.enabled">
        <div ng-if="$ctrl.user.permissions.view_concepts">
            <h3>{{'context-tree.heading'|translate}}</h3>
            <div class="col-md-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">search</i>
                            </span>
                            <input class="form-control" type="text" ng-change="filterTree($ctrl.contexts, treeSearchTerm)" ng-model="treeSearchTerm" placeholder="{{ 'search_val' | translate }}" />
                        </div>
                    </div>
                </form>
            </div>
            <sp-tree class="col-md-12" on-click-callback="$ctrl.openNewContextModal(type, parent)" highlight="treeSearchTerm" contexts="$ctrl.contexts" concepts="$ctrl.concepts" element="$ctrl.globalContext.context" callbacks="treeCallbacks" options="treeOptions" set-context-menu="newElementContextMenu"></sp-tree>
        </div>
        <div ng-if="!$ctrl.user.permissions.view_concepts">
            <div ng-include="'layouts/restricted-access.html'"></div>
        </div>
    </div>
    <div class="col-md-{{$ctrl.userConfig['prefs.columns'].value.center}}" style="border-right: 1px solid #ddd; border-left: 1px solid #ddd;" id="attribute-container" ng-hide="activeAnalysis.isActive" resizeable="$ctrl.editMode.enabled">
        <div ui-view="context-detail-wrapper" on-store="$ctrl.onStore(context, data)" on-source-add="$ctrl.onSourceAdd(entry)" on-set-context-wrapper="$ctrl.onSetContext(id, data)" on-set-geodata-wrapper="$ctrl.onSetGeodata(gid, geodata)"></div>
        <div ui-view="geodata-dummy" on-set-geodata="$ctrl.onSetGeodata(gid, geodata)"></div>
    </div>
    <div class="col-md-{{$ctrl.userConfig['prefs.columns'].value.right}}" id="addon-container" ng-hide="activeAnalysis.isActive" resizeable="$ctrl.editMode.enabled">
        <div ui-view="addons">
            <ul class="nav nav-tabs" id="addon-nav">
                <li role="presentation" ui-sref="{tab: 'map'}" ui-sref-active="active" ng-if="moduleExists('mapCtrl') && $ctrl.userConfig['prefs.load-extensions'].value.map">
                    <a><i class="material-icons">place</i><span class="tab-desc"> {{'context-form.tabs.map'|translate}}</span></a>
                </li>
                <li role="presentation" ui-sref="{tab: 'files'}" ui-sref-active="active" ng-if="moduleExists('fileCtrl') && $ctrl.userConfig['prefs.load-extensions'].value.files">
                    <a><i class="material-icons">folder</i><span class="tab-desc"> {{'context-form.tabs.files'|translate}}</span></a>
                </li>
                <li role="presentation" ui-sref="{tab: 'bibliography'}" ui-sref-active="active" ng-if="moduleExists('bibliographyCtrl') && $ctrl.userConfig['prefs.load-extensions'].value.bibliography && $ctrl.globalContext.context.id">
                    <a><i class="material-icons">book</i><span class="tab-desc"> {{'context-form.tabs.sources'|translate}}</span></a>
                </li>
            </ul>
            <div ng-show="$ctrl.tab == 'map' && $ctrl.userConfig['prefs.load-extensions'].value.map" class="padded-content">
                <div ng-if="$ctrl.user.permissions.view_geodata">
                    <div id="map-container" ng-if="$ctrl.map" ng-controller="mapCtrl">
                        <leaflet id="mainmap" layers="$ctrl.map.layers" lf-center="$ctrl.map.center" bounds="$ctrl.map.bounds" defaults="$ctrl.map.defaults" lf-draw="$ctrl.map.drawOptions" controls="$ctrl.map.controls" height="{{addonContainerHeight}}px" width="100%">
                        </leaflet><!-- legend="map.legend" -->
                    </div>
                </div>
                <div ng-if="!$ctrl.user.permissions.view_geodata">
                    <div ng-include="'layouts/restricted-access.html'"></div>
                </div>
            </div>
            <div ng-show="$ctrl.tab == 'files' && $ctrl.userConfig['prefs.load-extensions'].value.files" class="padded-content" style="max-height: 100%;">
                <div ng-if="$ctrl.user.permissions.view_photos">
                    <div class="container col-md-12" ng-init="filter_collapsed=true">
                        <div ng-click="filter_collapsed=!filter_collapsed" style="cursor: pointer;">
                            <h4 translate="files.filter.heading" style="float:left;"></h4>
                            <div style="padding-top: 8px;">
                                <i class="material-icons" ng-if="filter_collapsed">expand_more</i>
                                <i class="material-icons" ng-if="!filter_collapsed">expand_less</i>
                            </div>
                        </div>
                        <div class="well" ng-if="!filter_collapsed">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" ng-model="$ctrl.tags.visible" ng-disabled="readonlyInput" /> {{ 'tags.show-tags' | translate }}
                                    </label>
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label" translate="tags.name"></label>
                                    <ui-select multiple ng-disabled="readonlyInput" ng-model="$ctrl.selectedSearchTerms.tags" close-on-select="false">
                                        <ui-select-match>
                                            {{ $ctrl.concepts[$item.uri].label }}
                                        </ui-select-match>
                                        <ui-select-choices repeat="choice in $ctrl.availableSearchTerms.tags | filter:$select.search">
                                            {{ $ctrl.concepts[choice.uri].label }}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label" translate="files.properties.file.created"></label>
                                    <ui-select multiple ng-disabled="readonlyInput" ng-model="$ctrl.selectedSearchTerms.dates" close-on-select="false">
                                        <ui-select-match>{{$item}}</ui-select-match>
                                        <ui-select-choices repeat="choice in $ctrl.availableSearchTerms.dates | filter:$select.search">
                                            {{choice}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label" translate="files.properties.file.cameraname"></label>
                                    <ui-select multiple ng-disabled="readonlyInput" ng-model="$ctrl.selectedSearchTerms.cameras" close-on-select="false">
                                        <ui-select-match>{{$item}}</ui-select-match>
                                        <ui-select-choices repeat="choice in $ctrl.availableSearchTerms.cameras | filter:$select.search">
                                            {{choice}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <uib-accordion close-others="true" class="col-md-12">
                        <div uib-accordion-group class="panel-default" is-open="layerTwo.imageTab.linkedOpen" is-disabled="!$ctrl.globalContext.context.id">
                            <uib-accordion-heading>
                                <span ng-click="!$ctrl.globalContext.context || updateLinkedImages(layerTwo.imageTab.linkedOpen)">
                                    {{'context-form.tabs.files.linked'|translate}}
                                </span>
                            </uib-accordion-heading>
                            <file-list files="$ctrl.globalContext.linkedFiles" context-menu="$ctrl.fileContextMenu" show-tags="$ctrl.tags.visible" available-tags="$ctrl.availableTags" search-terms="$ctrl.selectedSearchTerms"></file-list>
                            <div ng-if="$ctrl.globalContext.linkedFilesChildren.length > 0" ng-init="displayChildFiles = false">
                                <h5 class="clickable" ng-click="displayChildFiles = !displayChildFiles">
                                    {{ 'context-form.tabs.files.linked.to-children' | translate }} ({{ $ctrl.globalContext.linkedFilesChildren.length }})
                                    <a href="" ng-show="displayChildFiles">
                                        <i class="material-icons">arrow_drop_up</i>
                                    </a>
                                    <a href="" ng-show="!displayChildFiles">
                                        <i class="material-icons">arrow_drop_down</i>
                                    </a>
                                </h5>
                                <file-list ng-if="displayChildFiles" files="$ctrl.globalContext.linkedFilesChildren" show-tags="$ctrl.tags.visible" available-tags="$ctrl.availableTags" search-terms="$ctrl.selectedSearchTerms"></file-list>
                            </div>
                        </div>
                        <div uib-accordion-group class="panel-default" is-open="layerTwo.imageTab.newOpen">
                            <uib-accordion-heading>
                                {{ 'context-form.tabs.files.upload' | translate }}
                            </uib-accordion-heading>
                            <div class="col-md-12">
                                <div class="alert alert-info drop-box" ngf-drop ngf-select ng-model="dropFiles" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" ngf-accept="'*'" ngf-pattern="'*'">
                                    {{'context-form.tabs.files.drag+drop'|translate}}
                                </div>
                                <button type="button" class="btn btn-default" ngf-select="$ctrl.uploadFiles($files, $invalidFiles)" multiple ngf-allow-dir="true" ngf-accept="'*'">{{'context-form.tabs.files.upload-button'|translate}}</button>
                                <ul>
                                    <li ng-repeat="f in $ctrl.uploadStatus.files">
                                        {{ f.name }} {{ f.$errorParam }}
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ f.progress }}%">
                                                <span ng-hide="f.progress < 100">
                                                    {{'context-form.tabs.files.upload-finished'|translate}}
                                                </span>
                                                <span ng-show="f.progress < 100">
                                                    {{ f.progress }}%
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li ng-repeat="f in $ctrl.uploadStatus.errFiles">{{f.name}} {{f.$error}} {{f.$errorParam}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div uib-accordion-group class="panel-default" is-open="true">
                            <uib-accordion-heading>
                                {{'context-form.tabs.files.all'|translate}}
                            </uib-accordion-heading>
                            <file-list files="$ctrl.files" context-menu="$ctrl.fileContextMenu" concepts="$ctrl.concepts" show-tags="$ctrl.tags.visible" available-tags="$ctrl.availableTags" search-terms="$ctrl.selectedSearchTerms"></file-list>
                        </div>
                    </uib-accordion>
                </div>
                <div ng-if="!$ctrl.user.permissions.view_photos">
                    <div ng-include="'layouts/restricted-access.html'"></div>
                </div>
            </div>
            <div ng-show="$ctrl.tab == 'bibliography'" class="padded-content">
                <div ng-if="$ctrl.user.permissions.duplicate_edit_concepts">
                    <p class="alert alert-warning" ng-if="!$ctrl.hasSources($ctrl.globalContext)" ng-bind-html="'context-form.tabs.sources.empty'|translate"></p>
                    <div ng-repeat="(key, attr) in $ctrl.globalContext.sources | groupBy:'attribute_id'">
                        <h4><a ui-sref="root.spacialist.context.data.sources({aid: key})">{{ $ctrl.concepts[attr[0].attribute_url].label }}</a></h4>
                        <table class="table table-striped table-bordered table-hover">
                            <tr ng-repeat="entry in attr" ng-mouseenter="hovered=true;" ng-mouseleave="hovered=false;">
                                <td class="td-50 word-break">
                                    {{ entry.literature.title }}<span ng-if="entry.literature.year"> - <i>{{ entry.literature.year}}</i></span>
                                    <br/>
                                    <strong>{{ entry.literature.author }}</strong>
                                </td>
                                <td class="td-50 word-break">
                                    <span class="delete-icon" ng-class="{'hidden-del': !hovered}" ng-click="deleteSourceEntry($index, key)">
                                        &times;
                                    </span>
                                    <span class="deletable" ng-bind-html="entry.description | urlify">
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div ng-if="!$ctrl.user.permissions.duplicate_edit_concepts">
                    <div ng-include="'layouts/restricted-access.html'"></div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="activeAnalysis.isActive">
        <iframe id="analysis-frame" ng-src="{{ activeAnalysis.url }}" style="border: none; width: 100%;"></iframe>
    </div>
</div>
