<div ng-controller="mainCtrl" resize-watcher>
    <div class="col-md-2" id="tree-container" ng-hide="activeAnalysis.isActive">
        <div ng-if="currentUser.permissions.view_concepts">
            <h3>Elemente</h3>
            <my-tree on-click-callback="setCurrentElement(target, elem)" item-list="contextList" element="currentElement.element" display-attribute="'name'" type-attribute="'typename'" prefix-attribute="'typelabel'" set-context-menu="newElementContextMenu"></my-tree>
            <spinner ng-if="getContextListStarted"></spinner>
        </div>
        <div ng-if="!currentUser.permissions.view_concepts">
            <div ng-include="'layouts/restricted-access.html'"></div>
        </div>
    </div>
    <div class="col-md-5" style="border-right: 1px solid #ddd; border-left: 1px solid #ddd;" id="attribute-container" ng-hide="activeAnalysis.isActive">
        <div ng-if="currentUser.permissions.view_concept_props">
            <div ng-show="currentElement.element.id">
                <h3>{{ currentElement.element.name }}<span ng-if="currentElement.element.typeLabel" class="type-desc">{{ currentElement.element.typeLabel }}</span> <small>Element-Eigenschaften</small></h3>
                <ul class="nav nav-tabs nav-undecorated nav-inline">
                    <li role="presentation">
                        <a href="" ng-click="storeElement(currentElement.element, currentElement.data)"><span class="fa fa-fw fa-floppy-o fa-green"></span></a>
                    </li>
                    <li role="presentation">
                        <a href="" ng-click="deleteElement(currentElement.element)"><span class="fa fa-fw fa-trash-o fa-red"></span></a>
                    </li>
                </ul>
                <form class="form-horizontal" role="form" ng-if="currentElement.fields">
                    <div class="form-group">
                        <label class="control-label col-md-3" for="name">
                            Name:
                        </label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="name" ng-model="currentElement.element.name" ng-readonly="!currentUser.permissions.duplicate_edit_concepts" />
                        </div>
                    </div>
                    <form-field fields="currentElement.fields" output="currentElement.data" sources="currentElement.sources" label-width="3" input-width="9" offset="0" sp-readonly="{{ !currentUser.permissions.duplicate_edit_concepts }}">
                    </form-field>
                    <div class="col-md-offset-3" ng-if="currentUser.permissions.duplicate_edit_concepts">
                        <button type="button" class="btn btn-success" ng-click="storeElement(currentElement.element, currentElement.data)">
                            <span class="fa fa-fw fa-floppy-o"></span> {{ 'Save' | translate }}
                        </button>
                        <button type="button" class="btn btn-danger" ng-click="deleteElement(currentElement.element)">
                            <span class="fa fa-fw fa-trash-o"></span> {{ 'delete' | translate }}
                        </button>
                    </div>
                </form>
            </div>
            <div ng-hide="currentElement.element.id">
                <h3>Element-Eigenschaften</h3>
                <div class="alert alert-info">
                    <p>
                        Kein Element ausgewählt.
                    </p>
                    <p>
                        Um die Eigenschaften eines Elements anzuzeigen, klicken Sie in der Baumansicht auf ein Element.
                    </p>
                </div>
            </div>
        </div>
        <div ng-if="!currentUser.permissions.view_concept_props">
            <div ng-include="'layouts/restricted-access.html'"></div>
        </div>
    </div>
    <div class="col-md-5" id="addon-container" ng-hide="activeAnalysis.isActive">
        <ul class="nav nav-tabs" id="addon-nav">
            <li role="presentation" ng-class="{ active: layerTwo.activeTab == 'map'}" ng-if="moduleExists('mapCtrl')">
                <a href="" ng-click="setActiveTab('map')"><span class="fa fa-fw fa-map-marker"></span><span class="tab-desc"> Karte</span></a>
            </li>
            <li role="presentation" ng-class="{ active: layerTwo.activeTab == 'properties'}" ng-if="currentElement.element.furtherProperties">
                <a href="" ng-click="setActiveTab('properties')"><span class="fa fa-fw fa-sliders"></span><span class="tab-desc"> Weitere Eigenschaften</span></a>
            </li>
            <li role="presentation" ng-class="{ active: layerTwo.activeTab == 'harris'}" ng-if="moduleExists('harrisCtrl')">
                <a href="" ng-click="setActiveTab('harris')"><span class="fa fa-fw fa-object-group"></span><span class="tab-desc"> Harris-Matrix</span></a>
            </li>
            <li role="presentation" ng-class="{ active: layerTwo.activeTab == 'images'}" ng-if="moduleExists('imageCtrl')">
                <a href="" ng-click="setActiveTab('images')"><span class="fa fa-fw fa-image"></span><span class="tab-desc"> Bilder</span></a>
            </li>
            <li role="presentation" ng-class="{ active: layerTwo.activeTab == 'bibliography'}" ng-if="moduleExists('literatureCtrl') && currentElement.element.id">
                <a href="" ng-click="setActiveTab('bibliography')"><span class="fa fa-fw fa-book"></span><span class="tab-desc"> Quellennachweise</span></a>
            </li>
        </ul>
        <div ng-if="layerTwo.activeTab == 'map'">
            <div ng-if="currentUser.permissions.view_geodata" ng-controller="mapCtrl">
                <div id="map-container" ng-if="map">
                    <leaflet layers="map.layers" bounds="map.bounds" lf-draw="map.drawOptions" controls="map.controls" geojson="map.geojson" height="{{addonContainerHeight}}px" width="100%">
                    </leaflet><!-- legend="map.legend" -->
                </div>
            </div>
            <div ng-if="!currentUser.permissions.view_geodata">
                <div ng-include="'layouts/restricted-access.html'"></div>
            </div>
        </div>
        <div ng-if="layerTwo.activeTab == 'properties'" class="padded-content">
            <h5>Properties active</h5>
        </div>
        <div ng-if="layerTwo.activeTab == 'harris'" class="padded-content">
            <h5>Harris active</h5>
        </div>
        <div ng-if="layerTwo.activeTab == 'images'" ng-controller="imageCtrl" ng-init="initImageTab()" class="padded-content" style="max-height: 100%;">
            <div ng-if="currentUser.permissions.view_photos">
                <uib-accordion close-others="true">
                    <div uib-accordion-group class="panel-default" is-open="layerTwo.imageTab.linkedOpen" is-disabled="!currentElement.element">
                        <uib-accordion-heading>
                            <span ng-click="!currentElement.element || updateLinkedImages(layerTwo.imageTab.linkedOpen)">
                                Linked images
                            </span><!-- <span class="badge">{{ images.linked.length }}</span>-->
                        </uib-accordion-heading>
                        <image-list on-scroll-load="loadImages(len, type)" image-data="images.linked" image-type="'linked'" scroll-container="'#addon-container'"></image-list>
                    </div>
                    <div uib-accordion-group class="panel-default" is-open="layerTwo.imageTab.newOpen">
                        <uib-accordion-heading>
                            {{ 'add new images' | translate }}
                        </uib-accordion-heading>
                        <div class="col-md-12">
                            <div class="alert alert-info drop-box" ngf-drop ngf-select ng-model="dropFiles" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="false" accept="image/*" ngf-pattern="'image/*'">
                                Entweder per Drag &amp; Drop hierherziehen oder über den Button hochladen.
                            </div>
                            <button type="button" class="btn btn-default" ngf-select="uploadImages($files, $invalidFiles)" multiple accept="image/*">Bilder hochladen</button>
                            <ul>
                                <li ng-repeat="f in uploadingImages">
                                    {{ f.name }} {{ f.$errorParam }}
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ f.progress }}%">
                                            <span ng-hide="f.progress < 100">
                                                {{ 'upload finished' | translate }}
                                            </span>
                                            <span ng-show="f.progress < 100">
                                                {{ f.progress }}%
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li ng-repeat="f in errFiles">{{f.name}} {{f.$error}} {{f.$errorParam}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div uib-accordion-group class="panel-default" is-open="layerTwo.imageTab.allOpen">
                        <uib-accordion-heading>
                            <span ng-click="updateAllImages(layerTwo.imageTab.allOpen)">
                                Alle Bilder
                            </span><!-- <span class="badge">{{ images.all.length }}</span>-->
                        </uib-accordion-heading>
                        <image-list on-scroll-load="loadImages(len, type)" image-data="images.all" image-type="'all'" scroll-container="'#addon-container'"></image-list>
                    </div>
                </uib-accordion>
            </div>
            <div ng-if="!currentUser.permissions.view_photos">
                <div ng-include="'layouts/restricted-access.html'"></div>
            </div>
        </div>
        <div ng-if="layerTwo.activeTab == 'bibliography'" class="padded-content">
            <div ng-if="currentUser.permissions.duplicate_edit_concepts">
                <p class="alert alert-warning" ng-if="!hasSources(currentElement)">
                    Noch keine Quellen hinzugefügt.
                    <br/>
                    Um Quellen hinzuzufügen klicken Sie auf das <sup><i class="fa fa-circle-plus source-link" aria-hidden="true"></i></sup>-Symbol neben den Element-Eigenschaften.
                </p>
                <div ng-repeat="(key, attr) in currentElement.sources">
                    <h4><a href="" ng-click="openSourceModal(attr[0].attribute_name, attr[0].attribute_id, currentElement.data[attr[0].attribute_id+'_pos'])">{{ attr[0].attribute_name }}</a></h4>
                    <table class="table table-striped table-bordered table-hover">
                        <tr ng-repeat="entry in attr" ng-mouseenter="hovered=true;" ng-mouseleave="hovered=false;">
                            <td class="td-50 word-break">
                                {{ entry.literature.title }}<span ng-if="entry.literature.year"> - <i>{{ entry.literature.year}}</i></span>
                                <br/>
                                <strong>{{ entry.literature.author }}</strong>
                            </td>
                            <td class="td-50 word-break">
                                <span class="delete-icon" ng-class="{'hidden-del': !hovered}" ng-click="deleteSourceEntry($index, key)">
                                    &times;
                                </span>
                                <span class="deletable" ng-bind-html="entry.description | urlify">
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div ng-if="!currentUser.permissions.duplicate_edit_concepts">
                <div ng-include="'layouts/restricted-access.html'"></div>
            </div>
        </div>
    </div>
    <div ng-show="activeAnalysis.isActive">
        <iframe id="analysis-frame" ng-src="{{ activeAnalysis.url }}" style="border: none; width: 100%;"></iframe>
    </div>
</div>
