.context-menu-wrapper {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.list-group-vue-context {
    font-size: $font-size-base !important;
    font-weight: $font-weight-normal !important;
}

.list-group-item-vue-context {
    padding: $dropdown-padding-y $dropdown-item-padding-x !important;
    &:not(:first-child) {
        border-top: none !important;
    }
    &:not(:last-child) {
        border-bottom: none !important;
    }

    &:first-child {
        margin-top: 0 !important;
    }

    &:last-child {
        margin-bottom: 0 !important;
    }
}
