@import '/node_modules/vue-datepicker-next/scss/var.scss';

.#{$namespace}-datepicker-main {
  font: $font-size-base $font-family-sans-serif;
  color: $text-color;
  background-color: $body-bg;
  border: 1px solid;
  @if $enable-rounded {
    border-color: $input-border-color !important;
    border-radius: $input-border-radius !important;
  }
}

.#{$namespace}-datepicker-col-5 {
  position: initial;
  display: initial;
  width: 41.6666666667%;
}
