.ProseMirror.editor {
    min-height: 100%;
}

.ProseMirror:focus,
.ProseMirror-focused {
    outline: none;
}

.markdown-viewer > :last-child,
.ProseMirror.editor > :last-child {
    margin-bottom: 0px !important;
}

.milkdown-menu-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

img.emoji {
    width: 1rem;
}

.milkdown {
    overflow: auto;
}

.milkdown-wrapper {
    flex-grow: 1;
    background: #EBF2FD;
    @if $enable-rounded {
        border-radius: $border-radius-lg;
    }
    padding: map-get($spacers, 3);
    margin-top: map-get($spacers, 1);
    overflow: hidden;
}