.multiselect-clear {
  margin-right: auto !important;
}

.multiselect-clear-reset {
  margin-right: initial !important;
}

.multiselect-search {
  position: relative !important;
}

.multiselect-wide > .multiselect-dropdown {
  width: 20vw;
}

.multiselect-option {
  --ms-option-bg-selected: #{$green};
}

// User list tag item
.multiselect-tag-user {
  background-color: rgba(16, 185, 129, var(--bs-bg-opacity, 1));
}