$slider-height: 16px;
$slider-width: 30px;
$slider-offset: 2px;
$slider-inner-height: $slider-height - 2*$slider-offset;

.cb-toggle {
    position: relative;
    width: $slider-width;
    height: $slider-height;
    margin-bottom: 0;
}

.cb-toggle input {
    display:none;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-color: $gray-500;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .5s;
}

.slider:before {
    position: absolute;
    content: "";
    background-color: $gray-100;
    height: $slider-inner-height;
    width: $slider-inner-height;
    left: $slider-offset;
    bottom: $slider-offset;
    transition: .5s;
}

input[type="checkbox"]:checked + .slider:before {
    transform: translateX($slider-inner-height);
}

/* Rounded sliders */
.slider-rounded {
    border-radius: $slider-height;
}

.slider-rounded:before {
    border-radius: 50%;
}

/* color utility classes */
input:checked + .slider-primary {
    background-color: $primary;
}

input:checked + .slider-secondary {
    background-color: $secondary;
}

input:checked + .slider-success {
    background-color: $success;
}

input:checked + .slider-info {
    background-color: $info;
}

input:checked + .slider-warning {
    background-color: $warning;
}

input:checked + .slider-danger {
    background-color: $danger;
}

input:checked + .slider-light {
    background-color: $light;
}

input:checked + .slider-dark {
    background-color: $dark;
}
