body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  // background-color: #f5f8fa;
}

html {
    height: 100vh;
}

body, #app {
    height: 100%;
}

code {
    font-size: $font-size-base !important;
    line-height: $line-height-base !important;
    font-weight: 500 !important;
}

.font-serif {
    font-family: $font-family-serif;
}

.form-range::-moz-range-track, .form-range::-webkit-slider-runnable-track {
    background-color: var(--bs-secondary-bg);
}

.form-mb-0 > div.form-group:last-child {
    margin-bottom: 0;
}

.v-can-hidden {
    display: none !important;
}

.overlay-all {
    // TODO still needed?
    // z-index: 2000;
}

.drag-container:empty {
    height: 100%;
    width: 100%;
    border: 2px dashed lightgray;
    @if $enable-rounded {
        border-radius: 3px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reference-group {
    margin-bottom: map-get($utilities, margin, values, 3);
}

.reference-group:last-child {
    margin-bottom: 0rem !important;
}

.attribute-list-container > :last-child {
    margin-bottom: 0rem !important;
}

dl.dl-0-mb > dd:last-child {
    margin-bottom: 0rem !important;
}

.logo {
    height: $logo-size;
    width: $logo-size;
    display: inline-block !important;
    vertical-align: middle;
}

.login-header {
    text-align: center;
}

.media-image {
    max-width: 64px;
    max-height: 64px;
}

.media-image-placeholder {
    width: 64px;
    height: 64px;
}

.avatar-list > .avatar-list-item {
    transition: .25s;
}
.avatar-list > .avatar-list-item {
    @extend .ms-n2;
}
.avatar-list:hover > .avatar-list-item {
    margin-left: 0.1rem !important;
    transition: .3s ease;
}
.avatar-list > .avatar-list-item:first-child {
    margin-left: 0 !important;
}

.btn-fab {
    padding: 0;
    height: 1.8rem;
    width: 1.8rem;
}

.btn-fab-sm {
    padding: 0;
    height: 1.25rem;
    width: 1.25rem;
    font-size: 0.8rem;
    line-height: normal;
}

.btn-fab-list > .btn-fab, .btn-fab-list > .btn-fab-sm {
    margin-right: 0.25rem;
}

.btn-fab-list > .btn-fab:last-child, .btn-fab-list > .btn-fab-sm:last-child {
    margin-right: 0;
}

.notification-info, .stacked-icon-text {
    margin-left: -.5rem;
}

.modal-map {
    height: 500px;
}

@media screen and (max-height: 450px) {
   .modal-body.nonscrollable {
        overflow-y: auto !important;
   }
}

.shadowed {
    text-shadow:  1px  1px rgba(255, 255, 255, 0.75),
                  1px -1px rgba(255, 255, 255, 0.75),
                 -1px  1px rgba(255, 255, 255, 0.75),
                 -1px -1px rgba(255, 255, 255, 0.75) !important;
}

.card-title.shadowed {
    color: $black !important;
}

.card-hover {
    transition: .5s ease;
}

.card-hover-overlay {
    @if $enable-rounded {
        border-radius: $card-border-radius !important;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    transition: .5s ease;
}

.card:hover .card-hover {
    opacity: .15;
}

.card:hover .card-hover-overlay {
    opacity: .5;
}

.card:hover .card-title {
    opacity: 1;
}

.card-hover-addons, .list-hover-addons {
    display: none !important;
}
.card:hover .card-hover-addons, .list-item:hover .list-hover-addons {
    display: block !important;
}

.fa-counter-lg {
    font-size: 2.5rem;
    top: -5px;
    right: -5px;
}

.table-cell-250 td, .table-cell-250 ul {
    max-height: 250px;
    overflow-y: auto;
}

table.table-sticky > thead {
    @extend .position-sticky;
    top:0;
    background-color: var(--bs-table-bg);;
    box-shadow: 0 2px 1px -1px var(--bs-table-border-color);
    z-index: $zindex-sticky-in-page;
}

table.table-sticky .multiselect-dropdown,
table.table-sticky .dropdown-menu {
    z-index: $zindex-dropdown-underneath-sticky;
}

.multiselect-option.is-selected {
    &:hover {
        $hoverColor: var(--bs-gray-300);
        .chain-link {
            color: $hoverColor !important;

            &::before {
                color: $hoverColor !important;
            }
        }

        .list-info {
            color: $hoverColor !important;
        }
    }

    $lighterColor: var(--bs-gray-500);
    .chain-link {
        color: $lighterColor !important;

        &::before {
            color: $lighterColor !important;
        }
    }

    .list-info {
        color: $lighterColor !important;
    }
}

.hover-underline:hover {
    text-decoration: underline;
}

.hover-item:hover {
    background-color: $gray-200 !important;
    @if $enable-rounded {
        border-radius: $input-border-radius !important;
    }
}

.rendered-markdown li > p {
    display: inline !important;
    margin: 0px !important;
}

.list-hover:hover {
    background-color: $gray-200 !important;
}

.infobox {
    min-width: 250px;
    z-index: $zindex-sticky-in-page + 1;
}