.tree-hovered {
    background-color: $light !important;
}

.tree-clicked {
    background: none !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-weight: $font-weight-bold !important;
}

.tree-search {
    font-style: normal !important;
    font-weight: $font-weight-normal;
    // color: $white !important;
    background-color: rgba(red($yellow), green($yellow), blue($yellow), 0.5) !important;
    @if $enable-rounded {
        border-radius: $border-radius;
    }
}


.node-w-100 .tree-node {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
}

.node-w-100 .tree-children {
    width: 100% !important;
}

.node-w-100 .tree-node .tree-anchor {
    flex-basis: 0 !important;
    flex-grow: 1 !important;
    max-width: 100% !important;
}

.node-w-100 .tree-node .tree-children {
    break-before: always !important;
}
