.fw-medium {
    font-weight: $font-weight-medium !important;
}

.font-size-50 {
    font-size: 50%;
}

.fs-50 {
    font-size: 0.5em !important;
}

.fs-1 {
    font-size: 1rem !important;
}

.fs-06 {
    font-size: 0.6rem !important;
}

.fs-09 {
    font-size: 0.9rem !important;
}

.p-05 {
    padding: 0.125rem !important;
}

.pt-05 {
    padding-top: 0.125rem !important;
}

.pb-05 {
    padding-bottom: 0.125rem !important;
}

.ps-05 {
    padding-left: 0.125rem !important;
}

.pe-05 {
    padding-right: 0.125rem !important;
}

.py-05 {
    padding-top: 0.125rem !important;
    padding-bottom: 0.125rem !important;
}

.px-05 {
    padding-left: 0.125rem !important;
    padding-right: 0.125rem !important;
}

.prow {
    padding-left: calc(var(--bs-gutter-x) / 2);
    padding-right: calc(var(--bs-gutter-x) / 2);
}

.prows {
    padding-left: calc(var(--bs-gutter-x) / 2);
}

.prowe {
    padding-right: calc(var(--bs-gutter-x) / 2);
}

.ms--4 {
    margin-left: -1.5rem;
}

.ms--4-5 {
    margin-left: -2rem;
}

.is-invalid + .ms--4-5 {
    margin-left: -3.25rem;
}

.h-15r {
    height: 1.5rem !important;
}

.w-15r {
    width: 1.5rem !important;
}

.w-1 {
    width: 1% !important;
}

.w-90 {
    width: 90% !important;
}

.mh-300p {
    max-height: 300px !important;
}

.align-middle {
    vertical-align: middle;
}

.text-nowrap {
    white-space: nowrap;
}

.text-prewrap {
    white-space: pre-wrap;
}

.text-line {
    white-space: pre-line;
}

.word-break-all {
    word-break: break-all;
}

.flex-grow-1 {
    flex-grow: 1;
    flex-basis: 0;
}

.reorder-handle, .grab-handle {
    cursor: grab;
}

.reorder-handle:active {
    cursor: grabbing;
}

.copy-handle {
    cursor: copy;
}

.not-allowed-handle {
    cursor: not-allowed;
}

.breadcrumb-item-slash {
    + .breadcrumb-item-slash {
    &::before {
      content: quote("/");
    }
  }
}

.of-visible, .visible-overflow .v--modal {
    overflow: visible !important;
}

.bg-light-dark {
    background-color: lighten($text-color, 50%);
}

.border-dashed {
    border-style: dashed !important;
}

.opacity-0 {
    opacity: 0;
}

.opacity-25 {
    opacity: 0.25;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-75 {
    opacity: 0.75;
}

.opacity-1 {
    opacity: 1;
}

.clickable {
    cursor: pointer;
}

.scroll-x-hidden {
    overflow-x: hidden;
}

.scroll-x-auto {
    overflow-x: auto;
}

.scroll-y-auto {
    overflow-y: auto;
}

.scroll-x {
    overflow-x: scroll;
}

.scroll-y {
    overflow-y: scroll;
}

.bg-none {
    background: none !important;
}

.object-fit-cover {
    object-fit: cover;
}

.resize-none {
    resize: none;
}