.fw-medium {
    font-weight: $font-weight-medium !important;
}

.font-size-50 {
    font-size: 50%;
}

.fs-xs {
    font-size: $font-size-base * 0.6 !important;
}

.fs-sm {
    font-size: $font-size-sm !important;
}

.fs-50 {
    font-size: 0.5em !important;
}

.fs-1r {
    font-size: 1rem !important;
}

.fs-06 {
    font-size: 0.6rem !important;
}

.fs-09 {
    font-size: 0.9rem !important;
}

.p-05 {
    padding: 0.125rem !important;
}

.pt-05 {
    padding-top: 0.125rem !important;
}

.pb-05 {
    padding-bottom: 0.125rem !important;
}

.ps-05 {
    padding-left: 0.125rem !important;
}

.pe-05 {
    padding-right: 0.125rem !important;
}

.py-05 {
    padding-top: 0.125rem !important;
    padding-bottom: 0.125rem !important;
}

.px-05 {
    padding-left: 0.125rem !important;
    padding-right: 0.125rem !important;
}

.prow {
    padding-left: calc(var(--bs-gutter-x) / 2);
    padding-right: calc(var(--bs-gutter-x) / 2);
}

.ms--4 {
    margin-left: -1.5rem;
}

.ms--4-5 {
    margin-left: -2rem;
}

.ms--50 {
    margin-left: -50%;
}

.is-invalid + .ms--4-5 {
    margin-left: -3.25rem;
}

.w-90 {
    width: 90% !important;
}

.mh-300p {
    max-height: 300px !important;
}

.mh-75v {
    max-height: 75vh !important;
}

.minw-30 {
    min-width: 30rem !important;
}

.text-prewrap {
    white-space: pre-wrap;
}

.text-line {
    white-space: pre-line;
}

.word-break-all {
    word-break: break-all;
}

.flex-grow-1 {
    flex-grow: 1;
    flex-basis: 0;
}

.basis-fit-content {
    flex-basis: fit-content !important;
}

.list-group-item-hover:hover {
    background-color: $primary;
    color: $light;
}

.list-group-item-hover:hover .text-muted {
    color: $light !important;
}

.breadcrumb-item-slash {
    + .breadcrumb-item-slash {
    &::before {
      content: quote("/");
    }
  }
}

.of-visible, .visible-overflow .v--modal {
    overflow: visible !important;
}

.bg-light-dark {
    background-color: lighten($text-color, 50%);
}

.border-dashed {
    border-style: dashed !important;
}

.clickable {
    cursor: pointer;
}

.cursor-help {
    cursor: help;
}

.reorder-handle, .grab-handle {
    cursor: grab;
}

.reorder-handle:active {
    cursor: grabbing;
}

.copy-handle {
    cursor: copy;
}

.not-allowed-handle {
    cursor: not-allowed;
}

.bg-none {
    background: none !important;
}

.object-fit-cover {
    object-fit: cover;
}

.resize-none {
    resize: none;
}

.aspect-ratio-1 {
    aspect-ratio: 1;
}