// Defaults
// Body
$body-bg: #f8f9fa !default;

// Brands
$brand-primary: #0d6efd !default;
$brand-info: #0dcaf0 !default;
$brand-success: #198754 !default;
$brand-warning: #ffc107 !default;
$brand-danger: #dc3545 !default;

// Typography
$text-color: #6c757d !default;

// Navbar
$navbar-default-bg: #fff !default;

// Panels
$panel-default-heading-bg: #fff !default;
$enable-rounded: true !default;
$enable-negative-margins: true !default;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Typography
$icon-font-path: "/node_modules/bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-family-serif: "Zilla Slab", serif;
$font-family-monospace: "Source Code Pro", monospace;
$font-size-base: .9rem !default;
$line-height-base: 1.6;
$font-weight-medium: 600 !default;

$logo-size: 24px;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Breadcrumbs
$breadcrumb-item-padding: .25rem;
$breadcrumb-divider: quote(">");
$breadcrumb-divider-flipped: $breadcrumb-divider;

// Position values
$position-values: (
  0: 0,
  33: 33%,
  50: 50%,
  66: 66%,
  100: 100%
);

// Dropdowns
.dropdown-menu {
    // Hover
    --bs-dropdown-link-hover-bg: var(--bs-gray-200) !important;

    //Active
    --bs-dropdown-link-active-color: var(--bs-body-color) !important;
    --bs-dropdown-link-active-bg: var(--bs-gray-400) !important;
}
