// Colors
$white: #000 !default;
$gray-100: #212529 !default;
$gray-200: #343a40 !default;
$gray-300: #495057 !default;
$gray-400: #6c757d !default;
$gray-500: #adb5bd !default;
$gray-600: #ced4da !default;
$gray-700: #dee2e6 !default;
$gray-800: #e9ecef !default;
$gray-900: #f8f9fa !default;
$black: #fff !default;

$body-bg: $gray-100;
$text-color: $gray-600;
$navbar-default-bg: $white;
$panel-default-heading-bg: $white;

$blue: #dc3545 !default;
$red: #ab296a !default;
$orange: #fd7e14 !default;
$green: #479f76 !default;
$cyan: #4dd4ac !default;

$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$yellow: #ffc107 !default;
$teal: #20c997 !default;

$brand-primary: $blue;
$brand-info: $cyan;
$brand-success: $green;
$brand-warning: $orange;
$brand-danger: $red;

// Corners
$enable-rounded: false;

// Inputs
$input-disabled-bg: $gray-200 !default;
$input-disabled-color: $gray-400 !default;


// Addons

// Modal
.sp-modal-content {
    --bs-modal-bg: #{$gray-100};
}

// Multiselect
.multiselect {
    --ms-bg: $gray-100;
    color: $gray-600;

    @if not $enable-rounded {
        --ms-radius: 0px;
    }
}

.multiselect.is-disabled {
    --ms-bg-disabled: #{$input-disabled-bg};
    --ms-color-disabled: #{$input-disabled-color};

    color: var(--ms-color-disabled) !important;
    border-color: #{$input-disabled-color} !important;
}

.multiselect-search {
    --ms-placeholder-color: $gray-600;
}

.multiselect-tag {
    --ms-tag-bg: #{$green};
    --ms-tag-color: #{$gray-600};
    --ms-tag-bg-disabled: #{$gray-400};
    --ms-tag-color-disabled: #{$gray-600};

    @if not $enable-rounded {
        --ms-tag-radius: 0px;
    }
}

.multiselect-dropdown {
    --ms-dropdown-border-color: #{$gray-300};
    --ms-dropdown-bg: #{$gray-100};

    @if not $enable-rounded {
        --ms-dropdown-radius: 0px;
    }
}

.multiselect-option {
    --ms-option-bg-pointed: #{$gray-200};
    --ms-option-color-pointed: $text-color;
    --ms-option-bg-selected: $green;
}