<div class="form-group">
    <label class="control-label col-md-3">X-Column</label>
    <div class="col-md-9">
        <ui-select ng-model="$ctrl.vis.x" on-select="$ctrl.vis.histogram.selectX()">
            <ui-select-match allow-clear="false">
                {{ $select.selected.as || $select.selected.col }}
            </ui-select-match>
            <ui-select-choices repeat="ac in $ctrl.availableColumns | filter: $select.search">
                <span ng-show="ac.as">
                    <span ng-bind-html="ac.as | highlight: $select.search"></span> (<span ng-bind-html="ac.col | highlight: $select.search"></span>)
                </span>
                <span ng-hide="ac.as">
                    <span ng-bind-html="ac.col | highlight: $select.search"></span>
                </span>
            </ui-select-choices>
        </ui-select>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3">Auto Bins</label>
    <div class="col-md-9">
        <input type="checkbox" class="form-control" ng-model="$ctrl.vis.histogram.auto_bins" />
    </div>
</div>
<div ng-show="!$ctrl.vis.histogram.auto_bins">
    <div class="form-group">
        <label class="control-label col-md-3">Start</label>
        <div class="col-md-9">
            <input type="number" class="form-control" step="0.00001" ng-model="$ctrl.vis.histogram.start" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">End</label>
        <div class="col-md-9">
            <input type="number" class="form-control" step="0.00001" ng-model="$ctrl.vis.histogram.end" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Size</label>
        <div class="col-md-9">
            <input type="number" class="form-control" min="0" step="0.00001" ng-model="$ctrl.vis.histogram.size" />
        </div>
    </div>
</div>
