<div class="form-group">
    <label class="control-label col-md-3" translate="analysis.results.tabs.visualization.x-column"></label>
    <div class="col-md-9">
        <ui-select ng-model="$ctrl.vis.x" on-select="$ctrl.vis.line.selectX()">
            <ui-select-match allow-clear="false">
                {{ $select.selected.as || $select.selected.col || $select.selected }}
            </ui-select-match>
            <ui-select-choices repeat="ac in $ctrl.visualizationColumns | filter: $select.search">
                <span ng-show="ac.as">
                    <span ng-bind-html="ac.as | highlight: $select.search"></span> (<span ng-bind-html="ac.col | highlight: $select.search"></span>)
                </span>
                <span ng-hide="ac.as || !ac.col">
                    <span ng-bind-html="ac.col | highlight: $select.search"></span>
                </span>
                <span ng-show="!ac.as && !ac.col">
                    <span ng-bind-html="ac | highlight:$select.search"></span>
                </span>
            </ui-select-choices>
        </ui-select>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3" translate="analysis.results.tabs.visualization.y-column"></label>
    <div class="col-md-9">
        <ui-select ng-model="$ctrl.vis.y" on-select="$ctrl.vis.line.selectY()">
            <ui-select-match allow-clear="false">
                {{ $select.selected.as || $select.selected.col || $select.selected }}
            </ui-select-match>
            <ui-select-choices repeat="ac in $ctrl.visualizationColumns | filter: $select.search">
                <span ng-show="ac.as">
                    <span ng-bind-html="ac.as | highlight: $select.search"></span> (<span ng-bind-html="ac.col | highlight: $select.search"></span>)
                </span>
                <span ng-hide="ac.as || !ac.col">
                    <span ng-bind-html="ac.col | highlight: $select.search"></span>
                </span>
                <span ng-show="!ac.as && !ac.col">
                    <span ng-bind-html="ac | highlight:$select.search"></span>
                </span>
            </ui-select-choices>
        </ui-select>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3" translate="analysis.results.tabs.visualization.name"></label>
    <div class="col-md-9">
        <input type="text" class="form-control" ng-model="$ctrl.vis.line.name" />
    </div>
</div>
