.modal-content-80 {
    max-height: 80vh;
    overflow-y: auto;
}

.modal-content-80-fix {
    height: 80vh;
}

.modal-image {
    max-width: 100%;
    max-height: 80vh;
}

.atom-label {
	text-shadow: -1px 1px 1px rgb(0,0,0);
	margin-left: 25px;
}

.v--modal-overlay {
    z-index: $zindex-sticky + 1 !important;
}
