body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  // background-color: #f5f8fa;
}

html {
    height: 100vh;
}

body, #app {
    height: 100%;
}

.logo {
    height: $logo-size;
    width: $logo-size;
    display: inline-block !important;
    vertical-align: middle;
}

.login-header {
    text-align: center;
}

.btn-fab {
    padding: 0;
    height: 1.8rem;
    width: 1.8rem;
}

.btn-toggle {
    position: absolute;
    left: 0;
    top: -15px;
    margin: .25rem;
    z-index: 1;
}

.notification-info {
    margin-left: -.5rem;
}

.card-hover {
    transition: .5s ease;
}

.card-hover-overlay {
    border-radius: $card-border-radius !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    transition: .5s ease;
}

.card:hover .card-hover {
    opacity: .25;
}

.card:hover .card-hover-overlay {
    opacity: .5;
}

.text-wrap {
    white-space: pre-wrap;
}

.font-size-50 {
    font-size: 50%;
}

.table-cell-250 td, .table-cell-250 ul {
    max-height: 250px;
    overflow-y: auto;
}

.reorder-handle {
    cursor: grab;
}

.reorder-handle:active {
    cursor: grabbing;
}

.copy-handle {
    cursor: copy;
}

.not-allowed-handle {
    cursor: not-allowed;
}

.of-visible {
    overflow: visible !important;
}

.clickable {
    cursor: pointer;
}

.of-hidden {
    overflow: hidden;
}

.scroll-x-hidden {
    overflow-x: hidden;
}

.scroll-x-auto {
    overflow-x: auto;
}

.scroll-y-auto {
    overflow-y: auto;
}

.scroll-x {
    overflow-x: scroll;
}

.scroll-y {
    overflow-y: scroll;
}
