body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  // background-color: #f5f8fa;
}

.logo {
    height: $logo-size;
    width: $logo-size;
    display: inline-block !important;
    vertical-align: middle;
}

.login-header {
    text-align: center;
}

.btn-fab {
    padding: 0;
    height: 1.8rem;
    width: 1.8rem;
}
