
/* Elements */
.TreeView ul {
    list-style-type: none;
    padding-left: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
}
.TreeView ul > li {
    cursor: pointer;
    margin-left: 1rem;
    white-space: nowrap;
    display: flex;
}
.TreeView ul > li > span.item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.TreeView > input[type="search"] {}

/* Root list */
.TreeView ul.depth-0 {
    margin-bottom: 0;
}

/* Not disabled */
.TreeView ul li:not(.disabled) {}
.TreeView ul li:not(.disabled) > span.item {}

/* Selected */
.TreeView ul li.selected {}
.TreeView ul li.selected > span.item {
    font-weight: 600;
}

/* Categories : Nodes with children */
.TreeView ul li.category {
    /* Remove margin from category nodes, since they have an icon added */
    margin-left: 0;
}
.TreeView ul li.category > span.item {}
/* Folded */
.TreeView ul li.category.folded {}
.TreeView ul li.category.folded > span.item {}
/* Unfolded */
.TreeView ul li.category:not(.folded) {}
.TreeView ul li.category:not(.folded) > span.item {}
/* Opener */
.TreeView ul li.category > span.item > .opener {}
.TreeView ul li.category.folded > span.item > .opener::after {
    content: '+';
}
.TreeView ul li.category:not(.folded) > span.item > .opener::after {
    content: '-';
}
/* Folded async */
.TreeView li.category.async {}
.TreeView li.category.async > span.item {}
/* Loading async */
.TreeView li.category.loading {}
.TreeView li.category.loading > span.item {}

/* Animations on component creation / destruction */
.TreeViewTransition-enter {}
.TreeViewTransition-enter-active {}
.TreeViewTransition-leave {}
.TreeViewTransition-leave-active {}

/* Drag'n'drop */
.TreeView ul.dragover {}
.TreeView li.dragover {}
.TreeView li.dragover > span.item {
    background-color: $info !important;
    color: $gray-100 !important;
}
.TreeView li.nodrop {
    cursor: no-drop !important;
}
.TreeView li.nodrop > span.item {
    opacity: .65 !important;
    background-color: $red !important;
    color: $black !important;
}
