<div class="modal-header">
    <h4>{{ 'create' | translate }} <small>{{ mc.heading }}</small></h4>
</div>
<div class="modal-body">
    <div class="col-md-12">
        <p>{{ mc.desc }}</p>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-md-3" for="name">
                    Name:
                </label>
                <div class="col-md-9">
                    <input class="form-control" type="text" id="name" ng-model="mc.name" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="type">
                    Typ:
                </label>
                <ui-select ng-model="mc.type" id="type"
                on-select="mc.type=$select.ngModel.$modelValue" class="col-md-9">
                  <ui-select-match placeholder="Wählen Sie den Typ">{{ $select.selected.title }}</ui-select-match>
                  <ui-select-choices repeat="choice in mc.choices | filter: $select.search">
                    <span ng-bind-html="choice.title | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="mc.onCreate(mc.name, mc.type)">{{ 'create' | translate }}</button>
    <button type="button" class="btn btn-danger"
      ng-click="mc.cancel()">{{ 'cancel' | translate }}</button>
</div>
