<div ng-if="$ctrl.user.permissions.link_geodata
       && $ctrl.currentElement.element.id
       && !$ctrl.currentElement.element.geodata_id"
>
    <div ng-if="!$ctrl.isLinkPossible($ctrl.currentGeodata.type, $ctrl.currentElement.geometryType, $ctrl.geometryTypes)" translate="map-marker.wrong-type.info" translate-values="{ gtype: $ctrl.currentGeodata.type, ctype: $ctrl.currentElement.geometryType }">
    </div>
    <button
        type="button"
        class="btn btn-sm btn-success"
        ng-click="linkGeodata($ctrl.currentElement.element.id, $ctrl.currentGeodata.id)"
        ng-if="$ctrl.isLinkPossible($ctrl.currentGeodata.type, $ctrl.currentElement.geometryType, $ctrl.geometryTypes)"
    >
        <i class="material-icons">link</i> <span translate="map-marker.actions.context-link" translate-values="{ context: $ctrl.currentElement.element.name }"></span>
    </button>
</div>
<h4 ng-if="$ctrl.user.permissions.link_geodata
       && $ctrl.currentElement.element.geodata_id
       && $ctrl.currentElement.element.geodata_id == $ctrl.currentGeodata.id">
    {{ $ctrl.currentElement.element.name }}
</h4>

<div ng-if="!$ctrl.currentElement.element.id">
    <p translate="map-marker.not-linked-info"></p>
    <p ng-if="$ctrl.user.permissions.link_geodata" translate="map-marker.how-to-link"></p>
</div>
<p ng-if="$ctrl.user.permissions.link_geodata
       && $ctrl.currentElement.element.geodata_id
       && $ctrl.currentElement.element.geodata_id == $ctrl.currentGeodata.id">
    <button
        type="button"
        class="btn btn-xs btn-success"
        ng-click="unlinkGeodata($ctrl.currentElement.element.id)">
        <i class="material-icons">link</i> <span translate="map-marker.actions.context-unlink" translate-values="{ context: $ctrl.currentElement.element.name }"></span>
    </button>
</p>

<div ng-init="collapsed=true">
    <button ng-click="collapsed=!collapsed" class="btn btn-primary clickable">{{'map-marker.options.label'|translate}} <i class="material-icons">{{ collapsed ? 'arrow_drop_down' : 'arrow_drop_up' }}</i></button>
    <div ng-if="!collapsed">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-md-3" for="color_{{ $ctrl.currentGeodata.id }}">
                    {{'map-marker.options.color'|translate}}:
                </label>
                <div class="col-md-9">
                    <input class="form-control" type="color" name="color_{{ $ctrl.currentGeodata.id }}" ng-model="$ctrl.currentGeodata.color" id="color_{{ $ctrl.currentGeodata.id }}" ng-disabled="!$ctrl.user.permissions.duplicate_edit_concepts"/>
                </div>
            </div>
            <div ng-if="$ctrl.currentGeodata.type == 'Point'">
                <div class="form-group">
                    <label class="control-label col-md-3" for="lat_{{ $ctrl.currentGeodata.id }}">
                        {{'map-marker.options.lat'|translate}}:
                    </label>
                    <div class="col-md-9">
                        <input class="form-control" type="number" step="0.000001" min="-180" max="180" name="lat_{{ $ctrl.currentGeodata.id }}" ng-model="$ctrl.currentGeodata.lat" id="lat_{{ $ctrl.currentGeodata.id }}" ng-disabled="!$ctrl.user.permissions.duplicate_edit_concepts"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="lng_{{ $ctrl.currentGeodata.id }}">
                        {{'map-marker.options.lng'|translate}}:
                    </label>
                    <div class="col-md-9">
                        <input class="form-control" type="number" step="0.000001" min="-180" max="180" name="lng_{{ $ctrl.currentGeodata.id }}" ng-model="$ctrl.currentGeodata.lng" id="lng_{{ $ctrl.currentGeodata.id }}" ng-disabled="!$ctrl.user.permissions.duplicate_edit_concepts"/>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-xs btn-success" ng-click="updateMarkerOptions($ctrl.currentGeodata)" ng-if="$ctrl.user.permissions.duplicate_edit_concepts"><i class="material-icons">save</i> {{'map-marker.save'|translate}}</button>

        </form>
    </div>
</div>
