<h4>{{ currentElement.element.name }}</h4>

<div ng-if="!currentElement.element.id">
    <p translate="map-marker.not-linked-info"></p>
    <p ng-if="currentUser.permissions.link_geodata" translate="map-marker.how-to-link"></p>
</div>

<p ng-if="currentUser.permissions.link_geodata
       && currentElement.element.id
       && !currentElement.element.geodata_id"
><button
    type="button"
    class="btn btn-xs btn-success"
    ng-click="linkGeodata(currentElement.element.id, currentGeodata.id)"
><i class="fa fa-fw fa-link"></i> {{'map-marker.actions.context-link'|translate}}</button>
</p>

<p ng-if="currentUser.permissions.link_geodata
       && currentElement.element.geodata_id
       && currentElement.element.geodata_id == currentGeodata.id"
><button
    type="button"
    class="btn btn-xs btn-success"
    ng-click="unlinkGeodata(currentElement.element.id)"
><i class="fa fa-fw fa-link"></i> {{'map-marker.actions.context-unlink'|translate}}</button>
</p>

<!--<div ng-init="collapsed=true">
    <h5 ng-click="collapsed=!collapsed" class="clickable">{{'map-marker.options.label'|translate}} <small><i class="fa fa-fw" ng-class="collapsed ? 'fa-caret-right' : 'fa-caret-down'"></i></small></h5>
    <div ng-if="!collapsed">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-md-3" for="color_{{ markerKey }}">
                    {{'map-marker.options.color'|translate}}:
                </label>
                <div class="col-md-9">
                    <input class="form-control" type="color" name="color_{{ markerKey }}" ng-model="markerOptions.color" id="color_{{ markerKey }}" ng-disabled="!currentUser.permissions.duplicate_edit_concepts"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3" for="icon_{{ markerKey }}">
                    {{'map-marker.options.icon'|translate}}:
                </label>
                <div class="col-md-9">
                    <ui-select ng-model="markerOptions.icon" name="icon_{{ markerKey }}" ng-disabled="!currentUser.permissions.duplicate_edit_concepts">
                        <ui-select-match placeholder="{{'map-marker.options.icon'|translate}}"><i class="fa fa-fw fa-{{ $select.selected.icon }}"></i> {{ $select.selected.name }}</ui-select-match>
                        <ui-select-choices repeat="icon in icons | filter: $select.search">
                            <span><i class="fa fa-fw fa-{{ icon.icon }}"></i> {{ icon.name | highlight: $select.search }}</span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <button type="button" class="btn btn-xs btn-success" ng-click="updateMarkerOptions(activeMarker, markerKey, markerOptions.color, markerOptions.icon)" ng-if="currentUser.permissions.duplicate_edit_concepts"><i class="fa fa-fw fa-floppy-o"></i> {{'map-marker.save'|translate}}</button>-->

        <!--</form>
    </div>
</div>-->
