<div class="modal-header">
    <h4>{{ modalOptions.img.filename }}</h4>
</div>
<div class="modal-body row">
    <div class="col-md-7" style="display: flex; overflow: hidden;">
        <span class="vertical-slider-val" style="width: 4em; align-self: center;">{{ modalOptions.zoomlevel }}%</span>
        <input type="range" class="vertical-slider" id="width-25" min="50" max="500" step="5" orient="vertical" ng-model="modalOptions.zoomlevel" ng-change="modalOptions.zoomIn()"/>
        <div id="imageWrapper" style="width: 100%; height: 550px; overflow: hidden; position: relative;">
            <img src="api/image/get/{{ modalOptions.img.id }}" id="modalImage" draggable="false" ng-mousedown="modalOptions.mDown($event)" ng-mouseup="modalOptions.mUp($event)" ng-mousemove="modalOptions.mMove($event)" ng-mouseleave="modalOptions.mLeave($event)"
            msd-wheel="modalOptions.mScroll($event, $delta, $deltaX, $deltaY)"/>
        </div>
    </div>
    <div class="col-md-5">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" ng-class="{active: modalOptions.modalNav.propTab}" ng-click="modalOptions.modalNav.setPropTab()"><a><i class="fa fa-cog"></i> Eigenschaften</a></li>
            <li role="presentation" ng-class="{active: modalOptions.modalNav.linkTab}" ng-click="modalOptions.modalNav.setLinkTab()"><a><i class="fa fa-link"></i> Verknüpfungen</a></li>
        </ul>
        <div ng-show="modalOptions.modalNav.propTab">
            <h3>Eigenschaften</h3>
            <p class="left">
                <b>Ort (allgemein):</b> <i style="color: gray;"></i>
            </p>
            <p class="left">
                <b>Ort (spezifisch):</b> <i style="color: gray;"></i>
            </p>
            <p class="left">
                <b>Befund:</b> <i style="color: gray;">Fundstelle 123, Installation 45 und 86, Fundnr. 990</i>
            </p>
            <p class="left">
                <b>Datierung:</b> <i style="color: gray;">Spätbronzezeit, moderne Befunde</i>
            </p>
            <p class="left">
                <b>Blickrichtung:</b> <i style="color: gray;">SSW</i>
            </p>
            <p class="left">
                <b>Fotoart:</b> <i style="color: gray;">Arbeitsfoto</i>
            </p>
            <p class="left">
                <b>Fotograf:</b> <i style="color: gray;"><!--{{ modalOptions.img.photographer_id }}-->Team eScience-Center</i>
            </p>
            <p class="left">
                <b>Copyright:</b> <i style="color: gray;">{{ modalOptions.img.copyright }}</i>
            </p>
            <p class="left">
                <b>Beschreibung:</b> <i style="color: gray;">{{ modalOptions.img.description }}</i>
            </p>
            <p class="left">
                <b>Orientierung:</b> <i style="color: gray;">{{ modalOptions.img.orientation }}</i>
            </p>
            <hr/>
            <h3>Bildeigenschaften</h3>
            <p class="left">
                <b>Aufnahmedatum:</b> <span style="color: gray;">{{ modalOptions.img.created | date:'d.MM.yyyy H:mm:ss' }}</span>
            </p>
            <p class="left">
                <b>Kamera:</b> <i style="color: gray;">{{ modalOptions.img.cameraname }}</i>
            </p>
            <p class="left">
                <b>Zuletzt geändert:</b> <span style="color: gray;">{{ modalOptions.img.modified * 1000 | date:'d.MM.yyyy H:mm:ss' }}</span>
            </p>
            <p class="left">
                <b>Dateigröße:</b> <span style="color: gray;">{{ modalOptions.img.filesize | bytes:2 }}</span>
            </p>
        </div>
        <div ng-show="modalOptions.modalNav.linkTab" style="padding-right: 10px;">
            <h1>TODO</h1>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default"
      ng-click="modalOptions.close()">{{ 'close' | translate }}</button>
</div>
