<div class="modal-header">
    <h4>{{ modalOptions.img.filename }}</h4>
</div>
<div class="modal-body col-md-12">
    <div class="col-md-7 external-container">
        <img protected-src="api/image/get/{{ modalOptions.img.id }}" id="modalImage" />
        <div class="external-content">
            <a href="" ng-click="modalOptions.openImageInTab(modalOptions.img.id)">
                <dfn title="Open {{ modalOptions.img.filename }} in a new tab">
                    <i class="fa fa-fw fa-2x fa-external-link" aria-hidden="true"></i>
                </dfn>
            </a>
        </div>
    </div>
    <div class="col-md-5">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" ng-class="{active: modalOptions.modalNav.propTab}" ng-click="modalOptions.modalNav.setPropTab()"><a><i class="fa fa-cog"></i> {{'photos.properties.heading'|translate}}</a></li>
            <li role="presentation" ng-class="{active: modalOptions.modalNav.linkTab}" ng-click="modalOptions.modalNav.setLinkTab()"><a><i class="fa fa-link"></i> {{'photos.linkages.heading'|translate}}</a></li>
        </ul>
        <div ng-show="modalOptions.modalNav.propTab" class="col-md-10 col-md-offset-1">
            <h3>{{'photos.properties.heading'|translate}}</h3>
            <table class="table table-striped" style="width: 100%;">
                <tr>
                    <td style="text-align:left; font-weight: bold;">{{'photos.properties.location-general'|translate}}</td>
                    <td style="text-align:right;"><i style="color: gray;">Tübingen</i></td>
                </tr>
                <tr>
                    <td style="text-align:left; font-weight: bold;">{{'photos.properties.location-specific'|translate}}</td>
                    <td style="text-align:right;"><i style="color: gray;">Österberg</i></td>
                </tr>
                <tr>
                    <td style="text-align:left; font-weight: bold;">{{'photos.properties.befund'|translate}}</td>
                    <td style="text-align:right;"><i style="color: gray;">Fundstelle 123, Installation 45 und 86, Fundnr. 990</i></td>
                </tr>
                <tr>
                    <td style="text-align:left; font-weight: bold;">{{'photos.properties.dating'|translate}}</td>
                    <td style="text-align:right;"><i style="color: gray;">Spätbronzezeit, moderne Befunde</i></td>
                </tr>
                <tr>
                    <td style="text-align:left; font-weight: bold;">{{'photos.properties.direction'|translate}}</td>
                    <td style="text-align:right;"><i style="color: gray;">SSW</i></td>
                </tr>
                <tr>
                    <td style="text-align:left; font-weight: bold;">{{'photos.properties.type'|translate}}</td>
                    <td style="text-align:right;"><i style="color: gray;">Arbeitsfoto</i></td>
                </tr>
                <tr>
                    <td style="text-align:left; font-weight: bold;">{{'photos.properties.image.'|translate}}</td>
                    <td style="text-align:right;"><i style="color: gray;">Team eScience-Center</i></td>
                </tr>
                <tr>
                    <td style="text-align:left; font-weight: bold;">{{'photos.properties.image.copyright'|translate}}</td>
                    <td style="text-align:right;"><i style="color: gray;">{{ modalOptions.img.copyright }}</i></td>
                </tr>
                <tr>
                    <td style="text-align:left; font-weight: bold;">{{'photos.properties.image.description'|translate}}</td>
                    <td style="text-align:right;"><i style="color: gray;">{{ modalOptions.img.description }}</i></td>
                </tr>
                <tr>
                    <td style="text-align:left; font-weight: bold;">{{'photos.properties.image.orientation'|translate}}</td>
                    <td style="text-align:right;"><i style="color: gray;">{{ modalOptions.img.orientation }}</i></td>
                </tr>
            </table>
            <hr/>
            <h3>{{'photos.properties.image.heading'|translate}}</h3>
            <p class="left">
                <b>{{'photos.properties.image.created'|translate}}:</b> <span style="color: gray;">{{ modalOptions.img.created | date:'d.MM.yyyy H:mm:ss' }}</span>
            </p>
            <p class="left">
                <b>{{'photos.properties.image.cameraname'|translate}}:</b> <i style="color: gray;">{{ modalOptions.img.cameraname }}</i>
            </p>
            <p class="left">
                <b>{{'photos.properties.image.modified'|translate}}:</b> <span style="color: gray;">{{ modalOptions.img.modified * 1000 | date:'d.MM.yyyy H:mm:ss' }}</span>
            </p>
            <p class="left">
                <b>{{'photos.properties.image.filesize'|translate}}:</b> <span style="color: gray;">{{ modalOptions.img.filesize | bytes:2 }}</span>
            </p>
        </div>
        <div ng-show="modalOptions.modalNav.linkTab" style="padding-right: 10px;">
            <h3>{{'photos.linkages.heading'|translate}}</h3>
            <p>TODO</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default"
      ng-click="modalOptions.close()">{{ 'close' | translate }}</button>
</div>
