<div class="modal-header">
    <h4>{{'context-type.new.heading'|translate}}</h4>
</div>
<div class="modal-body">
    <div class="col-md-12">
        <form class="form-horizontal" role="form" ng-submit="mc.onCreate(mc.label, mc.type, mc.geomtype)">
            <div class="form-group">
                <label class="control-label col-md-3" for="type">{{'context-type.new.label'|translate}}:</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="mc.label" ng-model-options="{ debounce: 250 }" placeholder="Search" uib-typeahead="result as result.label for result in mc.onSearch($viewValue)" typeahead-min-length="3" typeahead-wait-ms="50" typeahead-loading="loadingResults" typeahead-no-results="noResults">
                        <span class="input-group-addon"><i class="material-icons">search</i></span>
                    </div>
                    <i ng-show="loadingResults" class="material-icons">refresh</i>
                    <div ng-show="noResults && mc.label.length >= 3">
                        <i class="material-icons md-18">clear</i> No Results Found
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">{{ 'context-type.new.type' | translate }}</label>
                <div class="col-md-9">
                    <ui-select ng-model="mc.type">
                        <ui-select-match>
                            <span>{{ $select.selected.label | translate }}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="type in mc.contextTypeTypes">
                            <span>{{ type.label | translate }}</span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">
                    {{ 'context-type.new.geomtype' | translate }}
                </label>
                <div class="col-md-4">
                    <ui-select ng-model="mc.geomtype" close-on-select="true">
                        <ui-select-match>{{ $select.selected }}</ui-select-match>
                        <ui-select-choices repeat="t in mc.availableGeometryTypes">
                            {{ t }}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <button type="submit" class="btn btn-success hidden" ng-disabled="!mc.label || !mc.type || !mc.geomtype"></button>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="mc.onCreate(mc.label, mc.type, mc.geomtype)" ng-disabled="!mc.label || !mc.type || !mc.geomtype">{{ 'create' | translate }}</button>
    <button type="button" class="btn btn-danger"
      ng-click="mc.cancel()">{{ 'cancel' | translate }}</button>
</div>
