<div class="modal-header">
    <h4>{{'literature.new.heading'|translate}}</h4>
</div>
<div class="modal-body">
    <div class="col-md-12">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-3" for="type">{{'literature.new.type'|translate}}:</label>
                <div class="col-md-9">
                    <ui-select ng-model="mc.selectedType">
                        <ui-select-match>
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="type in mc.availableTypes">
                            <span ng-bind="type.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group" ng-repeat="mandatory in mc.availableTypes[mc.selectedType.id].mandatoryFields">
                <label class="control-label col-md-3">{{ 'literature.bibtex.' + mandatory | translate }}:<span style="color: red;">*</span></label>
                <div class="col-md-9">
                    <input type="text" class="form-control" ng-model="mc.fields[mandatory]" placeholder="{{ 'literature.bibtex.' + mandatory | translate }}"/>
                </div>
            </div>
            <div class="form-group" ng-repeat="optional in mc.availableTypes[mc.selectedType.id].optionalFields">
                <label class="control-label col-md-3">{{ 'literature.bibtex.' + optional | translate }}:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" ng-model="mc.fields[optional]" placeholder="{{ 'literature.bibtex.' + optional | translate }}"/>
                </div>
            </div>
        </form>
        <h4>{{'literature.new.bibtex-code'|translate}}</h4>
        <pre>
            <code>
        {{ mc.fields }}
            </code>
        </pre>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="mc.onCreate(mc.fields, mc.selectedType)">{{ 'create' | translate }}</button>
    <button type="button" class="btn btn-danger"
      ng-click="mc.cancel()">{{ 'cancel' | translate }}</button>
</div>
