<div class="modal-header">
    <h3>Weiterführende Informationen <small>{{ mc.modalFields.name }}</small></h3>
</div>
<div class="modal-body">
    <div class="col-md-12">
        <h4 class="left">Sicherheit der Angabe</h4>
        <div class="col-md-offset-3 col-md-6">
            <div class="progress" ng-click="mc.modalFields.setPossibility($event)">
                <div class="progress-bar" ng-class="{ 'progress-bar-danger': mc.modalFields.value <= 25, 'progress-bar-warning': mc.modalFields.value <= 50, 'progress-bar-info': mc.modalFields.value <= 75, 'progress-bar-success': mc.modalFields.value > 75 }" role="progressbar" aria-valuenow="{{mc.modalFields.value}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ mc.modalFields.value }}%">
                    <span class="sr-only">{{ mc.modalFields.value }}% complete</span>
                    {{ mc.modalFields.value }}%
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-success"
              ng-click="mc.savePossibility()">
              <i class="fa fa-fw fa-floppy-o"></i> {{ 'Save' | translate }}
          </button>
        </div>
    </div>
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-12">
        <h4 class="left">Quellenangaben</h4>
        <table class="table table-striped table-bordered table-hover">
            <tr ng-repeat="entry in mc.modalFields.addedSources" ng-mouseenter="hovered=true;" ng-mouseleave="hovered=false;">
                <td class="td-50 word-break">
                    {{ entry.src.title }}<span ng-if="entry.src.year"> - <i>{{ entry.src.year}}</i></span>
                    <br/>
                    <strong>{{ entry.src.author }}</strong><span ng-if="entry.src.isbn"> ({{ entry.src.isbn }})</span>
                </td>
                <td class="td-50 word-break">
                    <span class="delete-icon" ng-class="{'hidden-del': !hovered}" ng-click="mc.deleteSourceEntry($index, mc.modalFields.addedSources)">
                        &times;
                    </span>
                    <span class="deletable" ng-bind-html="entry.desc | urlify">
                    </span>
                </td>
            </tr>
        </table>
        <div class="col-md-6">
            <ui-select id="lit{{ attr.ctid }}_{{ attr.attr }}_{{ attr.option }}" ng-model="mc.modalFields.currentSource" close-on-select="true">
                <ui-select-match>
                    {{ $select.selected.title | truncate:80:true }}
                </ui-select-match>
                <ui-select-choices repeat="lit in mc.modalFields.literature | filter:$select.search">
                    <div>
                        <div>
                            {{ lit.title | truncate:80:true }} <small><i style="color:gray; align: right;">{{ lit.author | truncate:80:true }}</i></small>
                        </div>
                        <small>{{ lit.year }}</small>
                    </div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-6">
            <textarea class="form-control" ng-model="mc.modalFields.currentDesc"></textarea>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-1">
            <button type="button" class="btn btn-success" ng-click="mc.addSource(mc.modalFields.currentSource, mc.modalFields.currentDesc, mc.modalFields.id)" ng-disabled="!mc.modalFields.currentSource || !mc.modalFields.currentDesc"><i class="fa fa-plus" aria-hidden="true"></i> {{ 'create' | translate }}</button>
        </div>
    </div>
</div>
<div class="modal-footer">
    <!--<button type="button" class="btn btn-success" ng-click="saveSources()">{{ 'Save' | translate }}</button>-->
    <button type="button" class="btn btn-default"
      ng-click="mc.cancel()">{{ 'close' | translate }}</button>
</div>
