<div class="modal-header">
    <h3>{{ 'warning' | translate }}</h3>
</div>
<div class="modal-body col-md-10 col-md-offset-1">
    <p class="alert alert-info">
        {{ mc.msg | translate }}
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success"
      ng-click="mc.onConfirm()" ng-disabled="!mc.onConfirm">{{ 'save-and-continue' | translate }}</button>
    <button type="button" class="btn btn-default"
      ng-click="mc.onDiscard()" ng-disabled="!mc.onDiscard">{{ 'discard-changes' | translate }}</button>
    <button type="button" class="btn btn-danger"
      ng-click="mc.cancel()">{{ 'cancel' | translate }}</button>
</div>
