<div class="row">
    <button type="button" class="btn btn-default toggle-button" ng-click="$ctrl.toggleShowFilterOptions()">
        <i class="material-icons" ng-show="$ctrl.showFilterOptions">arrow_back</i>
        <i class="material-icons" ng-show="!$ctrl.showFilterOptions">menu</i>
    </button>
    <div ng-class="$ctrl.showFilterOptions ? 'col-md-3' : 'hidden'">
        <h2>Query Options</h2>
        <div ng-if="$ctrl.expertMode">
            <h4>Active Order Rules</h4>
            <p ng-if="$ctrl.orders.length == 0">
                No order rules present.
            </p>
            <ol ng-if="$ctrl.orders.length > 0">
                <li class="flex-hr-between" ng-repeat="o in $ctrl.orders">
                    <span>{{ $index + 1 }}.</span>
                    <div>
                        {{ o.col }} {{ o.dir }}
                    </div>
                    <div>
                        <a class="btn btn-default btn-fab btn-fab-minime" href="" ng-click="$ctrl.removeOrder(o)">
                            <i class="material-icons md-18 fa-red">delete</i>
                        </a>
                        <a class="btn btn-default btn-fab btn-fab-minime" href="" ng-if="!$first" ng-click="$ctrl.moveOrderUp(o)">
                            <i class="material-icons md-18">arrow_drop_up</i>
                        </a>
                        <a class="btn btn-default btn-fab btn-fab-minime" href="" ng-if="!$last" ng-click="$ctrl.moveOrderDown(o)">
                            <i class="material-icons md-18">arrow_drop_down</i>
                        </a>
                    </div>
                </li>
            </ol>
        </div>
        <h4>Active Filters</h4>
        <p ng-if="$ctrl.filters.length == 0">
            No filters present.
        </p>
        <ol ng-if="$ctrl.filters.length > 0">
            <li class="flex-hr-between" ng-repeat="f in $ctrl.filters">
                <span>{{ $index + 1 }}.</span>
                <div>
                    <strong ng-show="!$first">{{ f.and ? 'AND' : 'OR' }}</strong>
                </div>
                <div>
                    {{ f.col }} {{ f.comp }} {{ f.comp_value }} <span ng-if="f.func">(Using {{ f.func }} with {{ f.func_values }})</span>
                </div>
                <div>
                    <a class="btn btn-default btn-fab btn-fab-minime" href="" ng-click="$ctrl.editFilter(f)" ng-disabled="true">
                        <i class="material-icons md-18 fa-cyan">edit</i>
                    </a>
                    <a class="btn btn-default btn-fab btn-fab-minime" href="" ng-click="$ctrl.removeFilter(f)">
                        <i class="material-icons md-18 fa-red">delete</i>
                    </a>
                    <a class="btn btn-default btn-fab btn-fab-minime" href="" ng-if="!$first" ng-click="$ctrl.moveFilterUp(f)">
                        <i class="material-icons md-18">arrow_drop_up</i>
                    </a>
                    <a class="btn btn-default btn-fab btn-fab-minime" href="" ng-if="!$last" ng-click="$ctrl.moveFilterDown(f)">
                        <i class="material-icons md-18">arrow_drop_down</i>
                    </a>
                </div>
            </li>
        </ol>
        <h4>Other Query Options</h4>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-3">Apply Changes immediately</label>
                <div class="col-md-9">
                    <input type="checkbox" class="form-control" ng-model="$ctrl.instantFilter" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Table</label>
                <div class="col-md-9">
                    <ui-select ng-model="$ctrl.origin">
                        <ui-select-match allow-clear="false">
                            {{ $select.selected }}
                        </ui-select-match>
                        <ui-select-choices repeat="o in $ctrl.origins | filter: $select.search">
                            <span ng-bind-html="o | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group" ng-if="$ctrl.expertMode">
                <label class="control-label col-md-3">Limit</label>
                <div class="col-md-9">
                    From: <input type="number" step="1" min="0" class="form-control" ng-model="$ctrl.limit.from" />
                    Amount: <input type="number" step="1" min="1" class="form-control" ng-model="$ctrl.limit.amount" />
                </div>
            </div>
            <div class="form-group" ng-if="$ctrl.expertMode">
                <label class="control-label col-md-3">Columns</label>
                <div class="col-md-9">
                    <ol>
                        <li class="flex-hr-between" ng-repeat="col in $ctrl.columns">
                            <span>{{ $index + 1 }}.</span>
                            <div>
                                {{ col.col }} <span ng-if="col.as"> AS {{ col.as }}</span>
                            </div>
                            <div>
                                <a class="btn btn-default btn-fab btn-fab-minime" href="" ng-click="$ctrl.removeColumn(col)">
                                    <i class="material-icons md-18 fa-red">delete</i>
                                </a>
                            </div>
                        </li>
                    </ol>
                    <div class="flex-vt">
                        <div class="flex-hr-start">
                            <ui-select ng-model="$ctrl.column.col">
                                <ui-select-match allow-clear="false">
                                    {{ $select.selected.as || $select.selected.col }}
                                </ui-select-match>
                                <ui-select-choices repeat="ac in $ctrl.availableColumns | filter: $select.search">
                                    <span ng-show="ac.as">
                                        <span ng-bind-html="ac.as | highlight: $select.search"></span> (<span ng-bind-html="ac.col | highlight: $select.search"></span>)
                                    </span>
                                    <span ng-hide="ac.as">
                                        <span ng-bind-html="ac.col | highlight: $select.search"></span>
                                    </span>
                                </ui-select-choices>
                            </ui-select>
                            <input type="text" placeholder="AS" ng-model="$ctrl.column.as" />
                            <button type="button" class="btn btn-default" ng-click="$ctrl.addColumn()" ng-disabled="!$ctrl.column.col || ($ctrl.column.func && !$ctrl.column.func_values)">
                                <i class="material-icons">add</i> Add
                            </button>
                        </div>
                        <div class="flex-hr-start">
                            <ui-select ng-model="$ctrl.column.func" style="display: inline-block;">
                                <ui-select-match allow-clear="true">
                                    {{ $select.selected }}
                                </ui-select-match>
                                <ui-select-choices repeat="f in $ctrl.functions | filter: $select.search">
                                    <span ng-bind-html="f | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                            <input type="text" placeholder="Function Values" ng-model="$ctrl.column.func_values" ng-show="$ctrl.column.func" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="$ctrl.expertMode">
                <label class="control-label col-md-3">Use <code>DISTINCT</code></label>
                <div class="col-md-9">
                    <input type="checkbox" class="form-control" ng-model="$ctrl.distinct" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Expert Mode <sup uib-popover="The Expert Mode enables several additional settings. It also allows you to use your resulting (SQL) query outside of Spacialist. If you are unfamiliar with SQL you should use the default simple mode." popover-trigger="'mouseover'" popover-placement="auto right"><i class="material-icons md-14">help_outline</i></sup></label>
                <div class="col-md-9">
                    <input type="checkbox" class="form-control" ng-model="$ctrl.expertMode" ng-change="$ctrl.toggleExpertMode()" />
                </div>
            </div>
            <button type="button" class="btn btn-default" ng-click="$ctrl.filter()">
                Filtern
            </button>
            <div class="form-group" ng-if="$ctrl.expertMode">
                <label class="control-label col-md-3">Resulting Query</label>
                <div class="col-md-9">
                    <textarea class="form-control" rows="6" ng-model="$ctrl.query" ng-readonly="true"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div ng-class="$ctrl.showFilterOptions ? 'col-md-9' : 'col-md-12'">
        <p class="alert alert-info" ng-show="!$ctrl.hasResults()">
            Query returned no results or you didn't run the query yet.
        </p>
        <div ng-if="$ctrl.hasResults()">
            <h2>Results <span class="badge">{{ $ctrl.results.length }}</span></h2>
            <ul class="nav nav-tabs">
                <li role="presentation" ng-class="{ 'active': $ctrl.activeResultTab == 'raw'}" ng-if="$ctrl.expertMode">
                    <a ng-click="$ctrl.activeResultTab = 'raw'">
                        <i class="material-icons">list</i> Raw
                    </a>
                </li>
                <li role="presentation" ng-class="{ 'active': $ctrl.activeResultTab == 'simple'}">
                    <a ng-click="$ctrl.activeResultTab = 'simple'">
                        <i class="material-icons">extension</i> Query Builder
                    </a>
                </li>
                <li role="presentation" ng-class="{ 'active': $ctrl.activeResultTab == 'vis'}">
                    <a ng-click="$ctrl.activeResultTab = 'vis'">
                        <i class="material-icons">show_chart</i> Visualization
                    </a>
                </li>
            </ul>
            <div class="table-responsive" ng-show="$ctrl.activeResultTab == 'raw'" ng-if="$ctrl.expertMode">
                <table class="table table-striped table-hover">
                    <tr>
                        <th ng-repeat="(k, col) in $ctrl.results[0]">
                            <div class="flex-hr-start" uib-tooltip="{{$ctrl.getOriginalColumnName(k)}}">
                                {{ k }}
                                <a href="">
                                    <i class="material-icons" ng-click="$ctrl.addOrder(k, 'desc')">arrow_drop_up</i>
                                </a>
                                <a href="">
                                    <i class="material-icons" ng-click="$ctrl.addOrder(k, 'asc')">arrow_drop_down</i>
                                </a>
                                <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup.html'" popover-placement="bottom" popover-trigger="'click'">
                                    <i class="material-icons">search</i>
                                </a>
                            </div>
                        </th>
                    </tr>
                    <tr ng-repeat="r in $ctrl.results">
                        <td ng-repeat="(k, col) in $ctrl.results[0]">
                            {{ r[k] }}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="table-responsive" ng-show="$ctrl.activeResultTab == 'simple'">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>
                            <div class="flex-hr-start">
                                Name
                                <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup.html'" popover-placement="bottom" popover-trigger="'click'">
                                    <i class="material-icons">search</i>
                                </a>
                            </div>
                        </th>
                        <th>
                            <div class="flex-hr-start">
                                Attributes
                                <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup.html'" popover-placement="bottom" popover-trigger="'click'">
                                    <i class="material-icons">search</i>
                                </a>
                            </div>
                        </th>
                        <th>
                            <div class="flex-hr-start">
                                Context Type
                                <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup.html'" popover-placement="bottom" popover-trigger="'click'">
                                    <i class="material-icons">search</i>
                                </a>
                            </div>
                        </th>
                        <th>
                            <div class="flex-hr-start">
                                Geodata
                                <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup.html'" popover-placement="bottom" popover-trigger="'click'">
                                    <i class="material-icons">search</i>
                                </a>
                            </div>
                        </th>
                        <th>
                            <div class="flex-hr-start">
                                Literature
                                <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup.html'" popover-placement="bottom" popover-trigger="'click'">
                                    <i class="material-icons">search</i>
                                </a>
                            </div>
                        </th>
                        <th>
                            <div class="flex-hr-start">
                                Files
                                <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup.html'" popover-placement="bottom" popover-trigger="'click'">
                                    <i class="material-icons">search</i>
                                </a>
                            </div>
                        </th>
                        <th>
                            <div class="flex-hr-start">
                                Child Contexts
                                <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup.html'" popover-placement="bottom" popover-trigger="'click'">
                                    <i class="material-icons">search</i>
                                </a>
                            </div>
                        </th>
                        <th>
                            <div class="flex-hr-start">
                                Parent Context
                                <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup.html'" popover-placement="bottom" popover-trigger="'click'">
                                    <i class="material-icons">search</i>
                                </a>
                            </div>
                        </th>
                        <th>
                            <div class="flex-hr-start">
                                Created At
                                <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup.html'" popover-placement="bottom" popover-trigger="'click'">
                                    <i class="material-icons">search</i>
                                </a>
                            </div>
                        </th>
                        <th>
                            <div class="flex-hr-start">
                                Updated At
                                <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup.html'" popover-placement="bottom" popover-trigger="'click'">
                                    <i class="material-icons">search</i>
                                </a>
                            </div>
                        </th>
                        <th>
                            <div class="flex-hr-start">
                                Last Editor
                                <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup.html'" popover-placement="bottom" popover-trigger="'click'">
                                    <i class="material-icons">search</i>
                                </a>
                            </div>
                        </th>
                    </tr>
                    <tr ng-repeat="r in $ctrl.combinedResults">
                        <td>
                            {{ r.name }}
                        </td>
                        <td>
                            <ul>
                                <li ng-repeat="attr in r.attributes">
                                    {{ $ctrl.concepts[attr.thesaurus_url].label }} ({{ attr.datatype }})
                                </li>
                            </ul>
                        </td>
                        <td>
                            <i class="material-icons md-14">{{ r.context_type.type == 0 ? 'account_balance' : 'spa' }}</i> {{ $ctrl.concepts[r.context_type.thesaurus_url].label }}
                        </td>
                        <td>
                            {{ r.geodata.geom }}
                        </td>
                        <td>
                            <ul>
                                <li ng-repeat="lit in r.literatures">
                                    {{ lit.title }} - {{ lit.author }}
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li ng-repeat="f in r.files">
                                    {{ f.name }}
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li ng-repeat="c in r.child_contexts">
                                    {{ c.name }}
                                </li>
                            </ul>
                        </td>
                        <td>
                            {{ r.root_context.name }}
                        </td>
                        <td>
                            {{ r.created_at }}
                        </td>
                        <td>
                            {{ r.updated_at }}
                        </td>
                        <td>
                            {{ r.lasteditor }}
                        </td>
                    </tr>
                </table>
            </div>
            <div ng-show="$ctrl.activeResultTab == 'vis'">
                <form class="form-horizontal col-md-5">
                    <div class="form-group">
                        <label class="control-label col-md-3">Type</label>
                        <div class="col-md-9">
                            <ui-select ng-model="$ctrl.vis.type">
                                <ui-select-match allow-clear="false">
                                    {{ $select.selected }}
                                </ui-select-match>
                                <ui-select-choices repeat="av in $ctrl.availableVisualizations | filter: $select.search">
                                    <span ng-bind-html="av | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div ng-if="$ctrl.vis.type == 'scatter'" ng-include src="'templates/visualizations/scatter.html'">
                    </div>
                    <div ng-if="$ctrl.vis.type == 'line'" ng-include src="'templates/visualizations/line.html'">
                    </div>
                    <div ng-if="$ctrl.vis.type == 'bar'" ng-include src="'templates/visualizations/bar.html'">
                    </div>
                    <div ng-if="$ctrl.vis.type == 'pie'" ng-include src="'templates/visualizations/pie.html'">
                    </div>
                    <div ng-if="$ctrl.vis.type == 'histogram'" ng-include src="'templates/visualizations/histogram.html'">
                    </div>
                    <div ng-if="$ctrl.vis.type == 'histogram2d'" ng-include src="'templates/visualizations/histogram2d.html'">
                    </div>
                    <div ng-if="$ctrl.vis.type == 'ternary'" ng-include src="'templates/visualizations/ternary.html'">
                    </div>
                    <div ng-if="$ctrl.vis.type == 'ternarycontour'" ng-include src="'templates/visualizations/ternarycontour.html'">
                    </div>
                    <div ng-if="$ctrl.vis.type == 'heatmap'" ng-include src="'templates/visualizations/heatmap.html'">
                    </div>
                    <div ng-if="$ctrl.vis.type == 'windrose'" ng-include src="'templates/visualizations/windrose.html'">
                    </div>
                    <div ng-if="$ctrl.vis.type == 'radar'" ng-include src="'templates/visualizations/radar.html'">
                    </div>
                    <button type="button" class="btn btn-default" ng-click="$ctrl.visualize($ctrl.vis.type)" ng-disabled="!$ctrl.vis[$ctrl.vis.type].validate()">
                        <i class="material-icons">visibility</i> Visualize it!
                    </button>
                </form>
                <div class="col-md-7" id="plotly-visualization-container"></div>
            </div>
        </div>
    </div>
</div>
