<div ui-view="context-detail" on-store="$ctrl.onStore(context, data)" on-source-add="$ctrl.onSourceAdd(entry)" on-set-context="$ctrl.onSetContext(id, data)" on-set-geodata="$ctrl.onSetGeodata(gid, geodata)">
    <!-- ui-view element for context detail template -->
    <h3>{{'context-form.heading'|translate}}</h3>
    <div class="alert alert-info">
        <p>{{ 'context-form.no-selection' | translate }}</p>
        <p ng-if="$ctrl.userConfig['prefs.show-tooltips'].value">{{ 'context-form.no-selection-info' | translate }}</p>
    </div>
</div>
