<div ng-if="$ctrl.contextType">
    <h4 translate="data-model-editor.attr-of.heading" translate-values="{ name: $ctrl.concepts[$ctrl.contextType.thesaurus_url].label }"></h4>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="control-label col-md-3" for="layer_type">
                {{ 'context-type.new.geomtype' | translate }}:
            </label>
            <div class="col-md-9">
                <p class="form-control-static">
                    {{ $ctrl.contextType.layer_type }}
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="root">
                {{ 'context-type.new.root' | translate }}:
            </label>
            <div class="col-md-9">
                <input type="checkbox" id="root" ng-model="$ctrl.contextType.is_root" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="children">
                {{ 'context-type.new.children' | translate }}:
            </label>
            <div class="col-md-9">
                <ui-select multiple ng-model="$ctrl.contextType.children" id="children"
                on-select="" class="col-md-9">
                  <ui-select-match placeholder="{{'context-new.type-placeholder'|translate}}">{{ $ctrl.concepts[$select.selected.thesaurus_url].label }}</ui-select-match>
                  <ui-select-choices repeat="choice in $ctrl.contextTypes | filter: $select.search">
                    <span ng-bind-html="$ctrl.concepts[choice.thesaurus_url].label | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <form-field fields="$ctrl.fields" output="tempx" concepts="$ctrl.concepts" label-width="3" input-width="9" offset="0" deletable orderable on-delete="$ctrl.onRemoveAttrFromCt" on-order="$ctrl.onOrderAttrOfCt">
        </form-field>
        <div class="col-md-offset-3">
            <button type="button" class="btn btn-success" ng-click="$ctrl.addAttributeToContextType()">
                <i class="material-icons">add</i> <span translate="data-model-editor.add-attr-button" translate-values="{ name: $ctrl.concepts[$ctrl.contextType.thesaurus_url].label }"></span>
            </button>
        </div>
    </form>
</div>
