<div ng-init="useFunc = false;">
    <div style="text-align: right;">
        <a href="" ng-click="$ctrl.closePopover($event)">
            <i class="material-icons md-dark">clear</i>
        </a>
    </div>
    <form class="form-horizontal">
        <div class="form-group" ng-if="$ctrl.attributeColumns.length > 0">
            <label class="control-label col-md-2">Attribute:</label>
            <div class="col-md-10">
                <ui-select ng-model="$ctrl.tmpAttribute" on-select="$ctrl.getSubPopover($item, $ctrl.relation)">
                    <ui-select-match allow-clear="false">
                        {{ $ctrl.concepts[$select.selected.thesaurus_url].label }}
                    </ui-select-match>
                    <ui-select-choices repeat="sc in $ctrl.attributeColumns | filter: $select.search">
                        <span ng-bind-html="$ctrl.concepts[sc.thesaurus_url].label | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group" ng-if="$ctrl.actionColumns.length > 0">
            <label class="control-label col-md-2">Action:</label>
            <div class="col-md-10">
                <ui-select ng-model="$ctrl.tmpAction" on-select="$ctrl.getSubPopover($item, $ctrl.relation)">
                    <ui-select-match allow-clear="false">
                        {{ $select.selected }}
                    </ui-select-match>
                    <ui-select-choices repeat="sc in $ctrl.actionColumns | filter: $select.search">
                        <span ng-bind-html="sc | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group" ng-show="$ctrl.selectedComps.length > 0">
            <label class="control-label col-md-2">Comparison:</label>
            <div class="col-md-10">
                <ui-select ng-model="$ctrl.selectedComp">
                    <ui-select-match allow-clear="false">
                        {{ $select.selected.label }}
                    </ui-select-match>
                    <ui-select-choices repeat="c in $ctrl.selectedComps | filter: $select.search">
                        <span ng-bind-html="c.label | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group" ng-if="$ctrl.selectedComp.needs_value">
            <label class="control-label col-md-2">Comparison Value:</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-if="$ctrl.selectedType == 'string'" ng-model="$ctrl.selectedComp_value" />
                <input type="number" step="1" class="form-control" ng-if="$ctrl.selectedType == 'integer' || $ctrl.selectedType == 'count'" ng-model="$ctrl.selectedComp_value" />
                <div ng-if="$ctrl.selectedType == 'percentage'">
                    <input class="form-control slider" type="range" step="1" min="0" max="100" value="0" ng-model="$ctrl.selectedComp_value" />
                    <span class="slider-text">{{ $ctrl.selectedComp_value }}%</span>
                </div>
                <input type="color" class="form-control" ng-if="$ctrl.selectedType == 'color'" ng-model="$ctrl.selectedComp_value" />
                <div ng-if="$ctrl.selectedType == 'date'">
                    <input type="text" class="form-control" uib-datepicker-popup="{{ 'date_format_lg' | translate }}" is-open="opened" close-text="{{ 'close' | translate }}" ng-model="$ctrl.selectedComp_value"  ng-model-options="{timezone:'utc'}" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-init="opened=false" ng-click="opened=!opened"><i class="material-icons">event</i></button>
                    </span>
                </div>
                <ui-select ng-model="$ctrl.tmpContext" ng-if="$ctrl.contextColumns.length > 0" on-select="$ctrl.setContextTypeValue($item, $ctrl.relation.name)">
                    <ui-select-match allow-clear="false">
                        {{ $ctrl.concepts[$select.selected.thesaurus_url].label }}
                    </ui-select-match>
                    <ui-select-choices repeat="sc in $ctrl.contextColumns | filter: $select.search">
                        <span ng-bind-html="$ctrl.concepts[sc.thesaurus_url].label | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
                <ui-select ng-model="$ctrl.tmpDatatype" ng-if="$ctrl.datatypeColumns.length > 0" on-select="$ctrl.setDataTypeValue($item, $ctrl.relation.name)">
                    <ui-select-match allow-clear="false">
                        <span translate="{{$select.selected.description}}"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="sc in $ctrl.datatypeColumns | filter: $select.search">
                        <span translate="{{sc.description}}"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="flex-hr-center">
            <button type="button" class="btn btn-default" ng-click="$ctrl.addFilter($ctrl.selectedColumn, $ctrl.selectedComp.comp, $ctrl.selectedComp_value, $ctrl.func, $ctrl.func_values, true, $ctrl.relation)" ng-disabled="!$ctrl.selectedComp || ($ctrl.selectedComp.needs_value && !$ctrl.selectedComp_value)">
                AND
            </button>
            <button type="button" class="btn btn-default" ng-click="$ctrl.addFilter($ctrl.selectedColumn, $ctrl.selectedComp.comp, $ctrl.selectedComp_value, $ctrl.func, $ctrl.func_values, false, $ctrl.relation)" ng-disabled="!$ctrl.selectedComp || ($ctrl.selectedComp.needs_value && !$ctrl.selectedComp_value)">
                OR
            </button>
        </div>
    </form>
</div>
