<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-1">origin</label>
        <div class="col-md-2">
            <ui-select ng-model="$ctrl.origin">
              <ui-select-match allow-clear="false">
                  {{ $select.selected }}
              </ui-select-match>
              <ui-select-choices repeat="o in $ctrl.origins | filter: $select.search">
                <span ng-bind-html="o | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-1">Filter</label>
        <div class="col-md-5">
            <ul>
                <li ng-repeat="f in $ctrl.filters">
                    {{ f.and ? 'AND' : 'OR' }} {{ f.col }} {{ f.comp }} {{ f.comp_value }} <span ng-if="f.func">(Using {{ f.func }} with {{ f.func_values }})</span>
                </li>
            </ul>
            <div>
                <input type="text" placeholder="Spalte" ng-model="$ctrl.col" />
                <ui-select ng-model="$ctrl.comp" style="display: inline-block;">
                    <ui-select-match allow-clear="false">
                        {{ $select.selected }}
                    </ui-select-match>
                    <ui-select-choices repeat="c in $ctrl.comps | filter: $select.search">
                        <span ng-bind-html="c | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
                <input type="text" placeholder="Wert" ng-model="$ctrl.comp_value" />
                <button type="button" class="btn btn-default" ng-click="$ctrl.addFilter(true)">
                    AND
                </button>
                <button type="button" class="btn btn-default" ng-click="$ctrl.addFilter(false)">
                    OR
                </button>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-default" ng-click="$ctrl.filter()">
        Filtern
    </button>
</form>
<div class="col-md-12" ng-if="$ctrl.results.length > 0">
    <h1>Results</h1>
    <table class="table table-striped table-hover">
        <tr ng-if="$ctrl.columns.length > 0">
            <th ng-repeat="col in $ctrl.columns">
                {{ col.as || col.col }}
            </th>
        </tr>
        <tr ng-if="$ctrl.columns.length == 0">
            <th ng-repeat="(k, col) in $ctrl.results[0]">
                {{ k }}
            </th>
        </tr>
        <tr ng-repeat="r in $ctrl.results">
            <td ng-if="$ctrl.columns.length > 0" ng-repeat="col in $ctrl.columns">
                {{ r[col.as.toLowerCase()] || r[col.col.toLowerCase()] }}
            </td>
            <td ng-if="$ctrl.columns.length == 0" ng-repeat="(k, col) in $ctrl.results[0]">
                {{ r[k] }}
            </td>
        </tr>
    </table>
</div>
