<div resize-watcher id="gis">
    <div class="col-md-2">
        <div>
            <button type="button" class="btn btn-default" ng-click="$ctrl.openImportWindow()">
                <i class="material-icons">file_download</i> {{'gis.import-button.title'|translate}}
            </button>
            <ul class="list-unstyled">
                <li ng-repeat="l in $ctrl.layer" context-menu="$ctrl.layerContextMenu" ng-model="l" ng-init="$ctrl.layerVisibility[l.id] = true">
                    <a href="" class="toggle" ng-click="toggleLayerGroup = !toggleLayerGroup">
                        <span ng-if="!toggleLayerGroup &&  $ctrl.map.mapLayers[l.id].getLayers().length > 0" class="material-icons top">arrow_drop_down</span>
                        <span ng-if="toggleLayerGroup && $ctrl.map.mapLayers[l.id].getLayers().length > 0" class="material-icons top">arrow_drop_up</span>
                        <span ng-if="$ctrl.map.mapLayers[l.id].getLayers().length == 0" class="material-icons placeholder"></span>
                    </a>
                    <input type="checkbox" ng-model="$ctrl.layerVisibility[l.id]" ng-change="$ctrl.toggleLayerGroupVisibility(l, $ctrl.layerVisibility[l.id])" /> <span class="clickable" ng-if="l.context_type_id">{{ $ctrl.concepts[l.thesaurus_url].label }}</span>
                    <span class="clickable" ng-if="!l.context_type_id">{{ l.name }}</span> <span ng-if="l.counter">{{[l.counter]}}</span>
                    <ul class="list-no-bullets" ng-if="toggleLayerGroup && $ctrl.map.mapLayers[l.id]">
                        <li ng-repeat="o in $ctrl.map.mapLayers[l.id].getLayers()" ng-init="$ctrl.sublayerVisibility[o.feature.id] = true">
                            <input type="checkbox" ng-disabled="!$ctrl.layerVisibility[l.id]" ng-model="$ctrl.sublayerVisibility[o.feature.id]" ng-change="$ctrl.toggleLayerVisibility(o, $ctrl.sublayerVisibility[o.feature.id])" /> {{ o.feature.properties.name }}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-10">
        <leaflet id="gismap" layers="$ctrl.map.layers" lf-center="$ctrl.map.center" bounds="$ctrl.map.bounds" defaults="$ctrl.map.defaults" lf-draw="$ctrl.map.drawOptions" controls="$ctrl.map.controls" height="100vh" width="100%">
        </leaflet><!-- legend="map.legend" -->
    </div>
</div>
