<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th translate="preference.title"></th>
            <th translate="preference.value"></th>
            <th ng-if="!$ctrl.isUserPref" translate="preference.allow-override"></th>
            <th translate="Save"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="pref in $ctrl.preferences">
            <td>
                <strong translate="{{ pref.label }}"></strong>
            </td>
            <td>
                <input type="text" ng-model="pref.value" />
            </td>
            <td ng-if="!$ctrl.isUserPref">
                <input type="checkbox" ng-model="pref.allow_override" />
            </td>
            <td>
                <button type="button" class="btn btn-success" ng-click="$ctrl.onUpdate(pref)">
                    <i class="material-icons">check</i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
