<th ng-show="$ctrl.showAmbiguous">
    <div class="flex-hr-start">
        <span translate="analysis.results.tabs.simple.header.geodata.geometry"></span>
        <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons md-18">search</i>
        </a>
    </div>
</th>
<th ng-show="$ctrl.showAmbiguous">
    <div class="flex-hr-start">
        <span translate="analysis.results.tabs.simple.header.geodata.context"></span>
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('context', 'ambiguous')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons md-18">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        <span translate="analysis.results.tabs.simple.header.geodata.color"></span>
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('color', 'color')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons md-18">search</i>
        </a>
    </div>
</th>
<th ng-show="$ctrl.showAmbiguous">
    <div class="flex-hr-start">
        <span translate="analysis.results.tabs.simple.header.created_at"></span>
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('created_at', 'date')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons md-18">search</i>
        </a>
    </div>
</th>
<th ng-show="$ctrl.showAmbiguous">
    <div class="flex-hr-start">
        <span translate="analysis.results.tabs.simple.header.updated_at"></span>
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('updated_at', 'date')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons md-18">search</i>
        </a>
    </div>
</th>
<th ng-show="$ctrl.showAmbiguous">
    <div class="flex-hr-start">
        <span translate="analysis.results.tabs.simple.header.lasteditor"></span>
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('lasteditor', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons md-18">search</i>
        </a>
    </div>
</th>
