<tr ng-repeat="r in $ctrl.combinedResults">
    <td>
        {{ r.name }}
    </td>
    <td ng-show="$ctrl.showAmbiguous">
        <i class="material-icons md-14 middle">{{ r.context_type.type == 0 ? 'account_balance' : 'spa' }}</i> {{ $ctrl.concepts[r.context_type.thesaurus_url].label }}
    </td>
    <td ng-show="$ctrl.showAmbiguous">
        <ul>
            <li ng-repeat="attr in r.attributes">
                {{ $ctrl.concepts[attr.thesaurus_url].label }} ({{ attr.datatype }})
                <a ng-if="$ctrl.datatypeSupportsSplit(attr.datatype)" href="" ng-click="$ctrl.addSplit('attributes', 'id', attr.id, attr.thesaurus_url)">
                    <i class="material-icons md-14">reply</i>
                </a>
            </li>
        </ul>
    </td>
    <td ng-repeat="(k, value) in $ctrl.splitResults">
        <div ng-switch="$ctrl.splitType[k]">
            <span ng-switch-when="string-sc">
                {{ $ctrl.concepts[value[$parent.$parent.$index]].label}}
            </span>
            <span ng-switch-when="geography">
                {{ value[$parent.$parent.$index].wkt }}
                <a ng-if="value[$parent.$parent.$index]" href="" ng-click="$ctrl.openGeographyModal(value[$parent.$parent.$parent.$index].geom)">
                    <i class="material-icons md-14">place</i>
                </a>
            </span>
            <span ng-switch-default>
                {{ value[$parent.$parent.$index] }}
            </span>
        </div>


    </td>
    <td ng-show="$ctrl.showAmbiguous">
        {{ r.geodata.wkt }}
        <a ng-if="r.geodata.wkt" href="" ng-click="$ctrl.openGeographyModal(r.geodata.geom)">
            <i class="material-icons md-14">place</i>
        </a>
    </td>
    <td ng-show="$ctrl.showAmbiguous">
        <ul>
            <li ng-repeat="lit in r.literatures">
                {{ lit.title }} - {{ lit.author }}
            </li>
        </ul>
    </td>
    <td ng-show="$ctrl.showAmbiguous">
        <ul>
            <li ng-repeat="f in r.files">
                {{ f.name }}
            </li>
        </ul>
    </td>
    <td ng-show="$ctrl.showAmbiguous">
        <ul>
            <li ng-repeat="c in r.child_contexts">
                {{ c.name }}
            </li>
        </ul>
    </td>
    <td ng-show="$ctrl.showAmbiguous">
        {{ r.root_context.name }}
    </td>
    <td ng-show="$ctrl.showAmbiguous">
        {{ r.created_at }}
    </td>
    <td ng-show="$ctrl.showAmbiguous">
        {{ r.updated_at }}
    </td>
    <td ng-show="$ctrl.showAmbiguous">
        {{ r.lasteditor }}
    </td>
</tr>
