<th>
    <div class="flex-hr-start">
        Author
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('author', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Title
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('title', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Type
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('type', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Year
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('year', 'integer')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Volume
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('volume', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Series
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('series', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        School
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('school', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Publisher
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('publisher', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Pages
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('pages', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Organization
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('organization', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Number
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('number', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Note
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('note', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Month
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('month', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Journal
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('journal', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Institution
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('institution', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Chapter
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('chapter', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th ng-show="$ctrl.showAmbiguous">
    <div class="flex-hr-start">
        Created At
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('created_at', 'date')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th ng-show="$ctrl.showAmbiguous">
    <div class="flex-hr-start">
        Updated At
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('updated_at', 'date')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th ng-show="$ctrl.showAmbiguous">
    <div class="flex-hr-start">
        Last Editor
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('lasteditor', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
