<th>
    <div class="flex-hr-start">
        <span translate="analysis.results.tabs.simple.header.literature.author"></span>
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('author', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons md-18">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        <span translate="analysis.results.tabs.simple.header.literature.title"></span>
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('title', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons md-18">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        <span translate="analysis.results.tabs.simple.header.literature.type"></span>
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('type', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons md-18">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        <span translate="analysis.results.tabs.simple.header.literature.year"></span>
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('year', 'integer')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons md-18">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        <span translate="analysis.results.tabs.simple.header.literature.volume"></span>
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('volume', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons md-18">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        <span translate="analysis.results.tabs.simple.header.literature.series"></span>
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('series', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons md-18">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        <span translate="analysis.results.tabs.simple.header.literature.school"></span>
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('school', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons md-18">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        <span translate="analysis.results.tabs.simple.header.literature.publisher"></span>
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('publisher', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons md-18">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        <span translate="analysis.results.tabs.simple.header.literature.pages"></span>
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('pages', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons md-18">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        <span translate="analysis.results.tabs.simple.header.literature.organization"></span>
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('organization', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons md-18">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        <span translate="analysis.results.tabs.simple.header.literature.number"></span>
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('number', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons md-18">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        <span translate="analysis.results.tabs.simple.header.literature.note"></span>
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('note', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons md-18">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        <span translate="analysis.results.tabs.simple.header.literature.month"></span>
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('month', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons md-18">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        <span translate="analysis.results.tabs.simple.header.literature.journal"></span>
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('journal', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons md-18">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        <span translate="analysis.results.tabs.simple.header.literature.institution"></span>
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('institution', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons md-18">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        <span translate="analysis.results.tabs.simple.header.literature.chapter"></span>
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('chapter', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons md-18">search</i>
        </a>
    </div>
</th>
<th ng-show="$ctrl.showAmbiguous">
    <div class="flex-hr-start">
        <span translate="analysis.results.tabs.simple.header.created_at"></span>
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('created_at', 'date')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons md-18">search</i>
        </a>
    </div>
</th>
<th ng-show="$ctrl.showAmbiguous">
    <div class="flex-hr-start">
        <span translate="analysis.results.tabs.simple.header.updated_at"></span>
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('updated_at', 'date')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons md-18">search</i>
        </a>
    </div>
</th>
<th ng-show="$ctrl.showAmbiguous">
    <div class="flex-hr-start">
        <span translate="analysis.results.tabs.simple.header.lasteditor"></span>
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('lasteditor', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons md-18">search</i>
        </a>
    </div>
</th>
