<tr ng-repeat="r in $ctrl.combinedResults">
    <td ng-show="$ctrl.showAmbiguous">
        {{ r.geowkt }}
        <a href="" ng-click="$ctrl.openGeographyModal(r.geom)">
            <i class="material-icons md-14">place</i>
        </a>
    </td>
    <td ng-show="$ctrl.showAmbiguous">
        {{ r.context.name }}
    </td>
    <td>
        {{ r.color }}
    </td>
    <td ng-show="$ctrl.showAmbiguous">
        {{ r.created_at }}
    </td>
    <td ng-show="$ctrl.showAmbiguous">
        {{ r.updated_at }}
    </td>
    <td ng-show="$ctrl.showAmbiguous">
        {{ r.lasteditor }}
    </td>
</tr>
