<tr ng-repeat="r in $ctrl.combinedResults">
    <td ng-show="$ctrl.showAmbiguous">
        {{ $ctrl.concepts[r.attribute.thesaurus_url].label }}
    </td>
    <td ng-show="$ctrl.showAmbiguous">
        {{ r.context.name }}
    </td>
    <td ng-show="$ctrl.showAmbiguous">
        {{ r.str_val || r.int_val || r.dbl_val || r.dt_val || r.json_val || r.geography_val || r.context_val.name }}
    </td>
    <td>
        {{ r.possibility }}%
    </td>
    <td>
        {{ r.created_at }}
    </td>
    <td>
        {{ r.updated_at }}
    </td>
    <td>
        {{ r.lasteditor }}
    </td>
</tr>
