<th>
    <div class="flex-hr-start">
        Author
        <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Title
        <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Type
        <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Year
        <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Volume
        <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Series
        <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        School
        <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Publisher
        <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Pages
        <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Organization
        <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Number
        <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Note
        <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Month
        <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Journal
        <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Institution
        <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Chapter
        <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Created At
        <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Updated At
        <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Last Editor
        <a href="" class="filter-popover-trigger" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
