<th>
    <div class="flex-hr-start">
        Name
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('name', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Modified
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('modified', 'date')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Created At (File)
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('created', 'date')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Description
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('description', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th>
    <div class="flex-hr-start">
        Copyright
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('copyright', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th ng-show="$ctrl.showAmbiguous">
    <div class="flex-hr-start">
        Created At
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('created_at', 'date')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th ng-show="$ctrl.showAmbiguous">
    <div class="flex-hr-start">
        Updated At
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('updated_at', 'date')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
<th ng-show="$ctrl.showAmbiguous">
    <div class="flex-hr-start">
        Last Editor
        <a href="" class="filter-popover-trigger" ng-click="$ctrl.onOpenPopover('lasteditor', 'string')" uib-popover-template="'templates/filter-popup-simple.html'" popover-placement="bottom" popover-trigger="'click'">
            <i class="material-icons">search</i>
        </a>
    </div>
</th>
