<div class="modal-header">
    <h4>{{'user.edit.heading'|translate}}</h4>
</div>
<div class="modal-body">
    <div class="col-md-12">
        <form name="editUserForm" class="form-horizontal" role="form" ng-submit="onEdit(editUser)">
            <div class="form-group">
                <label class="control-label col-md-3" for="name">
                    {{'user.name'|translate}}:
                </label>
                <!--<div class="col-md-9">
                    <input class="form-control" type="text" id="name" ng-model="mc.userinfo.name" />
                </div>-->
                <p class="form-control-static">
                    {{ editUser.name }}
                </p>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="email">
                    {{'user.email'|translate}}
                </label>
                <!--<div class="col-md-9">
                    <input class="form-control" type="email" id="email" ng-model="mc.userinfo.email" />
                </div>-->
                <p class="form-control-static">
                    {{ editUser.email }}
                </p>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="password">
                    {{'user.edit.new-password'|translate}}:
                </label>
                <div class="col-md-9">
                    <input class="form-control" type="password" id="password" ng-model="editUser.password" />
                </div>
            </div>
            <button type="submit" class="btn btn-success hidden" ng-disabled="editUserForm.$invalid"></button>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="onEdit(editUser)" ng-disabled="editUserForm.$invalid">{{ 'Save' | translate }}</button>
    <button type="button" class="btn btn-danger"
      ng-click="cancel()">{{ 'cancel' | translate }}</button>
</div>
