<div class="modal-header">
    <h4>{{'literature.edit.heading'|translate}}</h4>
</div>
<div class="modal-body">
    <div class="col-md-12">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-3" for="type">{{'literature.new.type'|translate}}:</label>
                <div class="col-md-9">
                    <ui-select ng-model="type.selected">
                        <ui-select-match>
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="type in types">
                            <span ng-bind="type.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group" ng-repeat="mandatory in types[type.selected.id].mandatoryFields">
                <label class="control-label col-md-3">{{ 'literature.bibtex.' + mandatory | translate }}:<span style="color: red;">*</span></label>
                <div class="col-md-9">
                    <input type="text" class="form-control" ng-model="editEntry[mandatory]" placeholder="{{ 'literature.bibtex.' + mandatory | translate }}"/>
                </div>
            </div>
            <div class="form-group" ng-repeat="optional in types[type.selected.id].optionalFields">
                <label class="control-label col-md-3">{{ 'literature.bibtex.' + optional | translate }}:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" ng-model="editEntry[optional]" placeholder="{{ 'literature.bibtex.' + optional | translate }}"/>
                </div>
            </div>
        </form>
        <h4>{{'literature.new.bibtex-code'|translate}}</h4>
        <pre>
            <code>
        {{ editEntry }}
            </code>
        </pre>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="onEdit(editEntry, type.selected)">{{ 'Save' | translate }}</button>
    <button type="button" class="btn btn-danger"
      ng-click="cancel()">{{ 'cancel' | translate }}</button>
</div>
