<div class="modal-header">
    <h4>{{$ctrl.file.filename }}</h4>
</div>
<div class="modal-body text-center col-md-12" style="display: flex;">
    <div class="col-md-7 external-container" style="align-items: stretch;">
        <div class="hg-100" ng-switch="$ctrl.mimeType">
            <div class="hg-100" ng-switch-when="image">
                <img ng-src="{{$ctrl.file.url}}" id="file-modal" />
                <div class="external-content">
                    <a ng-href="{{$ctrl.file.url}}" target="_blank">
                        <dfn title="Open {{ $ctrl.file.filename }} in a new tab">
                            <i class="material-icons" aria-hidden="true">open_in_new</i>
                        </dfn>
                    </a>
                </div>
            </div>
            <div class="hg-100" ng-switch-when="pdf" ng-controller="pdfCtrl" ng-init="pdfUrl=$ctrl.file.url">
                <ng-pdf template-url="layouts/pdf.html"></ng-pdf>
                <div class="progress animated-item" ng-if="status.progress < 100">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ status.progress }}%">
                        {{ status.progress }}%
                    </div>
                </div>
            </div>
            <div ng-switch-when="audio">
                <audio controls class="width-90">
                    <source ng-src="{{$ctrl.file.url}}" />
                </audio>
            </div>
            <div ng-switch-when="video">
                <video controls class="width-90">
                    <source ng-src="{{$ctrl.file.url}}" />
                </video>
            </div>
            <div class="hg-100" ng-switch-when="3d" ng-controller="threeCtrl">
                <div class="hg-100" id="threejs-container" ng-init="initThree($ctrl.file.url, $ctrl.file.filename)">
                    <div style="position: absolute; top: 10px; left: 10px;">
                        <button class="btn btn-primary" style="display: block;" ng-click="zoomOut()"><i class="material-icons">zoom_out</i></button>
                        <button class="btn btn-primary" style="display: block;" ng-click="zoomIn()"><i class="material-icons">zoom_in</i></button>
                        <button class="btn btn-primary" style="display: block;" ng-click="toggleMeasurement()"><i class="material-icons">straighten</i></button>
                    </div>
                </div>
                <p>
                    Gemessene Länge: {{ props.length }}m
                </p>
                <div class="progress animated-item" ng-if="status.progress < 100">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ status.progress }}%">
                        {{ status.progress }}%
                    </div>
                </div>
                <div ng-show="!status.vr.errored">
                    <button type="button" class="btn btn-default" ng-click="status.vr.button.toggle()">
                        {{ status.vr.button.text }}
                    </button>
                </div>
                <div class="alert alert-warning" ng-show="status.vr.errored">
                    <i class="material-icons alert-decoration">warning</i> <span ng-bind-html="status.vr.message"></span>
                </div>
            </div>
            <div class="hg-100" ng-switch-when="zip" ng-controller="zipCtrl">
                <div ng-init="showZipContent($ctrl.file)">
                    <div ui-tree data-nodrop-enabled="true" data-drag-enabled="false">
                        <ul ui-tree-nodes ng-model="zip.entries">
                            <li ng-repeat="e in zip.entries" ui-tree-node ng-include="'includes/file-tree-child.html'">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-switch-when="text" ng-controller="pdfCtrl">
                <div ng-if="$ctrl.isMarkdown($ctrl.file)">
                    <button type="button" class="btn btn-default" ng-click="togglePreview()">
                        <span translate="files.properties.md-preview.toggle"></span>
                    </button>
                </div>
                <div ng-if="$ctrl.isCsv($ctrl.file)">
                    <button type="button" class="btn btn-default" ng-click="toggleCsv($ctrl.file.url)">
                        <span>Show As Table</span>
                    </button>
                </div>
                <div ng-if="!isPreview" class="left scrollable-modal" hljs hljs-include="$ctrl.file.url">
                </div>
                <div ng-if="isPreview && isMd" class="left scrollable-modal" marked src="$ctrl.file.url">
                </div>
                <div ng-if="isPreview && isCsv" class="left scrollable-modal">
                    Delimiter: <input type="text" ng-model="csvDelim" placeholder=","/>
                    <div ng-bind-html="csvData | csv2table:csvDelim">
                    </div>
                </div>
            </div>
            <div ng-switch-default>
                <p class="alert alert-info" ng-bind-html="'file-type.unknown-info'|translate:{filename: $ctrl.file.filename}">
                </p>
                <a href="{{$ctrl.file.url}}" download="{{$ctrl.file.filename}}" target="_blank">
                    <i class="material-icons md-96">file_download</i>
                    <h4 translate="files.download" translate-values="{filename: $ctrl.file.filename}"></h4>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-5" style="align-items: stretch;" ng-init="activeTab = 'props'">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" ng-class="{active: activeTab == 'props'}" ng-click="activeTab = 'props'">
                <a>
                    <i class="material-icons">tune</i> {{'files.properties.heading'|translate}}
                </a>
            </li>
            <li role="presentation" ng-class="{active: activeTab == 'links'}" ng-click="activeTab = 'links'">
                <a>
                    <i class="material-icons">link</i> {{'files.linkages.heading'|translate}}
                </a>
            </li>
            <li role="presentation" ng-class="{active: activeTab == 'exif'}" ng-click="activeTab = 'exif'">
                <a>
                    <i class="material-icons">camera</i> {{ 'files.exif.heading'|translate}}
                </a>
            </li>
        </ul>
        <div ng-show="activeTab == 'props'" class="col-md-10 col-md-offset-1">
            <h3>{{'files.properties.heading'|translate}}</h3>
            <table class="table" style="width: 100%;">
                <tr ng-repeat="prop in $ctrl.availableProperties" ng-mouseenter="hovered=true;" ng-mouseleave="hovered=false;">
                    <td style="text-align:left; font-weight: bold;">
                        {{'files.properties.file.'+prop|translate}}
                    </td>
                    <td style="text-align:right;">
                        <div ng-show="!$ctrl.fileEdits[prop].editMode">
                            <a class="btn btn-default btn-fab btn-fab-minime" href="" ng-click="$ctrl.setFilePropertyEdit($ctrl.fileEdits, prop, $ctrl.file[prop])" ng-if="hovered">
                                <i class="material-icons md-18 fa-green">edit</i>
                            </a>
                            <i>
                                <i style="color: gray;">
                                    {{ $ctrl.file[prop] }}
                                </i>
                            </i>
                        </div>
                        <div ng-if="$ctrl.fileEdits[prop].editMode">
                            <a class="btn btn-success btn-fab btn-fab-minime" href="" ng-click="$ctrl.storeFilePropertyEdit($ctrl.fileEdits, prop, $ctrl.file)">
                                <i class="material-icons md-18">check</i>
                            </a>
                            <a class="btn btn-danger btn-fab btn-fab-minime" href="" ng-click="$ctrl.cancelFilePropertyEdit($ctrl.fileEdits, prop)">
                                <i class="material-icons md-18">clear</i>
                            </a>
                            <input type="text" class="inline-edit" style="text-align: right;" ng-model="$ctrl.fileEdits[prop].text" />
                        </div>
                    </td>
                </tr>
            </table>
            <h3>{{'files.properties.file.heading'|translate}}</h3>
            <table class="table" style="width: 100%;">
                <tr>
                    <td style="text-align:left; font-weight: bold;">
                        {{'files.properties.file.created'|translate}}
                    </td>
                    <td style="text-align:right;">
                        <i style="color: gray;">{{ $ctrl.file.created*1000 | date:'d.MM.yyyy H:mm:ss' }}</i>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left; font-weight: bold;">
                        {{'files.properties.file.modified'|translate}}
                    </td>
                    <td style="text-align:right;">
                        <i style="color: gray;">{{ $ctrl.file.modified*1000 | date:'d.MM.yyyy H:mm:ss' }}</i>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left; font-weight: bold;">
                        {{'files.properties.file.filesize'|translate}}
                    </td>
                    <td style="text-align:right;">
                        <i style="color: gray;">{{ $ctrl.file.filesize | bytes:2 }}</i>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td style="text-align:right; font-weight: bold;">
                        <a href="{{$ctrl.file.url}}" download="{{$ctrl.file.filename}}" target="_blank">
                            Download
                            <i class="material-icons md-18" style="color: gray;">file_download</i>
                        </a>
                    </td>
                </tr>
            </table>
            <h3 translate="tags.name"></h3>
            <div>
                <div class="form-group label-floating">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <i class="material-icons">local_offer</i>
                        </span>
                       <ui-select multiple tagging tagging-label="false" ng-model="$ctrl.file.tags" on-select="$ctrl.addTag($ctrl.file, $item)" on-remove="$ctrl.removeTag($ctrl.file, $item)" theme="bootstrap" sortable="true" close-on-select="false">
                           <ui-select-match placeholder="{{ 'tags.add' | translate }}">
                               {{ $ctrl.concepts[$item.uri].label }}
                           </ui-select-match>
                           <ui-select-choices repeat="tag in $ctrl.availableTags | filter:$select.search">
                               {{ $ctrl.concepts[tag.uri].label }}
                           </ui-select-choices>
                       </ui-select>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="activeTab == 'links'">
            <h3>{{'files.linkages.heading'|translate}}</h3>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="lc in $ctrl.file.linked_contexts">
                    <a ng-click="$ctrl.openContext(lc.id)" href="">
                        {{ lc.name }}
                    </a>
                </li>
            </ul>
        </div>
        <div ng-show="activeTab == 'exif'" ng-init="showAllExif = false">
            <p class="alert alert-info" ng-if="!$ctrl.file.exif" translate="files.exif.no-data">
            </p>
            <table class="exif-table" ng-if="$ctrl.file.exif">
                <tr>
                    <td>
                        <i class="material-icons">photo_camera</i>
                    </td>
                    <td>
                        {{ $ctrl.file.exif.Model }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="material-icons">camera</i>
                    </td>
                    <td>
                        {{ $ctrl.file.exif.Exif.FNumber }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="material-icons">lens</i>
                    </td>
                    <td>
                        <span>{{ $ctrl.file.exif.Exif.FocalLength }} ({{ $ctrl.file.exif.MakerNotes.LensModel }})</span>
                        <span style="display: block;font-size: 90%;color: gray;">{{ $ctrl.file.exif.MakerNotes.LensType }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="material-icons">timer</i>
                    </td>
                    <td>
                        {{ $ctrl.file.exif.Exif.ExposureTime }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="material-icons">iso</i>
                    </td>
                    <td>
                        {{ $ctrl.file.exif.Exif.ISOSpeedRatings }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- EXIF.Flash is hex, trailing 0 means no flash -->
                        <i class="material-icons">flash_on</i>
                    </td>
                    <td>
                        {{ $ctrl.file.exif.Exif.Flash }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="material-icons">access_time</i>
                    </td>
                    <td>
                        {{ $ctrl.file.exif.Exif.DateTimeOriginal }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="material-icons">brightness_6</i>
                    </td>
                    <td>
                        {{ $ctrl.file.exif.MakerNotes.WhiteBalanceSetting }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="material-icons">copyright</i>
                    </td>
                    <td>
                        {{ $ctrl.file.exif.Copyright }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="material-icons">memory</i>
                    </td>
                    <td>
                        {{ $ctrl.file.exif.MakerNotes.FirmwareVersion }}
                    </td>
                </tr>
            </table>
            <div ng-if="$ctrl.file.exif">
                <button type="button" class="btn btn-default" ng-click="showAllExif=!showAllExif">
                    <span ng-show="!showAllExif">
                        <span translate="files.exif.show-all"></span> <i class="material-icons">arrow_drop_down</i>
                    </span>
                    <span ng-show="showAllExif">
                        <span translate="files.exif.hide-all"></span> <i class="material-icons">arrow_drop_up</i>
                    </span>
                </button>
            </div>
            <table class="table-striped" ng-if="showAllExif">
                <tr ng-repeat="(key, e) in $ctrl.file.exif">
                    <td>
                        {{ key }}
                    </td>
                    <td>
                        <ul class="left" ng-if="key == 'Exif' || key == 'Interoperability' || key == 'MakerNotes' || key == 'GPS'">
                            <li ng-repeat="(subkey, ee) in e">
                                {{ subkey }}: {{ ee }}
                            </li>
                        </ul>
                        <span ng-if="key != 'Exif' && key != 'Interoperability' && key != 'MakerNotes' && key != 'GPS'">
                            {{ e }}
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default"
      ng-click="$ctrl.close()">{{ 'close' | translate }}</button>
</div>
