<div class="modal-header">
    <h3 translate="gis.properties.header" translate-values="{ layer: $ctrl.layerName }"></h3>
</div>
<div class="modal-body text-center row">
    <div class="col-md-2" ng-init="$ctrl.activePropertyTab = 'style'">
        <ul class="nav nav-pills nav-stacked left">
            <li role="presentation" ng-class="{ 'active': $ctrl.activePropertyTab == 'style'}">
                <a href="" ng-click="$ctrl.activePropertyTab = 'style'">
                    <i class="material-icons">format_paint</i> {{'gis.properties.style'|translate}}
                </a>
            </li>
            <li role="presentation" ng-class="{ 'active': $ctrl.activePropertyTab == 'labels'}">
                <a href="" ng-click="$ctrl.activePropertyTab = 'labels'">
                    <i class="material-icons">label</i> {{'gis.properties.labels'|translate}}
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <div ng-show="$ctrl.activePropertyTab == 'style'">
            <h2 translate="gis.properties.style"></h2>
        </div>
        <div ng-show="$ctrl.activePropertyTab == 'labels'">
            <h5 class="clickable" ng-click="$ctrl.toggleForm('label')">{{ 'gis.properties.labels.heading.label' | translate }}<small>
                <i class="material-icons middle" ng-show="$ctrl.formShown['label']">arrow_drop_up</i>
                <i class="material-icons middle" ng-show="!$ctrl.formShown['label']">arrow_drop_down</i>
            </small></h5>
            <form class="form-horizontal" ng-show="$ctrl.formShown['label']">
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.label.attribute"></label>
                    <div class="col-md-9">
                        <ui-select ng-model="$ctrl.label.attribute">
                            <ui-select-match>
                                <span ng-if="$select.selected.id > 0">
                                    {{ $ctrl.concepts[$select.selected.thesaurus_url].label }}
                                </span>
                                <span ng-if="$select.selected.id == -1">
                                    {{ $select.selected.label | translate }}
                                </span>
                            </ui-select-match>
                            <ui-select-choices repeat="attr in $ctrl.labelAttributes | filter:$select.search">
                                <span ng-if="attr.id > 0" ng-bind-html="$ctrl.concepts[attr.thesaurus_url].label | highlight: $select.search">
                                </span>
                                <span ng-if="attr.id == -1" ng-bind-html="attr.label | translate | highlight: $select.search">
                                </span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </form>
            <h5 class="clickable" ng-click="$ctrl.toggleForm('font')">{{ 'gis.properties.labels.heading.font' | translate }}<small>
                <i class="material-icons middle" ng-show="$ctrl.formShown['font']">arrow_drop_up</i>
                <i class="material-icons middle" ng-show="!$ctrl.formShown['font']">arrow_drop_down</i>
            </small></h5>
            <form class="form-horizontal" ng-show="$ctrl.formShown['font']">
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.font.activate"></label>
                    <div class="col-md-9">
                        <input type="checkbox" class="form-control" ng-model="$ctrl.font.active" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.font.size"></label>
                    <div class="col-md-9">
                        <input type="number" step="1" min="0" class="form-control" ng-model="$ctrl.font.size" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.font.color"></label>
                    <div class="col-md-9">
                        <input type="color" class="form-control" ng-model="$ctrl.font.color" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.font.style"></label>
                    <div class="col-md-9">
                        <ui-select ng-model="$ctrl.font.style">
                            <ui-select-match>{{ $select.selected.label | translate }}</ui-select-match>
                            <ui-select-choices repeat="style in $ctrl.fontStyles | filter:$select.search">
                                <span ng-bind-html="style.label | translate | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.font.upper-lower-case"></label>
                    <div class="col-md-9">
                        <ui-select ng-model="$ctrl.font.mod">
                            <ui-select-match>{{ $select.selected.label | translate }}</ui-select-match>
                            <ui-select-choices repeat="mod in $ctrl.fontMods | filter:$select.search">
                                <span ng-bind-html="mod.label | translate | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.font.transparency"></label>
                    <div class="col-md-9">
                        <input class="form-control slider" type="range" step="1" min="0" max="100" value="0" ng-model="$ctrl.font.transparency" />
                        <span class="slider-text">{{ $ctrl.font.transparency }}%</span>
                    </div>
                </div>
            </form>
            <h5 class="clickable" ng-click="$ctrl.toggleForm('buffer')">{{ 'gis.properties.labels.heading.buffer' | translate }}<small>
                    <i class="material-icons middle" ng-show="$ctrl.formShown['buffer']">arrow_drop_up</i>
                    <i class="material-icons middle" ng-show="!$ctrl.formShown['buffer']">arrow_drop_down</i>
            </small></h5>
            <form class="form-horizontal" ng-show="$ctrl.formShown['buffer']">
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.buffer.activate"></label>
                    <div class="col-md-9">
                        <input type="checkbox" class="form-control" ng-model="$ctrl.buffer.active" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.buffer.size"></label>
                    <div class="col-md-9">
                        <input type="number" step="1" min="0" class="form-control" ng-model="$ctrl.buffer.size" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.buffer.color"></label>
                    <div class="col-md-9">
                        <input type="color" class="form-control" ng-model="$ctrl.buffer.color" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.buffer.transparency"></label>
                    <div class="col-md-9">
                        <input class="form-control slider" type="range" step="1" min="0" max="100" value="0" ng-model="$ctrl.buffer.transparency" />
                        <span class="slider-text">{{ $ctrl.buffer.transparency }}%</span>
                    </div>
                </div>
            </form>
            <h5 class="clickable" ng-click="$ctrl.toggleForm('background')">{{ 'gis.properties.labels.heading.background' | translate }}<small>
                <i class="material-icons middle" ng-show="$ctrl.formShown['background']">arrow_drop_up</i>
                <i class="material-icons middle" ng-show="!$ctrl.formShown['background']">arrow_drop_down</i>
            </small></h5>
            <form class="form-horizontal" ng-show="$ctrl.formShown['background']">
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.background.activate"></label>
                    <div class="col-md-9">
                        <input type="checkbox" class="form-control" ng-model="$ctrl.background.active" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.background.size-x"></label>
                    <div class="col-md-9">
                        <input type="number" step="1" min="0" class="form-control" ng-model="$ctrl.background.size.x" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.background.size-y"></label>
                    <div class="col-md-9">
                        <input type="number" step="1" min="0" class="form-control" ng-model="$ctrl.background.size.y" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.background.color-fill"></label>
                    <div class="col-md-9">
                        <input type="color" class="form-control" ng-model="$ctrl.background.color.fill" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.background.color-border"></label>
                    <div class="col-md-9">
                        <input type="color" class="form-control" ng-model="$ctrl.background.color.border" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.background.size-border"></label>
                    <div class="col-md-9">
                        <input type="number" step="1" min="0" class="form-control" ng-model="$ctrl.background.size.border" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.background.transparency"></label>
                    <div class="col-md-9">
                        <input class="form-control slider" type="range" step="1" min="0" max="100" value="0" ng-model="$ctrl.background.transparency" />
                        <span class="slider-text">{{ $ctrl.background.transparency }}%</span>
                    </div>
                </div>
            </form>
            <h5 class="clickable" ng-click="$ctrl.toggleForm('shadow')">{{ 'gis.properties.labels.heading.shadow' | translate }}<small>
                <i class="material-icons middle" ng-show="$ctrl.formShown['shadow']">arrow_drop_up</i>
                <i class="material-icons middle" ng-show="!$ctrl.formShown['shadow']">arrow_drop_down</i>
            </small></h5>
            <form class="form-horizontal" ng-show="$ctrl.formShown['shadow']">
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.shadow.activate"></label>
                    <div class="col-md-9">
                        <input type="checkbox" class="form-control" ng-model="$ctrl.shadow.active" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.shadow.offset-x"></label>
                    <div class="col-md-9">
                        <input type="number" step="1" class="form-control" ng-model="$ctrl.shadow.offset.x" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.shadow.offset-y"></label>
                    <div class="col-md-9">
                        <input type="number" step="1" class="form-control" ng-model="$ctrl.shadow.offset.y" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.shadow.blur"></label>
                    <div class="col-md-9">
                        <input type="number" step="1" min="0" class="form-control" ng-model="$ctrl.shadow.blur" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.shadow.spread"></label>
                    <div class="col-md-9">
                        <input type="number" step="1" class="form-control" ng-model="$ctrl.shadow.spread" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.shadow.color"></label>
                    <div class="col-md-9">
                        <input type="color" class="form-control" ng-model="$ctrl.shadow.color" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.shadow.transparency"></label>
                    <div class="col-md-9">
                        <input class="form-control slider" type="range" step="1" min="0" max="100" value="0" ng-model="$ctrl.shadow.transparency" />
                        <span class="slider-text">{{ $ctrl.shadow.transparency }}%</span>
                    </div>
                </div>
            </form>
            <h5 class="clickable" ng-click="$ctrl.toggleForm('position')">{{ 'gis.properties.labels.heading.position' | translate }}<small>
                <i class="material-icons middle" ng-show="$ctrl.formShown['position']">arrow_drop_up</i>
                <i class="material-icons middle" ng-show="!$ctrl.formShown['position']">arrow_drop_down</i>
            </small></h5>
            <form class="form-horizontal" ng-show="$ctrl.formShown['position']">
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.position.activate"></label>
                    <div class="col-md-9">
                        <input type="checkbox" class="form-control" ng-model="$ctrl.position.active" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.position.offset-x"></label>
                    <div class="col-md-9">
                        <input type="number" step="1" class="form-control" ng-model="$ctrl.position.offset.x" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.position.offset-y"></label>
                    <div class="col-md-9">
                        <input type="number" step="1" class="form-control" ng-model="$ctrl.position.offset.y" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" translate="gis.properties.labels.position.position"></label>
                    <div class="col-md-9">
                        <ui-select ng-model="$ctrl.position.position">
                            <ui-select-match>{{ $select.selected.label | translate }}</ui-select-match>
                            <ui-select-choices repeat="pos in $ctrl.positions | filter:$select.search">
                                <span ng-bind-html="pos.label | translate | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </form>
            <button type="button" class="btn btn-success" ng-click="$ctrl.applyStyleSettings()" ng-disabled="!$ctrl.label.attribute">
                <i class="material-icons">refresh</i> <span translate="gis.properties.labels.button-apply"></span>
            </button>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default"
      ng-click="$ctrl.close()">{{ 'close' | translate }}</button>
</div>
