<div class="modal-header">
    <h4 translate="gis.importer.heading"></h4>
</div>
<div class="modal-body row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked left">
            <li ng-class="{active: $ctrl.activeTab == 'csv'}" ng-click="$ctrl.activeTab = 'csv'">
                <a href="" translate="gis.importer.type.csv"></a>
            </li>
            <li ng-class="{active: $ctrl.activeTab == 'kml'}" ng-click="$ctrl.activeTab = 'kml'">
                <a href="" translate="gis.importer.type.kmlkmz"></a>
            </li>
            <li ng-class="{active: $ctrl.activeTab == 'shape'}" ng-click="$ctrl.activeTab = 'shape'">
                <a href="" translate="gis.importer.type.shape"></a>
            </li>
            <li ng-class="{active: $ctrl.activeTab == 'geojson'}" ng-click="$ctrl.activeTab = 'geojson'">
                <a href="" translate="gis.importer.type.geojson"></a>
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <button type="button" class="btn btn-default" ngf-multiple="$ctrl.activeTab == 'shape'" ng-model="$ctrl.file[$ctrl.activeTab]" ngf-select="$ctrl.loadFileContent($ctrl.file[$ctrl.activeTab])">{{'context-form.tabs.files.upload-button'|translate}}</button>
        <div ng-show="$ctrl.activeTab == 'csv'">
            <form class="form-inline" ng-show="$ctrl.content.csv">
                <div class="form-group">
                    <label for="delimiter-dd" translate="gis.importer.csv.delimiter"></label>
                    <ui-select id="delimiter_dd" class="form-control" ng-model="$ctrl.csvDelimDd" ng-change="$ctrl.updateDelimiterType($ctrl.csvDelimDd)">
                      <ui-select-match>
                          {{ $select.selected.label }}
                      </ui-select-match>
                      <ui-select-choices repeat="d in $ctrl.csvDelimiters | filter: $select.search">
                        <span ng-bind-html="d.label"></span>
                      </ui-select-choices>
                    </ui-select>
                    <input type="text" id="delimiter" class="form-control" ng-model="$ctrl.csvDelim" ng-change="$ctrl.parseCsvHeader()" ng-hide="$ctrl.csvDelimDd.key != 'custom'" />
                </div>
                <div class="form-group">
                    <label>
                        <input type="radio" ng-model="$ctrl.coordType" value="latlon" />
                        {{'gis.importer.csv.coord-type.latlon'|translate}}
                    </label>
                    <label>
                        <input type="radio" ng-model="$ctrl.coordType" value="wkt" />
                        {{'gis.importer.csv.coord-type.wkt'|translate}}
                    </label>
                </div>
                <span ng-show="$ctrl.coordType == 'latlon'">
                    <div class="form-group">
                        <label for="x" translate="gis.importer.x-column"></label>
                        <ui-select id="x" class="form-control" ng-model="$ctrl.x">
                            <ui-select-match allow-clear="true">
                                {{ $select.selected }}
                            </ui-select-match>
                            <ui-select-choices repeat="c in $ctrl.csvHeaderColumns | filter: $select.search">
                                <span ng-bind-html="c | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <label for="y" translate="gis.importer.y-column"></label>
                        <ui-select id="y" class="form-control" ng-model="$ctrl.y">
                            <ui-select-match allow-clear="true">
                                {{ $select.selected }}
                            </ui-select-match>
                            <ui-select-choices repeat="c in $ctrl.csvHeaderColumns | filter: $select.search">
                                <span ng-bind-html="c | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <label for="z" translate="gis.importer.z-column"></label>
                        <ui-select id="z" class="form-control" ng-model="$ctrl.z">
                            <ui-select-match allow-clear="true">
                                {{ $select.selected }}
                            </ui-select-match>
                            <ui-select-choices repeat="c in $ctrl.csvHeaderColumns | filter: $select.search">
                                <span ng-bind-html="c | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </span>
                <div class="form-group" ng-show="$ctrl.coordType == 'wkt'">
                    <label for="wkt" translate="gis.importer.wkt-column"></label>
                    <ui-select id="wkt" class="form-control" ng-model="$ctrl.wkt">
                        <ui-select-match allow-clear="true">
                            {{ $select.selected }}
                        </ui-select-match>
                        <ui-select-choices repeat="c in $ctrl.csvHeaderColumns | filter: $select.search">
                            <span ng-bind-html="c | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group scrollable-dropdown">
                    <label for="epsg_csv" translate="gis.importer.epsg"></label>
                    <input class="form-control" type="text" id="epsg_csv" ng-model="$ctrl.epsg" ng-model-options="{ debounce: 250 }" uib-typeahead="result as (result.auth_name + ' ' + result.auth_srid) for result in $ctrl.searchEPSG($viewValue)" typeahead-min-length="3" typeahead-wait-ms="50" typeahead-loading="loadingResultsEpsg" typeahead-no-results="noResultsEpsg" />
                    <i ng-show="loadingResultsEpsg" class="material-icons">refresh</i>
                    <div ng-show="noResultsEpsg && result.name.length >= 3">
                        <i class="material-icons md-18">clear</i> No Results Found
                    </div>
                </div>
                <button type="button" class="btn btn-success" ng-click="$ctrl.parseCsv($ctrl.content.csv, $ctrl.x, $ctrl.y, $ctrl.wkt, $ctrl.csvDelim, $ctrl.epsg)" ng-disabled="$ctrl.parsingDisabled()" translate="gis.importer.parse.csv">
                </button>
            </form>
            <button type="button" class="btn btn-default" ng-disabled="!$ctrl.content.csv" ng-click="showCsvPreview = !showCsvPreview">
                <span ng-show="showCsvPreview">
                    {{'gis.importer.csv.hide-table'|translate}} <i class="material-icons">arrow_drop_up</i>
                </span>
                <span ng-show="!showCsvPreview">
                    {{'gis.importer.csv.show-table'|translate}} <i ng-show="!showCsvPreview" class="material-icons">arrow_drop_down</i>
                </span>
            </button>
            <div ng-show="showCsvPreview" ng-bind-html="$ctrl.content.csv | csv2table:$ctrl.csvDelim">
            </div>
        </div>
        <div ng-show="$ctrl.activeTab == 'kml'">
        </div>
        <div ng-show="$ctrl.activeTab == 'shape'">
            <span>
                <span translate="gis.importer.shape.uploaded" translate-values="{type: '.shp'}"></span>:
                <i ng-if="$ctrl.content.shape.shp" class="material-icons fa-green">check</i>
                <i ng-if="!$ctrl.content.shape.shp" class="material-icons fa-red">close</i>
            </span>
            <span>
                <span translate="gis.importer.shape.uploaded" translate-values="{type: '.dbf'}"></span>:
                <i ng-if="$ctrl.content.shape.dbf" class="material-icons fa-green">check</i>
                <i ng-if="!$ctrl.content.shape.dbf" class="material-icons fa-red">close</i>
            </span>
            <span>
                <span translate="gis.importer.shape.uploaded" translate-values="{type: '.prj'}"></span>:
                <i ng-if="$ctrl.content.shape.prj" class="material-icons fa-green">check</i>
                <i ng-if="!$ctrl.content.shape.prj" class="material-icons fa-red">close</i>
            </span>
            <span>
                <span translate="gis.importer.shape.uploaded" translate-values="{type: '.qpj'}"></span>:
                <i ng-if="$ctrl.content.shape.qpj" class="material-icons fa-green">check</i>
                <i ng-if="!$ctrl.content.shape.qpj" class="material-icons fa-red">close</i>
            </span>
            <form class="form-inline" ng-show="$ctrl.content.shape">
                <div class="form-group scrollable-dropdown">
                    <label for="epsg_shape" translate="gis.importer.epsg"></label>
                    <input class="form-control" type="text" id="epsg_shape" ng-model="$ctrl.epsg" ng-model-options="{ debounce: 250 }" uib-typeahead="result as (result.auth_name + ' ' + result.auth_srid) for result in $ctrl.searchEPSG($viewValue)" typeahead-min-length="3" typeahead-wait-ms="50" typeahead-loading="loadingResultsEpsg" typeahead-no-results="noResultsEpsg" />
                    <i ng-show="loadingResultsEpsg" class="material-icons">refresh</i>
                    <div ng-show="noResultsEpsg && result.name.length >= 3">
                        <i class="material-icons md-18">clear</i> No Results Found
                    </div>
                </div>
                <button type="button" class="btn btn-success" ng-click="$ctrl.parseShape($ctrl.content.shape, $ctrl.epsg)" ng-disabled="!$ctrl.content.shape.shp || !$ctrl.epsg" translate="gis.importer.parse.shape">
                </button>
            </form>
        </div>
        <div ng-show="$ctrl.activeTab == 'geojson'">
            <form class="form-inline" ng-show="$ctrl.content.geojson">
                <div class="form-group scrollable-dropdown">
                    <label for="epsg_geojson" translate="gis.importer.epsg"></label>
                    <input class="form-control" type="text" id="epsg_geojson" ng-model="$ctrl.epsg" ng-model-options="{ debounce: 250 }" uib-typeahead="result as (result.auth_name + ' ' + result.auth_srid) for result in $ctrl.searchEPSG($viewValue)" typeahead-min-length="3" typeahead-wait-ms="50" typeahead-loading="loadingResultsEpsg" typeahead-no-results="noResultsEpsg" />
                    <i ng-show="loadingResultsEpsg" class="material-icons">refresh</i>
                    <div ng-show="noResultsEpsg && result.name.length >= 3">
                        <i class="material-icons md-18">clear</i> No Results Found
                    </div>
                </div>
                <button type="button" class="btn btn-success" ng-click="$ctrl.parseGeoJSON($ctrl.content.geojson, $ctrl.epsg)" ng-disabled="!$ctrl.content.geojson || !$ctrl.epsg" translate="gis.importer.parse.geojson">
                </button>
            </form>
        </div>

        <div class="flex-hr-start" ng-show="$ctrl.preview[$ctrl.activeTab]">
            <leaflet id="gis-preview" geojson="{data: $ctrl.preview[$ctrl.activeTab]}" height="400px" width="400px">
            </leaflet>
            <div class="flex-vt-start" style="padding-left: 10px;">
                <p translate="gis.importer.results.found" translate-values="{ count: $ctrl.result[$ctrl.activeTab].features.length }">
                </p>
                <button type="button" class="btn btn-success" ng-click="$ctrl.upload()" ng-disabled="!$ctrl.result[$ctrl.activeTab]">
                    {{'gis.importer.upload-button.title'|translate}} <i class="material-icons">file_upload</i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default"
      ng-click="$ctrl.close()">{{ 'close' | translate }}</button>
</div>
