<div class="modal-header">
    <h3 translate="gis.properties.header" translate-values="{ layer: $ctrl.layerName }"></h3>
</div>
<div class="modal-body text-center row">
    <div class="col-md-2" ng-init="$ctrl.activePropertyTab = 'style'">
        <ul class="nav nav-pills nav-stacked left">
            <li role="presentation" ng-class="{ 'active': $ctrl.activePropertyTab == 'style'}">
                <a href="" ng-click="$ctrl.activePropertyTab = 'style'">
                    <i class="material-icons">format_paint</i> {{'gis.properties.style'|translate}}
                </a>
            </li>
            <li role="presentation" ng-class="{ 'active': $ctrl.activePropertyTab == 'labels'}">
                <a href="" ng-click="$ctrl.activePropertyTab = 'labels'">
                    <i class="material-icons">label</i> {{'gis.properties.labels'|translate}}
                </a>
            </li>
            <li role="presentation" ng-class="{ 'active': $ctrl.activePropertyTab == 'diagrams'}">
                <a href="" ng-click="$ctrl.activePropertyTab = 'diagrams'">
                    <i class="material-icons">insert_chart</i> {{'gis.properties.diagrams'|translate}}
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <div ng-show="$ctrl.activePropertyTab == 'style'">
            <h2>Style</h2>
        </div>
        <div ng-show="$ctrl.activePropertyTab == 'labels'">
            <h5 class="clickable" ng-click="$ctrl.toggleForm('label')">Beschriftung <small>
                <i class="material-icons middle" ng-show="$ctrl.formShown['label']">arrow_drop_up</i>
                <i class="material-icons middle" ng-show="!$ctrl.formShown['label']">arrow_drop_down</i>
            </small></h5>
            <form class="form-horizontal" ng-show="$ctrl.formShown['label']">
                <div class="form-group">
                    <label class="control-label col-md-3">Attribut</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </form>
            <h5 class="clickable" ng-click="$ctrl.toggleForm('font')">Schrift <small>
                <i class="material-icons middle" ng-show="$ctrl.formShown['font']">arrow_drop_up</i>
                <i class="material-icons middle" ng-show="!$ctrl.formShown['font']">arrow_drop_down</i>
            </small></h5>
            <form class="form-horizontal" ng-show="$ctrl.formShown['font']">
                <div class="form-group">
                    <label class="control-label col-md-3">Schrift aktivieren</label>
                    <div class="col-md-9">
                        <input type="checkbox" class="form-control" ng-model="$ctrl.font.active" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Schriftgröße</label>
                    <div class="col-md-9">
                        <input type="number" step="1" min="0" class="form-control" ng-model="$ctrl.font.size" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Schriftfarbe</label>
                    <div class="col-md-9">
                        <input type="color" class="form-control" ng-model="$ctrl.font.color" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Stil</label>
                    <div class="col-md-9">
                        <ui-select ng-model="$ctrl.font.style">
                            <ui-select-match>{{ $select.selected.label }}</ui-select-match>
                            <ui-select-choices repeat="style in $ctrl.fontStyles | filter:$select.search">
                                <span ng-bind-html="style.label | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Groß-/Kleinschreibung</label>
                    <div class="col-md-9">
                        <ui-select ng-model="$ctrl.font.mod">
                            <ui-select-match>{{ $select.selected.label }}</ui-select-match>
                            <ui-select-choices repeat="mod in $ctrl.fontMods | filter:$select.search">
                                <span ng-bind-html="mod.label | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Transparenz</label>
                    <div class="col-md-9">
                        <input class="form-control slider" type="range" step="1" min="0" max="100" value="0" ng-model="$ctrl.font.transparency" />
                        <span class="slider-text">{{ $ctrl.font.transparency }}%</span>
                    </div>
                </div>
            </form>
            <h5 class="clickable" ng-click="$ctrl.toggleForm('buffer')">Puffer <small>
                    <i class="material-icons middle" ng-show="$ctrl.formShown['buffer']">arrow_drop_up</i>
                    <i class="material-icons middle" ng-show="!$ctrl.formShown['buffer']">arrow_drop_down</i>
            </small></h5>
            <form class="form-horizontal" ng-show="$ctrl.formShown['buffer']">
                <div class="form-group">
                    <label class="control-label col-md-3">Puffer aktivieren</label>
                    <div class="col-md-9">
                        <input type="checkbox" class="form-control" ng-model="$ctrl.buffer.active" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Größe</label>
                    <div class="col-md-9">
                        <input type="number" step="1" min="0" class="form-control" ng-model="$ctrl.buffer.size" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Farbe</label>
                    <div class="col-md-9">
                        <input type="color" class="form-control" ng-model="$ctrl.buffer.color" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Transparenz</label>
                    <div class="col-md-9">
                        <input class="form-control slider" type="range" step="1" min="0" max="100" value="0" ng-model="$ctrl.buffer.transparency" />
                        <span class="slider-text">{{ $ctrl.buffer.transparency }}%</span>
                    </div>
                </div>
            </form>
            <h5 class="clickable" ng-click="$ctrl.toggleForm('background')">Hintergrund <small>
                <i class="material-icons middle" ng-show="$ctrl.formShown['background']">arrow_drop_up</i>
                <i class="material-icons middle" ng-show="!$ctrl.formShown['background']">arrow_drop_down</i>
            </small></h5>
            <form class="form-horizontal" ng-show="$ctrl.formShown['background']">
                <div class="form-group">
                    <label class="control-label col-md-3">Hintergrund aktivieren</label>
                    <div class="col-md-9">
                        <input type="checkbox" class="form-control" ng-model="$ctrl.background.active" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Größe X</label>
                    <div class="col-md-9">
                        <input type="number" step="1" min="0" class="form-control" ng-model="$ctrl.background.size.x" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Größe Y</label>
                    <div class="col-md-9">
                        <input type="number" step="1" min="0" class="form-control" ng-model="$ctrl.background.size.y" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Füllfarbe</label>
                    <div class="col-md-9">
                        <input type="color" class="form-control" ng-model="$ctrl.background.color.fill" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Randfarbe</label>
                    <div class="col-md-9">
                        <input type="color" class="form-control" ng-model="$ctrl.background.color.border" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Randgröße</label>
                    <div class="col-md-9">
                        <input type="number" step="1" min="0" class="form-control" ng-model="$ctrl.background.size.border" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Transparenz</label>
                    <div class="col-md-9">
                        <input class="form-control slider" type="range" step="1" min="0" max="100" value="0" ng-model="$ctrl.background.transparency" />
                        <span class="slider-text">{{ $ctrl.background.transparency }}%</span>
                    </div>
                </div>
            </form>
            <h5 class="clickable" ng-click="$ctrl.toggleForm('shadow')">Schatten <small>
                <i class="material-icons middle" ng-show="$ctrl.formShown['shadow']">arrow_drop_up</i>
                <i class="material-icons middle" ng-show="!$ctrl.formShown['shadow']">arrow_drop_down</i>
            </small></h5>
            <form class="form-horizontal" ng-show="$ctrl.formShown['shadow']">
                <div class="form-group">
                    <label class="control-label col-md-3">Schatten aktivieren</label>
                    <div class="col-md-9">
                        <input type="checkbox" class="form-control" ng-model="$ctrl.shadow.active" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Offset X</label>
                    <div class="col-md-9">
                        <input type="number" step="1" class="form-control" ng-model="$ctrl.shadow.offset.x" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Offset Y</label>
                    <div class="col-md-9">
                        <input type="number" step="1" class="form-control" ng-model="$ctrl.shadow.offset.y" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Blur</label>
                    <div class="col-md-9">
                        <input type="number" step="1" min="0" class="form-control" ng-model="$ctrl.shadow.blur" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Spread</label>
                    <div class="col-md-9">
                        <input type="number" step="1" class="form-control" ng-model="$ctrl.shadow.spread" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Farbe</label>
                    <div class="col-md-9">
                        <input type="color" class="form-control" ng-model="$ctrl.shadow.color" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Transparenz</label>
                    <div class="col-md-9">
                        <input class="form-control slider" type="range" step="1" min="0" max="100" value="0" ng-model="$ctrl.shadow.transparency" />
                        <span class="slider-text">{{ $ctrl.shadow.transparency }}%</span>
                    </div>
                </div>
            </form>
            <h5 class="clickable" ng-click="$ctrl.toggleForm('position')">Position <small>
                <i class="material-icons middle" ng-show="$ctrl.formShown['position']">arrow_drop_up</i>
                <i class="material-icons middle" ng-show="!$ctrl.formShown['position']">arrow_drop_down</i>
            </small></h5>
            <form class="form-horizontal" ng-show="$ctrl.formShown['position']">
                <div class="form-group">
                    <label class="control-label col-md-3">Attribut</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </form>
            <button type="button" class="btn btn-success" ng-click="$ctrl.applyStyleSettings()">
                <i class="material-icons">refresh</i> Apply
            </button>
        </div>
        <div ng-show="$ctrl.activePropertyTab == 'diagrams'">
            <h2>Diagrams</h2>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default"
      ng-click="$ctrl.close()">{{ 'close' | translate }}</button>
</div>
