<div class="modal-header">
    <h3>Import <small>{{$ctrl.activeTab.toUpperCase()}}</small></h3>
</div>
<div class="modal-body row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked nav-left">
            <li ng-class="{active: $ctrl.activeTab == 'csv'}" ng-click="$ctrl.activeTab = 'csv'">
                <a href="">CSV</a>
            </li>
            <li ng-class="{active: $ctrl.activeTab == 'kml'}" ng-click="$ctrl.activeTab = 'kml'">
                <a href="">KML/KMZ</a>
            </li>
            <li ng-class="{active: $ctrl.activeTab == 'shape'}" ng-click="$ctrl.activeTab = 'shape'">
                <a href="">Shape-File</a>
            </li>
            <li ng-class="{active: $ctrl.activeTab == 'wkt'}" ng-click="$ctrl.activeTab = 'wkt'">
                <a href="">WKT</a>
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <button type="button" class="btn btn-default" ngf-multiple="$ctrl.activeTab == 'shape'" ng-model="$ctrl.file[$ctrl.activeTab]" ngf-select="$ctrl.loadFileContent($ctrl.file[$ctrl.activeTab])">{{'context-form.tabs.files.upload-button'|translate}}</button>
        <div ng-show="$ctrl.activeTab == 'csv'">
            <form class="form-inline" ng-show="$ctrl.content.csv">
                <div class="form-group">
                    <label for="delimiter">Delimiter</label>
                    <input type="text" id="delimiter" class="form-control" ng-model="$ctrl.csvDelim" ng-change="$ctrl.parseCsvHeader()" />
                </div>
                <div class="form-group">
                    <label for="epsg_csv">EPSG</label>
                    <ui-select id="epsg_csv" class="form-control" ng-model="$ctrl.epsg">
                      <ui-select-match allow-clear="true">
                          {{ $select.selected.auth_name }} {{ $select.selected.auth_srid }}
                      </ui-select-match>
                      <ui-select-choices repeat="sr in $ctrl.epsgs | filter: $select.search">
                        <span ng-bind-html="sr.auth_name | highlight: $select.search"></span> <span ng-bind-html="sr.auth_srid | highlight: $select.search"></span>
                      </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label for="x">X-Spalte</label>
                    <ui-select id="x" class="form-control" ng-model="$ctrl.x">
                      <ui-select-match allow-clear="true">
                          {{ $select.selected }}
                      </ui-select-match>
                      <ui-select-choices repeat="c in $ctrl.csvHeaderColumns | filter: $select.search">
                        <span ng-bind-html="c | highlight: $select.search"></span>
                      </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label for="y">Y-Spalte</label>
                    <ui-select id="y" class="form-control" ng-model="$ctrl.y">
                      <ui-select-match allow-clear="true">
                          {{ $select.selected }}
                      </ui-select-match>
                      <ui-select-choices repeat="c in $ctrl.csvHeaderColumns | filter: $select.search">
                        <span ng-bind-html="c | highlight: $select.search"></span>
                      </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label for="z">Z-Spalte</label>
                    <ui-select id="z" class="form-control" ng-model="$ctrl.z">
                      <ui-select-match allow-clear="true">
                          {{ $select.selected }}
                      </ui-select-match>
                      <ui-select-choices repeat="c in $ctrl.csvHeaderColumns | filter: $select.search">
                        <span ng-bind-html="c | highlight: $select.search"></span>
                      </ui-select-choices>
                    </ui-select>
                </div>
                <button type="button" class="btn btn-success" ng-click="$ctrl.parseCsv($ctrl.content.csv, $ctrl.x, $ctrl.y, $ctrl.csvDelim, $ctrl.epsg)" ng-disabled="!$ctrl.content.csv || !$ctrl.x || !$ctrl.y || !$ctrl.epsg">
                    Parse CSV
                </button>
            </form>
            <button type="button" class="btn btn-default" ng-click="showCsvPreview = !showCsvPreview">
                Toggle Preview
                <i ng-show="showCsvPreview" class="material-icons">arrow_drop_up</i>
                <i ng-show="!showCsvPreview" class="material-icons">arrow_drop_down</i>
            </button>
            <div ng-show="showCsvPreview" ng-bind-html="$ctrl.content.csv | csv2table:$ctrl.csvDelim">
            </div>
        </div>
        <div ng-show="$ctrl.activeTab == 'kml'">
        </div>
        <div ng-show="$ctrl.activeTab == 'shape'">
            <span>
                <code>.shp</code> uploaded:
                <i ng-if="$ctrl.content.shape.shp" class="material-icons fa-green">check</i>
                <i ng-if="!$ctrl.content.shape.shp" class="material-icons fa-red">close</i>
            </span>
            <span>
                <code>.dbf</code> uploaded:
                <i ng-if="$ctrl.content.shape.dbf" class="material-icons fa-green">check</i>
                <i ng-if="!$ctrl.content.shape.dbf" class="material-icons fa-red">close</i>
            </span>
            <form class="form-inline" ng-show="$ctrl.content.shape">
                <div class="form-group">
                    <label for="epsg_shape">EPSG</label>
                    <ui-select id="epsg_shape" class="form-control" ng-model="$ctrl.epsg">
                      <ui-select-match allow-clear="true">
                          {{ $select.selected.auth_name }} {{ $select.selected.auth_srid }}
                      </ui-select-match>
                      <ui-select-choices repeat="sr in $ctrl.epsgs | filter: $select.search">
                        <span ng-bind-html="sr.auth_name | highlight: $select.search"></span> <span ng-bind-html="sr.auth_srid | highlight: $select.search"></span>
                      </ui-select-choices>
                    </ui-select>
                </div>
                <button type="button" class="btn btn-success" ng-click="$ctrl.parseShape($ctrl.content.shape, $ctrl.epsg)" ng-disabled="!$ctrl.content.shape.shp || !$ctrl.epsg">
                    Parse Shape Files
                </button>
            </form>
        </div>
        <div ng-show="$ctrl.activeTab == 'WKT'">
        </div>
        <h4>Result <small>{{$ctrl.activeTab.toUpperCase()}}</small></h4>
        <button type="button" class="btn btn-success" ng-click="$ctrl.upload()" ng-disabled="!$ctrl.result[$ctrl.activeTab]">
            Upload <i class="material-icons">file_upload</i>
        </button>
        <ul>
            <li ng-repeat="f in $ctrl.result[$ctrl.activeTab].features">
                {{ f.geometry.type }} ({{f.geometry.coordinates}})
                <small>{{ f.properties.description }}</small>
            </li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default"
      ng-click="$ctrl.close()">{{ 'close' | translate }}</button>
</div>
