<h2>{{ 'edit library' | translate }} <small>{{ markerValues.name }}</small></h2>
<form class="form-horizontal" role="form" ng-submit="storeLib()">
    <div class="form-group">
        <label class="control-label col-md-4" for="name">
            Name:
        </label>
        <div class="col-md-8">
            <input class="form-control" type="text" id="name" placeholder="Name" ng-blur="updateInput($event)" ng-model="markerValues.name" />
        </div>
    </div>
    <form-field fields="fields" output="markerValues" label-width="4" input-width="8" offset="0">
    </form-field>
    <div class="form-group">
        <label class="control-label col-md-4" for="lat">Latitude:</label>
        <div class="col-md-8">
            <p class="form-control-static">{{ markerValues.lat }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-4" for="lng">Longitude:</label>
        <div class="col-md-8">
            <p class="form-control-static">{{ markerValues.lng }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-4" for="lock-position">Position sperren:</label>
        <div class="col-md-8">
            <input type="checkbox" id="lock-position" ng-model="markerValues.locked" ng-change="togglePositionLock()"/>
        </div>
    </div>
    <div class="form-group">
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-danger" ng-click="removeEntry()"><i class="fa fa-trash"></i> {{ 'delete' | translate }}</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-warning" ng-click="resetEntry()"><i class="fa fa-refresh"></i> {{ 'reset' | translate }}</button>
            </div>
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> {{ 'Save' | translate }}</button>
            </div>
        </div>
    </div>
</form>
