<div ui-tree-handle style="display: flex; flex-direction: row; align-items: center; justify-content: flex-start;">
    <div>
        <a ng-click="toggle(this)" ng-if="e.children" class="expandable-toggle">
            <i class="material-icons" aria-hidden="true">{{ collapsed ? 'chevron_right' : 'expand_more' }}
            </i>
        </a>
        <a>
            <i ng-if="!e.children" class="material-icons placeholder"></i>
        </a>
    </div>
    <span ng-if="e.is_directory">
        <i class="material-icons md-18">folder</i> {{ e.clean_filename }}
    </span>
    <span ng-if="!e.is_directory" ng-click="downloadFileInZip(zip.file_id, e)">
        <i class="material-icons md-18">description</i> {{ e.clean_filename }}
    </span>
    <span ng-if="!e.is_directory" style="color: gray; margin-left: auto;">
        {{ e.compressed_size | bytes }}/{{ e.uncompressed_size | bytes }}
    </span>
</div>
<ul ui-tree-nodes="" ng-model="e.children" ng-class="{hidden: collapsed}">
    <li ng-repeat="e in e.children" ng-include="'includes/file-tree-child.html'" ui-tree-node>
    </li>
</ul>
