<div class="col-md-12" ng-init="tmpData[imageType] = []">
    <div class="row">
        <div class="alert alert-warning unpadded-alert" ng-hide="tmpData[imageType].length > 0">
            <p>{{ 'photos.empty' | translate }}</p>
        </div>
    </div>
    <div class="row" infinite-scroll="tmpData[imageType]=onScrollLoad({len: tmpData[imageType].length, type: imageType})" infinite-scroll-distance="0" infinite-scroll-container="scrollContainer" infinite-scroll-listen-for-event="image:updated:{{imageType}}">
        <div class="col-sm-6 col-md-4 unlinked-item" context-menu="imageContextMenu[imageType]" ng-repeat="img in tmpData[imageType]">
            <div class="thumbnail">
                <a ng-click="openImageModal(img)">
                    <div class="thumb-wrapper">
                        <img class="thumb" protected-src="api/image/get/preview/{{img.id}}" />
                         <div class="overlay">
                             <i class="material-icons overlay-icon" aria-hidden="true">loupe</i>
                         </div>
                     </div>
                </a>
            </div>
        </div>
    </div>
</div>
