<div class="col-md-12">
    <h4>{{ 'add new images' | translate }}</h4>
    <div class="col-md-12">
        <div class="alert alert-info drop-box" ngf-drop ngf-select ng-model="dropFiles" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="false" accept="image/*" ngf-pattern="'image/*'">
            Entweder per Drag &amp; Drop hierherziehen oder über den Button hochladen.
        </div>
        <button type="button" class="btn btn-default" ngf-select="uploadImages($files, $invalidFiles)" multiple accept="image/*">Bilder hochladen</button>
        <ul>
            <li ng-repeat="f in uploadingImages">
                {{ f.name }} {{ f.$errorParam }}
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ f.progress }}%">
                        <span ng-hide="f.progress < 100">
                            {{ 'upload finished' | translate }}
                        </span>
                        <span ng-show="f.progress < 100">
                            {{ f.progress }}%
                        </span>
                    </div>
                </div>
            </li>
            <li ng-repeat="f in errFiles">{{f.name}} {{f.$error}} {{f.$errorParam}}
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <div class="row">
            <h3>{{ 'all images' | translate }} <span class="badge">{{ allImages.length }}</span></h3>
            <div class="alert alert-warning" ng-hide="allImages">
                <p>{{ 'no images' | translate }}</p>
            </div>
        </div>
        <div class="row" infinite-scroll="loadImages()" infinite-scroll-distance="0" infinite-scroll-container="'#addon-container'">
            <div class="col-sm-6 col-md-4 unlinked-item" ng-repeat="img in imageList">
                <div class="thumbnail">
                    <a ng-click="openImageModal(img, key)">
                        <div class="thumb-wrapper">
                            <img class="thumb" src="api/image/get/preview/{{img.id}}" />
                             <div class="overlay">
                                 <span class="fa fa-search-plus overlay-icon" aria-hidden="true"></span>
                             </div>
                         </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
