<div class="col-md-12" ng-init="tmpData[imageType] = []">
    <div class="row">
        <div class="alert alert-warning unpadded-alert" ng-hide="tmpData[imageType].length > 0">
            <p>{{ 'photos.empty' | translate }}</p>
        </div>
    </div>
    <div class="row" infinite-scroll="tmpData[imageType]=onScrollLoad({len: tmpData[imageType].length, type: imageType})" infinite-scroll-distance="0" infinite-scroll-container="scrollContainer" infinite-scroll-listen-for-event="image:updated:{{imageType}}">
        <div class="col-sm-6 col-md-4 unlinked-item" context-menu="imageContextMenu" ng-repeat="img in tmpData[imageType] | imageFilter:searchTerms">
            <div class="thumbnail">
                <a ng-click="openImageModal(img)">
                    <div class="thumb-wrapper centered-full" ng-switch="getMimeType(img.mime_type)">
                        <div ng-switch-when="image">
                            <img class="thumb" protected-src="api/image/get/preview/{{img.id}}" />
                        </div>
                        <div ng-switch-when="pdf">
                            <i class="material-icons md-96 md-dark">attach_file</i>
                            <h4>PDF</h4>
                            {{ img.filename }}
                        </div>
                        <div ng-switch-when="xml">
                            <i class="material-icons md-96 md-dark">code</i>
                            <h4>XML</h4>
                            {{ img.filename }}
                        </div>
                        <div ng-switch-when="html">
                            <i class="material-icons md-96 md-dark">code</i>
                            <h4>HTML</h4>
                            {{ img.filename }}
                        </div>
                        <div ng-switch-default>
                            <i class="material-icons md-96 md-dark">format_align_left</i>
                            <h4>Plain text</h4>
                            {{ img.filename }}
                        </div>
                         <div class="overlay">
                             <i class="material-icons overlay-icon" aria-hidden="true">loupe</i>
                         </div>
                     </div>
                </a>
                <div ng-show="showTags">
                   <ui-select multiple tagging tagging-label="false" ng-model="img.tags" on-select="addTag(img, $item)" on-remove="removeTag(img, $item)" theme="bootstrap" sortable="true" close-on-select="false">
                       <ui-select-match placeholder="{{ 'tags.add' | translate }}">
                           {{ $item.label }}
                       </ui-select-match>
                       <ui-select-choices repeat="tag in availableTags | filter:$select.search">
                           {{ tag.label }}
                       </ui-select-choices>
                   </ui-select>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 unlinked-item" ng-if="hasMoreImages(tmpData[imageType].length, imageType) > 0">
            <div class="thumbnail">
                <div class="thumb-wrapper centered-full">
                    <i class="material-icons md-96 md-dark">file_download</i>
                    <p translate="photos.load-more" translate-values="{ cnt: hasMoreImages(tmpData[imageType].length, imageType) }">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
