<div>
    <div class="form-group" ng-repeat="attr in attributeFields">
        <label class="control-label col-md-{{labelWidth}}" for="a{{ attr.aid }}_{{ attr.oid }}">
            {{ attr.val }}: <sup ng-click="openSourceModal(attr.val, attr.aid, attributeOutputs[attr.aid+'_'+attr.oid+'pos'], attributeOutputs[attr.aid+'_'+attr.oid+'desc'])">
                <i class="fa fa-fw fa-plus-circle source-link" aria-hidden="true" ng-if="!readonlyInput"></i><i ng-if="attributeSources['#'+attr.aid].length > 0" class="fa fa-circle fa-addon fa-limegreen"></i>
            </sup>
        </label>
        <div class="col-md-{{inputWidth}}" ng-switch on="attr.datatype">
            <input class="form-control" ng-switch-when="string" type="text" placeholder="{{ attr.val }}" id="a{{ attr.aid }}_{{ attr.oid }}" ng-model="attributeOutputs[attr.aid+'_'+attr.oid]" ng-readonly="readonlyInput"/>
            <input class="form-control" ng-switch-when="double" type="number" step="any" min="0" placeholder="0.0" id="a{{ attr.aid }}" ng-model="attributeOutputs[attr.aid+'_'+attr.oid]" ng-readonly="readonlyInput"/>
            <div ng-switch-when="geography">
                <input class="form-control" type="text" id="a{{ attr.aid }}" ng-model="attributeOutputs[attr.aid+'_'+attr.oid]" ng-readonly="readonlyInput" />
                <div class="col-md-12">
                    <button type="button" class="btn btn-default" ng-click="openGeographyPlacer()">
                        Open Map (translate)
                    </button>
                </div>
            </div>
            <textarea class="form-control" ng-switch-when="stringf" id="a{{ attr.aid }}_{{ attr.oid }}" ng-model="attributeOutputs[attr.aid+'_'+attr.oid]" ng-readonly="readonlyInput"></textarea>
            <p class="input-group" ng-switch-when="date">
                <input type="text" class="form-control" id="a{{ attr.aid }}_{{ attr.oid }}" uib-datepicker-popup="{{ 'date_format_lg' | translate }}" ng-change="getCurrentDate(attributeOutputs[attr.aid+'_'+attr.oid])" is-open="date.opened" datepicker-options="dateOptions" close-text="{{ 'close' | translate }}" ng-model="attributeOutputs[attr.aid+'_'+attr.oid]" ng-readonly="readonlyInput"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-init="date.opened=false" ng-click="date.opened=!date.opened" ng-disabled="readonlyInput"><i class="fa fa-calendar"></i></button>
                </span>
            </p>
            <div ng-switch-when="string-mc">
                <ui-select multiple ng-disabled="readonlyInput" ng-model="attributeOutputs[attr.aid+'_'+attr.oid]" close-on-select="false" name="{{ attr.aid }}_{{ attr.oid }}" id="{{ attr.aid }}_{{ attr.oid }}">
                    <ui-select-match>{{$item.narr}}</ui-select-match>
                    <ui-select-choices repeat="choice in dropdownOptions[attr.aid+'_'+attr.oid] | filter:$select.search">
                        {{choice.narr}}
                    </ui-select-choices>
                </ui-select>
            </div>
            <div ng-switch-when="string-sc">
                <ui-select ng-disabled="readonlyInput" ng-model="attributeOutputs[attr.aid+'_'+attr.oid]"
                name="{{ attr.aid }}_{{ attr.oid }}" id="{{ attr.aid }}_{{ attr.oid }}"
               >
                  <ui-select-match placeholder="{{ attr.val }}">{{ $select.selected.narr }}</ui-select-match>
                  <ui-select-choices repeat="choice in dropdownOptions[attr.aid+'_'+attr.oid] | filter: $select.search">
                    <span ng-bind-html="choice.narr | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
            </div>
            <div ng-switch-when="list">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="hiddenLists[attr.aid+'_'+attr.oid] = !hiddenLists[attr.aid+'_'+attr.oid]" ng-init="hiddenLists[attr.aid+'_'+attr.oid] = true">
                            <i class="fa fa-caret-down" style="font-size: 0.9em; top: 0;" ng-show="hiddenLists[attr.aid+'_'+attr.oid]"></i>
                            <i class="fa fa-caret-up" style="font-size: 0.9em" ng-hide="hiddenLists[attr.aid+'_'+attr.oid]"></i>
                        </button>
                    </span>
                    <input class="form-control" type="text" id="{{ attr.aid }}_{{ attr.oid }}" ng-model="listInput[attr.aid+'_'+attr.oid]" placeholder="{{'field-types.list.new-placeholder'|translate}}" ng-readonly="readonlyInput"/>
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="button" ng-click="addListEntry(attr.aid, attr.oid, 'listInput', 'attributeOutputs')" ng-disabled="!listInput[attr.aid+'_'+attr.oid] || readonlyInput">
                            <i class="fa fa-plus"></i>
                        </button>
                    </span>
                </div>
                <div ng-hide="hiddenLists[attr.aid+'_'+attr.oid] || !attributeOutputs[attr.aid+'_'+attr.oid] ||  attributeOutputs[attr.aid+'_'+attr.oid].length == 0" class="col-md-12 hideable-list">
                    <ol class="list-group inline-list">
                        <li ng-repeat="li in attributeOutputs[attr.aid+'_'+attr.oid] track by $index" class="list-group-item animated-item" ng-mouseenter="hovered = true;" ng-mouseleave="hovered = false;">
                            <span class="delete-icon" ng-show="hovered && !editEntry[attr.aid+'_'+attr.oid][$index]" ng-click="removeListItem(attr.aid, attr.oid, 'attributeOutputs', $index)">
                                <i class="fa fa-remove"></i>
                            </span>
                            <span ng-hide="editEntry[attr.aid+'_'+attr.oid][$index]" ng-click="editListEntry(attr.aid, attr.oid, $index, li)">{{ li.name }}</span>
                            <div class="item-edit-tab" ng-show="editEntry[attr.aid+'_'+attr.oid][$index]">
                                <input type="text" ng-model="attributeOutputs[attr.aid+'_'+attr.oid][$index].name" class="list-item-edit" />
                                <button type="button" class="btn btn-success" ng-click="storeEditListEntry()"><i class="fa fa-check"></i></button>
                                <button type="button" class="btn btn-danger" ng-click="cancelEditListEntry()"><i class="fa fa-ban"></i></button>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
            <div ng-switch-when="epoch">
                <div class="input-group">
                    <div class="input-group-btn" uib-dropdown>
                        <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="readonlyInput">{{ attributeOutputs[attr.aid+'_'+attr.oid].startLabel | translate }} <span class="caret"></span></button>
                        <ul uib-dropdown-menu class="dropdown-menu">
                            <li><a href="" ng-click="attributeOutputs[attr.aid+'_'+attr.oid].startLabel = 'bc'">{{'bc' | translate}}.</a></li>
                            <li><a href="" ng-click="attributeOutputs[attr.aid+'_'+attr.oid].startLabel = 'ad'">{{'ad' | translate}}.</a></li>
                        </ul>
                    </div>
                    <input type="text" class="form-control centered" aria-label="" ng-model="attributeOutputs[attr.aid+'_'+attr.oid].start" ng-readonly="readonlyInput">
                    <span class="input-group-addon">-</span>
                    <input type="text" class="form-control centered" aria-label="" ng-model="attributeOutputs[attr.aid+'_'+attr.oid].end" ng-readonly="readonlyInput">
                    <div class="input-group-btn" uib-dropdown>
                        <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="readonlyInput">{{ attributeOutputs[attr.aid+'_'+attr.oid].endLabel | translate }} <span class="caret"></span></button>
                        <ul uib-dropdown-menu class="dropdown-menu">
                            <li><a href="" ng-click="attributeOutputs[attr.aid+'_'+attr.oid].endLabel = 'bc'">{{'bc' | translate}}.</a></li>
                            <li><a href="" ng-click="attributeOutputs[attr.aid+'_'+attr.oid].endLabel = 'ad'">{{'ad' | translate}}.</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 input-group" style="padding-top: 10px;">
                    <ui-select ng-model="attributeOutputs[attr.aid+'_'+attr.oid].epoch"
                    name="{{ attr.aid+'_'+attr.oid }}" id="{{ attr.aid+'_'+attr.oid }}"
                    ng-disabled="readonlyInput">
                      <ui-select-match placeholder="{{ attr.val }}">{{ $select.selected.narr }}</ui-select-match>
                      <ui-select-choices repeat="choice in dropdownOptions[attr.aid+'_'+attr.oid] | filter: $select.search">
                        <span ng-bind-html="choice.narr | highlight: $select.search"></span>
                      </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div ng-switch-when="dimension">
                <div class="input-group">
                    <input type="number" class="form-control centered" aria-label="" placeholder="{{'field-types.dimension.width-placeholder'|translate}}" min="0" max="9999" step="0.1" ng-model="attributeOutputs[attr.aid+'_'+attr.oid].B" ng-readonly="readonlyInput">
                    <span class="input-group-addon">&times;</span>
                    <input type="number" class="form-control centered" aria-label="" placeholder="{{'field-types.dimension.height-placeholder'|translate}}" min="0" max="9999" step="0.1" ng-model="attributeOutputs[attr.aid+'_'+attr.oid].H" ng-readonly="readonlyInput">
                    <span class="input-group-addon">&times;</span>
                    <input type="number" class="form-control centered" aria-label="" placeholder="{{'field-types.dimension.depth-placeholder'|translate}}" min="0" max="9999" step="0.1" ng-model="attributeOutputs[attr.aid+'_'+attr.oid].T" ng-readonly="readonlyInput">
                    <div class="input-group-btn" uib-dropdown>
                        <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="readonlyInput">
                            {{ attributeOutputs[attr.aid+'_'+attr.oid].unit }} <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu class="dropdown-menu">
                            <li ng-repeat="unit in dimensionUnits"><a href="" ng-click="attributeOutputs[attr.aid+'_'+attr.oid].unit = unit">{{ unit }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <input class="form-control" ng-switch-default type="text" id="a{{ attr.aid }}_{{ attr.oid }}" ng-model="attributeOutputs[attr.aid+'_'+attr.oid]" placeholder="{{ attr.val }}" ng-readonly="readonlyInput"/>
        </div>
    </div>
</div>
