<div ui-tree-handle style="display: table;">
    <div style="display: table-cell;">
        <a ng-click="parent.collapsed = !parent.collapsed" ng-if="parent.children && parent.children.length > 0" class="expandable-toggle">
            <i class="material-icons" aria-hidden="true">{{ parent.collapsed ? 'chevron_right' : 'expand_more' }}
            </i>
        </a>
        <i ng-if="!parent.children || parent.children.length == 0" class="material-icons placeholder">
        </i>
    </div>
    <span ng-click="onClickCallback({target:parent, elem: element})" ng-class="{ 'selected-leaf': element.id == parent.id }" style="display: table-cell; padding-left: 4px;">
        <i class="material-icons md-18" aria-hidden="true" ng-if="parent.typeid == 0">account_balance</i>
        <i class="material-icons md-18" aria-hidden="true" ng-if="parent.typeid == 1">spa</i>
        <span ng-style="getColorForId(parent[typeAttribute])" ng-class="{ 'selected-leaf-child': element.id == parent.id }">{{ parent[displayAttribute] }}</span> <span ng-if="parent[prefixAttribute]" class="contextPrefix">{{ parent[prefixAttribute]}}</span>
    </span>
</div>
<ul ui-tree-nodes="" ng-model="parent.children" ng-if="!parent.collapsed">
    <li ng-repeat="parent in parent.children" data-collapsed="parent.collapsed" ng-include="'includes/new-tree-child.html'" ui-tree-node context-menu="setContextMenu">
    </li>
</ul>
