<div ui-tree-handle>
    <a ng-click="toggle(this)" ng-if="parent.children && parent.children.length > 0" class="expandable-toggle"><span class="fa fa-fw" ng-class="{ 'fa-chevron-right': collapsed, 'fa-chevron-down': !collapsed}" aria-hidden="true"></span></a>
    <span ng-if="!parent.children || parent.children.length == 0" class="fa fa-fw">
    </span>
    <span ng-click="onClickCallback({target:parent, elem: element})" ng-class="{ 'selected-leaf': element.id == parent.id }">
        <i class="fa fa-university fa-fw fa-light fa-small" aria-hidden="true" ng-if="parent.typeid == 0"></i>
        <i class="fa fa-tag fa-fw fa-light fa-small" aria-hidden="true" ng-if="parent.typeid == 1"></i>
        <span ng-if="parent[prefixAttribute]" class="contextPrefix">{{ parent[prefixAttribute]}}</span> <span ng-style="getColorForId(parent[typeAttribute])" ng-class="{ 'selected-leaf-child': element.id == parent.id }">{{ parent[displayAttribute] }}</span>
    </span>
    <span ng-if="getRecLength(parent) > 0" class="badge" style="float: right;">
        {{ getRecLength(parent) }}
    </span>
</div>
<ul ui-tree-nodes="" ng-model="parent.children" ng-class="{ hidden: collapsed }">
    <li ng-repeat="parent in parent.children" ui-tree-node data-collapsed="true" ng-include="'includes/new-tree-child.html'" context-menu="setContextMenu">
    </li>
</ul>
