<div ui-tree-handle style="display: table;" ng-show="contexts.data[r.id].visible">
    <div style="display: table-cell;">
        <a ng-click="toggle(this)" ng-if="contexts.children[r.id] && contexts.children[r.id].length > 0" class="expandable-toggle">
            <i class="material-icons" aria-hidden="true">{{ contexts.data[r.id].collapsed ? 'chevron_right' : 'expand_more' }}
            </i>
        </a>
        <i ng-if="!contexts.children[r.id] || contexts.children[r.id].length == 0" class="material-icons placeholder">
        </i>
    </div>
    <span ui-sref="root.spacialist.context.data({id: r.id })" ui-sref-active="selected-leaf-child" style="display: table-cell; padding-left: 4px;">
        <i class="material-icons md-18" aria-hidden="true" ng-if="contexts.data[r.id].type == 0">account_balance</i>
        <i class="material-icons md-18" aria-hidden="true" ng-if="contexts.data[r.id].type == 1">spa</i>
        <span ng-style="options.getColorForId(contexts.data[r.id].uri)" ng-bind-html="contexts.data[r.id].name | highlight:highlight"></span> <span ng-if="contexts.data[r.id].uri" class="contextPrefix">{{ concepts[contexts.data[r.id].uri].label}}</span>
    </span>
</div>
<ul ui-tree-nodes="" ng-model="contexts.children[r.id]" ng-if="!contexts.data[r.id].collapsed">
    <li ng-repeat="r in contexts.children[r.id]" data-collapsed="contexts.data[r.id].collapsed" ng-show="contexts.data[r.id].visible" data-expand-on-hover="500" ng-include="'includes/tree-child.html'" ui-tree-node context-menu="setContextMenu">
    </li>
</ul>
